.agreement {

    &__title {
        max-width: 712px;
        width: 100%;
        line-height: 53px;
    }

    &__bloc {
        margin-top: 45px;
        max-width: 806px;
        width: 100%;

        @media(max-width:1024px) {
            margin-top: 40px;
        }

        &--dop {
            .agreement__text {
                margin-top: 14px;
            }
        }
    }

    &__article {
        font-weight: bold;
        font-size: 20px;
        line-height: 26px;
        color: $black-1;
    }

    &__list {
        margin-top: 22px;
    }

    &__li {
        position: relative;
        padding-left: 24px;
        line-height: 25px;

        &:not(:first-child) {
            margin-top: 17px;
        }

        &:after {
            position: absolute;
            content: "";
            width: 9px;
            height: 9px;
            background-color: $basic;
            left: -1px;
            top: 7px;
            bottom: auto;
            margin: auto;
            border-radius: 4.5px;
        }
    }

    &__text {
        margin-top: 30px;
        line-height: 25px;

        @media(max-width:1024px) {
            margin-top: 25px;
        }
    }
}