.inner-slider {
    position: relative;
    width: 100%;
    margin-top: 38px;

    &__word {
        font-weight: bold;
        font-size: 14px;
        line-height: 21px;
        color: $ochre;
        text-transform: uppercase;
    }

    &__bottom,
    &__ref {
        display: flex;
        align-items: center;
    }

    &__ref {
        img {
            margin-right: 8px;
        }
    }

    &__bottom {
        display: none;

        @media(max-width: 1235px) {
            display: flex;
            margin-top: 26px;
        }

        @media(max-width: 640px) {
            margin-top: 16px;
        }
    }

    &__pic {
        position: absolute;
        height: 100%;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        transform: translateX(-50%);
        margin-left: 50%;
        max-width: 100vw;
        min-width: 100%;
        width: calc(100vw - 0px);

        @media(max-width: 1235px) {
            position: relative;
            width: 100%;
            transform: none;
            margin-left: auto;
        }
    }

    &__num {
        display: flex;
        justify-content: center;
        color: white;
        font-weight: bold;
        font-size: 50px;
        line-height: 108%;

        @media(max-width: 1235px) {
            color: $basic;
            font-size: 30px;
            line-height: normal;
            letter-spacing: 0.3px;
        }

        @media(max-width: 768px) {
            font-size: 18px;
            line-height: 29px;
        }

        @media(max-width: 640px) {
            font-weight: normal;
            font-size: 16px;
            line-height: 160%;
        }



    }

    &__inner {
        align-self: flex-end;

        @media(max-width: 1235px) {
            align-self: normal;
        }
    }

    &__wrapper {
        width: 183px;
        height: 102px;
        background-color: $black-1;
        align-self: flex-end;
        margin-top: 6px;

        @media(max-width: 1235px) {
            display: none;
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        position: absolute;
        height: 100%;
        margin: 0 auto;
        left: 0;
        right: 0;

        @media(max-width: 1235px) {
            padding-bottom: 70px;
        }
    }

    &__title {
        max-width: 411px;
        width: 100%;
        color: white;
        margin-right: 20px;
        letter-spacing: 1px;

        @media(max-width: 1235px) {
            color: $black-1;
        }

        @media(max-width: 640px) {
            font-weight: bold;
            font-size: 20px;
            line-height: 26px;
        }
    }

    &__box {
        display: flex;
        justify-content: space-between;
        z-index: 1;

        @media(max-width: 1235px) {
            margin-top: 32px;
        }
    }

    &__cover {
        display: flex;
        min-height: 180px;
        align-items: center;
        padding-bottom: 84px;
        max-width: 936px;
        width: 100%;

        @media(max-width: 1235px) {
            padding-bottom: 0;
            min-height: auto;
        }

        .btn {
            @media(max-width: 1235px) {
                display: none;
            }
        }
    }

    &__pagination {
        height: 100%;
        display: flex;
    }

    &__link {
        position: relative;
        height: 100%;
        width: 50%;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        .b-svg {
            position: relative;
            width: 26px;
            height: 10px;
            fill: white;
        }

        &--next {
            transform: scale(-1, 1);
            transform-origin: center;

            .b-svg {
                right: -5px;
            }
        }

        &--prev {
            .b-svg {
                left: 5px;
            }
        }
    }

    .swiper-slide {
        position: relative;
        min-height: 960px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        @media(max-width: 1600px) {
            min-height: 780px;
        }

        @media(max-width: 1300px) {
            min-height: 710px;
        }

        @media(max-width: 1024px) {
            min-height: 600px;
        }

        @media(max-width: 640px) {
            min-height: 398px;
        }
    }

    .btn {
        margin-top: 16px;
        align-items: center;

        &__txt {
            color: white;
        }
    }
}