.object {
    background-image: url(./img/card/object.jpg);
    background-position: 54.5% center;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
    background-color: #464646;

    @media(max-width: 1024px) {
        height: 800px;
    }

    @media(max-width: 768px) {
        height: 700px;
    }

    @media(max-width: 640px) {
        height: 580px
    }

    &__container {
        height: 100%;
    }

    &__inner {
        position: absolute;
        top: auto;
        bottom: 27px;
        left: 0;
        right: 0;
        height: 80.6%;
        // height: 100%;
        // background-color: rgba(0, 0, 0, .5);
        min-width: 20.67%;
        width: 397px;
        margin-left: 54.9%;
        margin-right: 24.5%;

        @media(max-width: 1024px) {
            width: 294px;
            bottom: 16px;
        }

        @media(max-width: 768px) {
            width: 256px;
        }


        @media(max-width: 640px) {
            width: 212px;
        }

    }

    &__panel {
        position: absolute;
        min-height: 288px;
        left: 0;
        bottom: 0;
        min-width: 935px;
        background: rgba(30, 32, 44, .54);
        padding: 70px 204px 85px 343px;

        @media(max-width: 1300px) {
            width: 690px;
            padding: 70px 204px 85px 98px;
        }

        @media(max-width: 1235px) {
            width: 690px;
            padding: 70px 204px 60px 98px;
            min-height: 254px;
        }

        @media(max-width: 1024px) {
            padding: 40px 204px 40px 98px;
            min-height: 190px;
            width: 100%;
            min-width: initial;
        }

        @media(max-width: 992px) {
            padding: 40px 175px 40px 80px;
        }

        @media(max-width: 640px) {
            padding: 35px 16px;
            minheight: 173px;
            width: 100%;
        }
    }

    &__img {
        width: 19px;
        height: 19px;
        margin-right: 8px;
        margin-top: 5px;

        @media(max-width: 640px) {
            display: none;
        }

        .b-svg {
            height: 100%;
            width: 100%;
            fill: white;
        }
    }

    &__title {
        color: white;
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        margin-top: 34px;
        margin-left: -50px;

        @media(max-width: 640px) {
            margin-top: 19px;
            margin-left: -10px;
        }
    }

    &__txt {
        @media(max-width: 640px) {
            line-height: 30px;
        }
    }

    &__box {
        @media(max-width: 640px) {
            letter-spacing: 1.3px;
        }
    }

    &__item {
        display: flex;
        margin-left: 50px;
        color: #fff;
        width: calc(50% - 50px);
        max-width: 142px;

        @media(max-width: 640px) {
            margin-left: 10px;
            width: calc(50% - 10px);
        }
    }

    img {
        opacity: 0;
        visibility: hidden;
    }
}