.project {

    &__img {
        height: 460px;

        @media(max-width: 1235px) {
            height: 350px;
        }

        @media(max-width: 1024px) {
            height: 225px;
        }

        @media(max-width: 640px) {
            height: 195px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__items {
        display: flex;
        // margin-left: -152px;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 70px;

        @media(max-width: 922px) {
            max-width: 460px;
            margin-bottom: 50px;
        }

        @media(max-width: 640px) {
            max-width: 300px;
            margin-bottom: 25px;
        }
    }

    &__item {
        display: flex;
        //  margin-left: 152px;
        //  width: calc(33.333% - 152px);

        &:not(:last-child) {
            margin-right: 156px;

            @media(max-width: 1235px) {
                margin-right: 60px;
            }

            @media(max-width: 1024px) {
                margin-right: 25px;
            }

            @media(max-width: 922px) {
                margin-right: 10px;
            }
        }
    }

    &__num {
        font-style: normal;
        font-weight: bold;
        font-size: 50px;
        line-height: 54px;
        padding-top: 18px;

        @media(max-width: 922px) {
            font-size: 35px;
            line-height: 39px;
            padding-top: 0;
        }
    }

    &__pic {
        width: 63px;
        height: 63px;
        margin-right: 22px;

        @media(max-width: 922px) {
            width: 45px;
            height: 45px;
            margin-right: 10px;
        }

        @media(max-width: 640px) {
            display: none;
        }

        .b-svg {
            height: 100%;
            width: 100%;
            fill: $ochre;
        }
    }

    &__txt {
        margin-top: 10px;
        font-size: 16px;
        line-height: 26px;

        @media(max-width: 1024px) {
            margin-top: 0;
        }

        @media(max-width: 922px) {
            font-size: 14px;
            line-height: 24px;
        }
    }

    &__box {
        // margin-top: 70px;

        // @media(max-width: 1024px) {
        //     margin-top: 50px;
        // }

        // @media(max-width: 640px) {
        //     margin-top: 24px;
        // }
    }

    &__info {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.3px;
        margin-top: 24px;
    }

    &__bloc {
        &:not(:first-child) {
            margin-top: 50px;

            @media(max-width: 640px) {
                margin-top: 40px;
            }
        }
    }

    &__func {
        display: flex;
        justify-content: space-between;
        margin-top: 50px;

        @media(max-width: 1235px) {
            flex-direction: column;
            align-items: flex-start;
        }

        @media(max-width: 640px) {
            margin-top: 28px;
            margin-left: 3px;
        }

        .btn {
            max-width: 488px;
            margin: 0;

            @media(max-width: 1235px) {
                margin-top: 25px;
            }
        }

        .inner-slider__ref {
            display: none;
            margin-top: 20px;

            @media(max-width: 640px) {
                display: flex;
            }
        }
    }

    &__link {
        position: relative;
        display: flex;
        align-self: center;
        align-items: center;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 30px;
        letter-spacing: 0.3px;
        text-transform: uppercase;
        margin-right: 35px;

        @media(max-width: 1235px) {
            align-self: flex-start;
            margin-right: 0;
        }

        &:hover {
            color: $ochre;

            path {
                //fill: none;
                stroke: $ochre;
            }
        }
    }

    &__text {
        font-weight: bold;
        font-size: 18px;
        line-height: 30px;
        /* identical to box height, or 167% */

        letter-spacing: 0.3px;
        text-transform: uppercase;

        @media(max-width: 640px) {
            font-weight: bold;
            font-size: 14px;
            line-height: 150%;
            letter-spacing: 0.3px;
        }
    }

    &__ic {
        fill: none;
        stroke: black;
        height: 40px;
        width: 30px;
        margin-right: 11px;

        @media(max-width: 640px) {
            height: 21px;
            width: 18px;
        }

        svg {
            height: 100%;
            width: 100%;
            stroke: transparent;
        }

        path {
            transition: stroke linear .3s;
        }
    }
}