.project-period {
    margin-top: 74px;

    &__pagination {
        display: flex;
        align-items: center;
        margin-top: 16px;
        justify-content: center;

        .swiper-pagination-bullet {
            width: 15px;
            height: 15px;
            transform: rotate(45deg);
            -webkit-border-radius: 0 !important;
            border-radius: 0 !important;
            background-color: #d8bb54;
            opacity: .5;

            &:not(:last-child) {
                margin-right: 17px;
            }
        }

        .swiper-pagination-bullet-active {
            opacity: 1;
        }
    }

    &__wrapper {
        position: absolute;
        top: auto;
        z-index: 1;
        width: 183px;
        height: 102px;
        right: 0;
        bottom: 0;

        @media(max-width: 640px) {
            display: none;
        }
    }

    &__img {
        height: 6px;
        display: flex;
        align-items: center;
        transform-origin: center;
        transition: 400ms ease;
        margin-top: -6px;
    }

    &__cover {
        overflow: hidden;
        max-width: 277px;
        width: 100%;
    }

    &__box {
        position: relative;
        max-width: 277px;
        width: 100%;
        height: 62px;
        margin-top: 22px;

        box-sizing: border-box;
        padding: 18px 18px 18px 26px;
        cursor: pointer;

        @media(max-width: 500px) {
            max-width: 100%;
        }


        &--active {
            border-bottom: none !important;

            .project-period__list {
                opacity: 1;
                visibility: visible;
            }

            .project-period__img {
                transform: scale(1, -1);
            }
        }
    }

    &__slider {
        position: relative;
        margin-top: 32px;
        overflow: hidden;
        height: 518px;
        box-sizing: content-box;


        @media(max-width: 1235px) {
            height: 350px;
        }

        @media(max-width: 1024px) {
            height: 320px;
        }

        @media(max-width: 640px) {
            height: 195px;
            padding-bottom: 35px;
        }

        .swiper-slide {
            position: relative;
            height: 100%;
            width: 100%;

            &:after {
                position: absolute;
                content: "";
                width: 100%;
                height: 100%;
                background: transparentize($color: #000000, $amount: 0.9);
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
            }


            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        img,
        div {
            margin-top: 0;
        }

        .project-period__pagination {
            margin-top: 16px;
        }

        .swiper-menu {
            justify-content: center;
        }
    }

    &__bloc {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        padding: 18px 13px 18px 26px;
        border: 2px solid $gray-1 !important;
    }

    &__list {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        background-color: transparent;
        left: 0;
        border: 2px solid $gray-1 !important;
        right: 0;
        margin: auto;
        border-top: none;
        box-sizing: border-box;
        padding: 18px 18px 18px 26px;
        min-height: auto;
        overflow: hidden;
        transition: .2s ease-out;
        z-index: 1;
        top: 60px;
        bottom: auto;
        max-height: 175px;
        z-index: 2;
        background-color: white;

        width: 100%;
        left: 0;
        max-width: 100%;
        border-top: none !important;
    }

    &__text {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.3px;
    }

    &__title {
        @media(max-width: 640px) {
            font-size: 30px;
            line-height: 120%;
        }
    }

    &__unit {
        color: $black-1;

        &:not(:first-child) {
            margin-top: 24px;
        }

        & label {
            display: inline-block;
            cursor: pointer;
            position: relative;
            margin-right: 0;
            line-height: 18px;
            user-select: none;
            transition: 400ms ease;

            &:hover {
                color: $basic;
            }
        }

        & input[type=radio]:checked+label {
            color: $basic;
        }

        & input {
            display: none;
        }
    }

    .inner-slider__in {
        top: 0;
        bottom: 0;
        margin: auto;
        position: absolute;
        left: 0;
        right: 0;
    }

    &--simple {
        margin-top: 50px;

        .inner-slider__inner {
            position: absolute;
            bottom: 0;
            z-index: 4;
            right: 0;
        }

        .inner-slider__pagination {
            position: relative;
        }

        .project-period__slider {
            margin-top: 0;
        }
    }

    &--big {
        .project-period__slider {
            height: 595px;

            @media(max-width: 1600px) {
                height: 490px;
            }

            @media(max-width: 1235px) {
                height: 400px;
                padding-bottom: 35px;
            }

            @media(max-width: 1024px) {
                height: 265px;
            }

            @media(max-width: 600px) {
                height: 194px;
            }
        }
    }
}