.card-flats {
    &__text {
        @media(max-width:600px) {
            letter-spacing: 0;
        }
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        margin-top: 16px;
        margin-left: -40px;
        max-width: 816px;
        // width: 100%;

        @media(max-width: 1235px) {
            margin-left: -35px;
        }

        @media(max-width: 992px) {
            max-width: 570px;
            margin-left: -10px;
        }

        @media(max-width: 768px) {
            max-width: 100%;
            margin-top: 15px;
        }

        @media(max-width:600px) {
            margin-top: 3px;
            margin-left: -13px;
        }
    }

    &__item {
        width: calc(25% - 40px);
        margin-left: 40px;
        margin-top: 21px;

        @media(max-width: 1235px) {
            width: auto;
            margin-left: 35px;
        }

        @media(max-width: 1024px) {
            margin-top: 20px;
        }

        @media(max-width: 992px) {
            width: calc(33.333% - 10px);
            margin-left: 10px;
        }

        @media(max-width: 768px) {
            width: calc(25% - 10px);
            margin-left: 10px;
            margin-top: 15px;
        }

        @media(max-width: 640px) {
            width: calc(33.333% - 10px);
            margin-left: 10px;
        }

        @media(max-width: 600px) {
            width: calc(50% - 13px);
            margin-left: 13px;
            margin-top: 25px;
            font-size: 15px;
            line-height: 20px;
        }
    }
}