$black-1: #1E202C;
$black-2: #474951;
$black-3: #2C2925;
$basic: #4A4A4A;
$gray-1: #E1E1E1;
$gray-2: #CECECE;
$gray-3: #FAFAFA;
$gray-4: #E2E2E2;
$gray-5: #90939F;
$ochre: #D8BB54;
$ochre-2: #FFF4CF;
$green: #2E910B;

$brown-1: #949494;