// @font-face {
//     font-family: 'Inter';
//     src: local('Inter'), local('Inter'), url('../fonts/Inter/Inter-Regular-slnt=0.ttf') format('ttf');
//     font-weight: normal;
//     font-style: normal;
//     font-display: swap;
// }

@font-face {
    font-family: 'Inter';
    src: local('Inter'), local('Inter'), url('../fonts/Inter/Inter-Black-slnt=0.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

// @font-face {
//     font-family: 'Inter';
//     src: local('Inter'), local('Inter'), url('../fonts/Inter/Inter-ExtraLight-slnt=0.ttf') format('ttf');
//     font-weight: 300;
//     font-style: normal;
//     font-display: swap;
// }