.index-certificate {
    margin-top: 71px;

    &__grid {
        display: flex;

        @media(max-width: 992px) {
            flex-direction: column;
        }
    }

    &__left {
        max-width: 685px;
        width: 100%;
        margin-right: 37px;
        width: calc(100% - 685px - 37px);

        @media(max-width: 1235px) {
            max-width: 420px;
            margin-right: 37px;
            width: calc(100% - 420px - 37px);
        }

        @media(max-width: 992px) {
            width: 100%;
            max-width: 100%;
        }

        @media(max-width: 992px) {
            max-width: 620px;
        }
    }

    &__right {
        max-width: 685px;
        width: 100%;
        padding-top: 10px;

        @media(max-width: 1235px) {
            max-width: 420px;
        }

        @media(max-width: 992px) {
            width: 100%;
            max-width: 100%;
            padding-top: 0;
            margin-top: 32px;
        }

        .index-project__wrapper {
            position: relative;
            margin-top: -52px;

            @media(max-width: 992px) {
                margin-top: -52px;
                margin-left: auto;
                display: flex;
            }

            @media(max-width: 600px) {
                display: none;
            }
        }
    }

    &__txt {
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.3px;
        color: $gray-1;
        margin-top: 8px;
    }

    &__unique {
        position: relative;
        height: 318px;

        @media(max-width: 992px) {
            height: 298px;
        }
    }

    &__wrapper {
        height: 100%;
        position: relative;
    }

    &__cer {
        position: absolute;
        width: calc(100% + 318px);
        height: auto;
        overflow: hidden;

        @media(max-width: 1235px) {
            width: calc(100% + 500px);
        }

        @media(max-width: 992px) {
            width: 100%;
            max-width: 100%;
        }
    }

    .swiper-slide {
        display: block;
        height: auto;

        img {
            height: auto;
            width: 100%;
        }
    }
}