.index {
    &__block {
        display: flex;
        justify-content: space-between;
        position: absolute;
        width: calc(100% + 360px);
        height: 100%;

        @media(max-width: 992px) {
            position: relative;
            width: 100%;
        }
    }

    &__bloc {
        margin-top: 18px;

        @media(max-width: 640px) {
            margin-top: 0;
        }
    }

    &__box {
        flex-direction: column;

        @media(max-width: 640px) {
            flex-direction: initial;
        }
    }

    &__grid {
        display: flex;
        align-items: center;
    }

    &__special {
        position: relative;
        min-height: 684px;

        @media(max-width: 1024px) {
            min-height: 560px;
        }

        @media(max-width: 640px) {
            min-height: auto;
        }

        &:nth-child(2n) {
            .index__block {
                right: 0;
            }
        }

        &:not(:first-child) {
            min-height: 766px;
            margin-top: 71px;

            @media(max-width: 1024px) {
                min-height: 560px;
            }

            @media(max-width: 640px) {
                min-height: auto;
                margin-top: 0;
            }
        }

        &--main {
            .index__items {
                flex-direction: row-reverse;
                width: 100%;

                @media(max-width: 992px) {
                    flex-direction: column;
                }
            }
        }
    }

    &__slider {
        margin-top: 70px;

        .index__special {
            min-height: 766px;

            @media(max-width: 992px) {
                min-height: auto;
            }

            .index__block {
                left: auto;
                right: auto;
            }

            &:nth-child(odd) {
                .index__block {
                    right: 0;
                    left: auto;

                }
            }

            &:nth-child(even) {

                .index__block {
                    justify-content: flex-end;
                }

                .index__items {
                    flex-direction: row-reverse;

                    @media(max-width: 992px) {
                        flex-direction: column;
                    }
                }

                .index__left {
                    margin-right: 0;
                }

                .index__right {
                    margin-right: 122px;

                    @media(max-width: 1024px) {
                        margin-right: 65px;
                    }
                }

                .index__info {
                    right: auto;
                    left: -52px;

                    @media(max-width: 1235px) {
                        right: auto;
                        left: -25px;
                    }
                }
            }
        }

        .swiper-pagination-bullet {
            width: 15px;
            height: 15px;
            transform: rotate(45deg);
            border-radius: 0 !important;
            background-color: $ochre;
            opacity: 0.5;

            &:not(:last-child) {
                margin-right: 17px;
            }
        }

        .swiper-pagination {
            position: relative;
            display: flex;
            // margin-top: 135px;
            margin-left: 4px;
            margin-top: 117px;

            @media(max-width: 1024px) {
                margin-top: 0;
                margin-left: auto;
            }

            @media(max-width: 500px) {
                margin: 0 auto;
                margin-top: 24px;
                margin-bottom: 5px;
            }
        }

        .swiper-pagination-bullet-active {
            opacity: 1;
        }
    }

    &__items {
        display: flex;

        @media(max-width: 992px) {
            max-width: 100%;
            flex-direction: column;
        }
    }

    &__wrp {
        display: none;

        @media(max-width: 992px) {
            display: flex;
            margin-left: auto;
        }
    }

    &__left {
        position: relative;
        height: 710px;
        max-width: 950px;
        width: 100%;
        margin-right: 122px;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        @media(max-width: 1235px) {
            margin-right: 65px;
        }

        @media(max-width: 1024px) {
            height: 100%;
        }

        @media(max-width: 992px) {
            margin-right: 0;
            height: 370px;
        }

        @media(max-width: 640px) {
            height: 194px
        }
    }

    &__right {
        align-items: normal;
        justify-content: normal;
        padding-top: 217px;
        max-width: 472px;
        width: 100%;

        @media(max-width: 1024px) {
            display: flex;
            align-items: center;
            padding-top: 0;
        }

        @media(max-width: 993px) {
            max-width: 100%;
            margin-top: 34px;
        }

        @media(max-width: 640px) {
            margin-top: 24px;
        }
    }

    &__info {
        position: absolute;
        display: flex;
        flex-direction: column;
        content: "";
        width: 385px;
        min-height: 385px;
        background: rgba(30, 32, 44, 0.58);
        backdrop-filter: blur(8px);
        bottom: 0;
        right: 0;
        color: white;
        padding: 59px 130px 61px 69px;
        bottom: -57px;
        right: -52px;

        @media(max-width: 1235px) {
            width: 280px;
            min-height: 280px;
            padding: 30px;
            bottom: -35px;
            right: -25px;
        }

        @media(max-width: 992px) {
            display: none
        }
    }

    &__num {
        font-size: 59px;
        line-height: 71px;
        font-weight: bold;

        @media(max-width: 1024px) {
            font-size: 45px;
            line-height: 53px;
        }
    }

    &__txt {
        font-size: 16px;
        line-height: 26px;
    }


    &__func {
        display: flex;
        align-items: center;

        .b-svg {
            margin-right: 12px;


            .fill {
                fill: transparent;
                transition: fill 400ms ease;
            }
        }


        &:hover .fill {
            fill: $ochre;
        }
    }

    &__part {
        &:not(:first-child) {
            margin-top: 12px;
        }
    }

    &__btn {
        margin-top: 30px;

        @media(max-width: 1024px) {
            margin-top: auto;
        }
    }

    &__word {
        font-weight: 1;
        font-size: 18px;
        line-height: 30px;
        text-transform: uppercase;

        @media(max-width: 1235px) {
            font-size: 16px;
            line-height: 19px;
        }

        @media(max-width: 1024px) {
            font-size: 14px;
            line-height: 21px;
        }
    }

    &__itm {
        font-size: 16px;
        line-height: 160%;
        text-transform: lowercase;
        font-weight: normal;

        &:not(:last-child) {
            margin-right: 8px;
        }

        span {
            font-weight: bold;
        }
    }

    &__status {
        display: flex;
        align-items: center;
        position: relative;
        font-weight: bold;
        font-size: 14px;
        line-height: 30px;
        padding-left: 5px;
        text-transform: uppercase;
        transform: translateY(-13px);

        @media(max-width: 992px) {
            transform: none;
            padding-right: 7px;
        }

        @media(max-width: 640px) {
            display: none;
        }

        img {
            margin-right: 11px;
        }
    }

    &__inner {
        width: 100%;
    }

    &__pag {
        display: flex;
        justify-content: center;
        margin-top: 24px;
    }

}