.index-example {
    background-color: $black-1;

    &__pagination {
        display: none;
        align-items: center;
        margin-top: 24px;

        @media(max-width: 1024px) {
            display: flex
        }

        @media(max-width: 620px) {
            flex-direction: column;
            align-items: flex-start;
        }

        .swiper-menu {
            margin-left: 0;
        }

        .btn {
            margin-top: 0;
            margin-left: auto;

            @media(max-width: 620px) {
                margin-left: 0;
                margin-top: 24px;
            }
        }
    }

    &__container {
        padding-top: 101px;

        @media(max-width: 1024px) {
            padding-top: 58px;
        }

        @media(max-width: 640px) {
            padding-bottom: 50px;
        }
    }

    &__slider {
        margin-top: 71px;

        @media(max-width: 1024px) {
            margin-top: 54px;
        }

        @media(max-width: 640px) {
            margin-top: 24px;
        }
    }

    &__title {
        color: white;
        letter-spacing: 1.4px;

        @media(max-width: 768px) {
            text-align: center;
        }
    }

    &__grid {
        display: flex;

        @media(max-width: 640px) {
            flex-direction: column;
        }
    }

    &__left {
        width: 645px;
        height: 493px;
        margin-right: 67px;

        @media(max-width: 1235px) {
            width: 500px;
            height: 382px;
        }

        @media(max-width: 1024px) {
            width: 374px;
            height: 285px;
        }

        @media(max-width: 768px) {
            margin-right: 45px;
            width: 290px;
            height: 299px;
        }

        @media(max-width: 640px) {
            width: 290px;
            height: 220px;
            margin: 0 auto;
        }

        img {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }

    &__right {
        padding-top: 30px;
        width: calc(100% - 645px - 67px);

        @media(max-width: 1235px) {
            width: calc(100% - 500px - 67px);
        }

        @media(max-width: 1024px) {
            width: calc(100% - 374px - 67px);
        }

        @media(max-width: 768px) {
            width: calc(100% - 290px - 45px);
            padding-top: 4px;
        }

        @media(max-width: 640px) {
            width: 100%;
            padding-top: 0;
            margin-top: 32px;
        }

        .btn {
            margin-top: 39px;
            letter-spacing: .5px;

            @media(max-width: 1024px) {
                display: none;
            }

            &__cover {
                margin-right: 9px !important;
            }
        }
    }

    &__items {
        display: flex;
    }

    &__item {
        &:not(:last-child) {
            margin-right: 32px;

            @media(max-width: 768px) {
                margin-right: 25px;
            }

            @media(max-width: 640px) {
                margin-right: 35px;
            }
        }
    }

    &__header {
        font-size: 16px;
        line-height: 29px;
        letter-spacing: 0.3px;
        color: white;
    }

    &__info {
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.3px;
        color: $gray-2;
        margin-top: 4px;
    }

    &__txt {
        font-size: 16px;
        line-height: 26px;
        color: $gray-1;
        letter-spacing: 0.3px;
        max-width: 431px;
        margin-top: 31px;

        @media(max-width: 1235px) {
            max-width: 560px;
        }

        @media(max-width: 1024px) {
            max-width: 100%;
        }

        @media(max-width: 768px) {
            margin-top: 26px;
        }

        @media(max-width: 640px) {
            margin-top: 24px;
        }

    }

    .index-project__wrapper {
        position: relative;
        margin-top: -22px;
        margin-left: auto;

        @media(max-width: 1235px) {
            margin-top: auto;
        }
    }

    .inner-slider__wrapper {}
}