.index-project {

    margin-top: 71px;

    &__unit {
        @media(max-width: 992px) {
            display: none;
        }

        &--laptop {
            display: none;

            @media(max-width: 992px) {
                display: block;
            }

            @media(max-width: 768px) {
                max-width: 647px;
            }
        }
    }

    &__container {
        @media(max-width: 992px) {
            padding-top: 44px;
            padding-bottom: 70px;
        }
    }

    &__title {
        line-height: 43px;

        @media(max-width: 640px) {
            line-height: 30px;
        }
    }

    &__wrp {
        height: 100%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;

        @media(max-width: 992px) {
            flex-direction: column;
        }
    }

    &__bloc {
        margin-top: 17px;

        @media(max-width: 992px) {
            margin-top: 0;
        }

        @media(max-width: 768px) {
            max-width: 260px;
        }

        @media(max-width: 600px) {
            margin-top: 26px;
        }

    }

    &__btn {
        margin-top: 32px;

        @media(max-width: 992px) {
            display: none;
        }
    }

    &__block {
        position: absolute;
        width: 1560px;
        height: 100%;

        .btn {
            @media(max-width: 1024px) {
                margin-top: 0;
            }

            @media(max-width: 500px) {
                margin-top: 16px;
            }
        }


        @media(max-width: 992px) {
            position: relative;
            width: 100%;
            height: 100%;
        }

        .index-content__func {
            display: none;

            @media(max-width: 992px) {
                display: flex;
            }
        }
    }

    &__inner {
        margin-top: 32px;
        background-color: $black-1;

        .title-2 {
            color: white;
        }
    }

    &__special {
        position: relative;
        min-height: 627px;

        @media(max-width: 1024px) {
            min-height: 560px;
        }

        @media(max-width: 640px) {
            min-height: auto;
        }

        &:nth-child(2n) {
            .index__block {
                right: 0;
            }
        }

        &:not(:first-child) {
            min-height: 766px;
            margin-top: 71px;
        }

        .index__items {
            flex-direction: row-reverse;
        }
    }

    &__wrapper {
        position: absolute;
        display: flex;
        width: 183px;
        height: 102px;
        bottom: 0;
        z-index: 1;

        @media(max-width: 992px) {
            display: none;
        }
    }

    &__link {
        position: relative;
        height: 100%;
        width: 50%;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        .b-svg {
            position: relative;
            width: 26px;
            height: 10px;
            fill: white;
        }

        &--next {
            transform: scale(-1, 1);
            transform-origin: center;

            .b-svg {
                right: -9px;
            }
        }

        &--prev {
            .b-svg {
                right: -4px;
            }
        }
    }

    &__arr {
        @extend .index-project__link;

        &:first-child {
            .b-svg {
                right: -4px;
            }
        }

        &:last-child {
            transform: scale(-1, 1);
            transform-origin: center;

            .b-svg {
                right: -9px;
            }
        }
    }

    &__img {
        position: relative;
        max-width: 1050px;
        width: 100%;
        overflow: hidden;

        @media(max-width: 1235px) {
            max-width: 1100px;
        }

        @media(max-width: 992px) {
            height: 370px;
        }

        @media(max-width: 640px) {
            height: 194px;
        }

        .swiper-slide {
            position: relative;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    &__pic {
        height: 100%;

        @media(max-width: 1024px) {
            height: 100%;
        }
    }

    &__content {
        position: relative;
        max-width: 488px;
        width: 100%;
        margin-right: 20px;
        overflow: hidden;
        padding-bottom: 55px;
        box-sizing: border-box;
        color: $gray-1;
        min-height: 627px;

        @media(max-width: 1235px) {
            max-width: 400px;
        }

        @media(max-width: 992px) {
            height: auto;
            min-height: auto;
            max-width: 100%;
            padding-bottom: 0;
        }

        .swiper-slide {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .swiper-pagination-bullet {
            width: 16px;
            height: 16px;
            transform: rotate(45deg);
            border-radius: 0 !important;
            background-color: $ochre;
            opacity: 0.5;

            &:not(:last-child) {
                margin-right: 13px;
            }
        }

        .swiper-pagination-bullet-active {
            opacity: 1;
        }

        .project-pagination {
            display: none;

            @media(max-width: 992px) {
                position: relative;
                display: flex;
                margin-left: auto;
                margin-bottom: 4px;
            }

            @media(max-width: 500px) {
                margin: 24px auto 4px;
            }
        }

        .index-content__inner {
            margin-top: -24px;

            @media(max-width: 992px) {
                margin-top: 24px;
            }
        }
    }


    &__grid {
        display: flex;

        @media(max-width: 992px) {
            flex-direction: column;
        }
    }

    &__num {
        font-weight: bold;
        font-size: 89px;
        line-height: 108px;
        color: $ochre;

        @media(max-width: 1024px) {
            font-weight: bold;
            font-size: 75px;
            line-height: 60px;
        }

        @media(max-width: 992px) {
            margin-right: 14px;
            min-width: 97px;
        }
    }

    &__about {
        margin-top: 102px;

        @media(max-width: 992px) {
            margin-top: 70px;
        }

        .index-project__container {
            @media(max-width: 992px) {
                padding-top: 0;
            }
        }
    }

    &__items {
        max-width: 345px;
        width: 100%;

        @media(max-width:992px) {
            display: flex;
            flex-wrap: wrap;
            max-width: 100%;
            width: 100%;
            margin-right: 0;
            margin-left: -25px;
            margin-top: 30px;
        }

        @media(max-width: 767px) {
            margin-left: 0;
        }

        @media(max-width: 640px) {
            display: none;
        }

        &--mobile {
            display: none;

            @media(max-width: 640px) {
                display: flex;
            }
        }
    }

    &__article {
        letter-spacing: 1.5px;

        @media(max-width: 992px) {
            letter-spacing: normal;
        }
    }

    &__text {
        margin-top: 10px;
        letter-spacing: .4px;
        color: $gray-1;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.3px;

        @media(max-width: 992px) {
            font-size: 16px;
            line-height: 160%;
        }

        @media(max-width: 600px) {
            margin-top: 6px;
        }
    }

    &__item {

        &:first-child {
            .index-project__article {
                @media(max-width:600px) {
                    max-width: 175px;
                    line-height: 22px;
                }
            }
        }

        &:not(:first-child) {
            margin-top: 90px;

            @media(max-width: 1024px) {
                margin-top: 65px
            }

            @media(max-width:992px) {
                margin-top: 32px;
            }

            @media(max-width:600px) {
                margin-top: 40px;
            }
        }

        @media(max-width:992px) {
            display: flex;
            width: calc(50% - 25px);
            margin-left: 25px;
            margin-top: 32px;
            // max-width: 364px;
        }

        @media(max-width:767px) {
            display: flex;
            width: 100%;
            margin-left: 0;
            margin-top: 32px;
        }

        @media(max-width:600px) {
            flex-direction: column;
        }




        &--laptop {
            display: none;

            @media(max-width: 1024px) {
                display: inline-flex;
            }

            @media(max-width: 768px) {
                display: none;
            }

            .btn {
                align-items: normal;
                margin-top: 33px;


                @media(max-width: 1024px) {
                    font-size: 18px;
                    line-height: 30px;
                    letter-spacing: 3.3px;
                    text-transform: uppercase;
                    align-self: normal;
                }

                @media(max-width: 768px) {
                    margin-top: 0;
                }
            }
        }

        &:nth-child(2) {
            .index-project__num {
                min-width: 54px;

                @media(max-width: 767px) {
                    min-width: 97px;
                }
            }
        }
    }

    &__left {
        width: calc(100% - 688px - 37px);
        margin-right: 37px;

        @media(max-width:1235px) {
            max-width: 420px;
            width: 100%;
        }

        @media(max-width:992px) {
            max-width: 100%;
            width: 100%;
            margin-right: 0;
        }
    }

    &__right {
        padding-top: 12px;
        max-width: 688px;
        width: 100%;

        @media(max-width:1235px) {
            max-width: 650px;
            width: 100%;
        }

        @media(max-width:1024px) {
            padding-top: 0;
        }

        .index-content__func {
            margin-top: 0;
        }
    }

    &__module {
        max-width: 683px;
        width: 100%;
        margin-top: 17px;

        @media(max-width: 992px) {
            max-width: 100%;
        }
    }

    &__paragraph {
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.3px;
        color: $gray-1;

        &:not(:first-child) {
            margin-top: 24px;
        }
    }

    &__wrap {
        height: 269px;
        position: relative;
    }

    &__cover {
        height: 269px;
        position: absolute;
        width: calc(100% + 650px);
        height: 100%;
    }

    &__unique {
        position: relative;
        min-height: 358px;
        margin-top: 45px;

        @media(max-width: 1024px) {
            min-height: auto;
        }

        @media(max-width: 768px) {
            margin-top: 40px;
        }

        .index-project__wrapper {
            position: relative;
            margin-left: auto;
            margin-top: -52px;
            margin-right: 0;
        }

        .btn {
            margin-top: 43px;
        }

        &--cert {
            margin-top: 0;
        }
    }

    &__example {
        position: absolute;
        width: 100%;
        height: 269px;
        overflow: hidden;

        @media(max-width: 640px) {}

        .swiper-slide {
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
    }

    &__case {
        display: flex;

        @media(max-width: 1024px) {
            display: none;
        }
    }

    &__cert {
        margin-top: 71px;
    }
}