.flats-calc
	.flats-calc__grid
		.flats-calc__left
			.flats-calc__title.title-2 Рассчет ипотеки
			.flats-calc__wrapper
				.flats-calc__row
					.flats-calc__article Стоимость квартиры
					.flats-calc__box
						.flats-calc__item
							input(type="number" placeholder="2 350 000").flats-calc__input#flat-price
						.flats-calc__item
							.flats-calc__bloc
								.flats-calc__block(data-min="1000000" data-max="10000000")
									.building-filter__up 1000000
									.building-filter__low 10000000
								.flats-calc__range#price
								<input type="hidden" name="send-price-min" id="send-result-price-min" value="">
								<input type="hidden" name="send-price-max" id="send-result-price-max" value="">
				.flats-calc__row
					.flats-calc__article Первый взнос
					.flats-calc__box
						.flats-calc__item
							input(type="number" placeholder="475 000").flats-calc__input#flats-donat
						.flats-calc__item
							.flats-calc__bloc
								.flats-calc__block(data-min="100000" data-max="1000000")
									.building-filter__up 100000
									.building-filter__low 1000000
								.flats-calc__range#donat
								<input type="hidden" name="send-donat-min" id="send-result-donat-min">
								<input type="hidden" name="send-donat-max" id="send-result-donat-max">
				.flats-calc__row
					.flats-calc__article Срок кредита
					.flats-calc__box
						.flats-calc__item
							input(type="text" placeholder="30").flats-calc__input#flats-period
						.flats-calc__item
							.flats-calc__bloc
								.flats-calc__block(data-min="1" data-max="30")
									.building-filter__up 1
									.building-filter__low 30
								.flats-calc__range#period
								<input type="hidden" name="send-period-min" id="send-result-period-min">
								<input type="hidden" name="send-period-max" id="send-result-period-max">
				.flats-calc__row.flats-calc__row--savings
					.flats-calc__article Сумма материнского капитала
					.flats-calc__box
						.flats-calc__item
							input(type="text" placeholder="30").flats-calc__input#flats-savings
						.flats-calc__item
							.flats-calc__bloc
								.flats-calc__block(data-min="0" data-max="616617")
									.building-filter__up 0
									.building-filter__low 616 617
								.flats-calc__range#savings
								<input type="hidden" name="send-savings-min" id="send-result-savings-min">
								<input type="hidden" name="send-savings-max" id="send-result-savings-max">
				input(type="hidden")#calc-rezult
			.flats-calc__special
				//- .flats-calc__check
				//- 	<input id="select1" type="checkbox" name="select" value="family">
				//- 	<label for="select1">Семейная ипотека</label>
				.flats-calc__check
					<input id="select2" type="checkbox" name="select2" value="savings" data-name="savings">
					<label for="select2" >Есть материнский капитал</label>
			.flats-calc__about
				.flats-calc__unit
					.btn.btn--decor.btn--call
						.btn__cover
							.btn__button
								.btn__line
									+svg('arr')
								.btn__figure
									+svg('figure')
									.btn__decor
										+svg('arr')
							.btn__button.btn__button--laptop 
								<svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M2 13.5C7.52298 6.83333 16.477 6.83333 22 13.5" stroke="#D8BB54" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
									<path class = "fill" d="M15.682 9.81802C17.4393 11.5754 17.4393 14.4246 15.682 16.182C13.9246 17.9393 11.0754 17.9393 9.31802 16.182C7.56066 14.4246 7.56066 11.5754 9.31802 9.81802C11.0754 8.06066 13.9246 8.06066 15.682 9.81802" stroke="#D8BB54" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>
						.btn__txt заказать консультацию
				.flats-calc__unit 
					a(href="trade.html").link.link--underline Об ипотеке
		.flats-calc__right
			.flats-card
				.flats-card__items
					a(href="javascript:void(0);").flats-card__item
						.flats-card__logo(style="background-image: url('./img/banks/b1.png')")
						.flats-card__info
							.flats-card__bloc
								.flats-card__title Ставка
								.flats-card__val от 8,10%
							.flats-card__bloc
								.flats-card__title Ежемесячный платеж
								.flats-card__val.flats-card__val--month 14 600 руб/мес
						.flats-card__promo Сумма ипотеки от 6 млн.
					a(href="javascript:void(0);").flats-card__item
						.flats-card__logo(style="background-image: url('./img/banks/b1.png')")
						.flats-card__info
							.flats-card__bloc
								.flats-card__title Ставка
								.flats-card__val от 8,10%
							.flats-card__bloc
								.flats-card__title Ежемесячный платеж
								.flats-card__val.flats-card__val--month 14 600 руб/мес
						.flats-card__promo Сумма ипотеки от 6 млн.
					a(href="javascript:void(0);").flats-card__item
						.flats-card__logo(style="background-image: url('./img/banks/b1.png')")
						.flats-card__info
							.flats-card__bloc
								.flats-card__title Ставка
								.flats-card__val от 8,10%
							.flats-card__bloc
								.flats-card__title Ежемесячный платеж
								.flats-card__val.flats-card__val--month 14 600 руб/мес
						.flats-card__promo Сумма ипотеки от 6 млн.
					a(href="javascript:void(0);").flats-card__item
						.flats-card__logo(style="background-image: url('./img/banks/b1.png')")
						.flats-card__info
							.flats-card__bloc
								.flats-card__title Ставка
								.flats-card__val от 8,10%
							.flats-card__bloc
								.flats-card__title Ежемесячный платеж
								.flats-card__val.flats-card__val--month 14 600 руб/мес
						.flats-card__promo Сумма ипотеки от 6 млн.
					a(href="javascript:void(0);").flats-card__item
						.flats-card__logo(style="background-image: url('./img/banks/b1.png')")
						.flats-card__info
							.flats-card__bloc
								.flats-card__title Ставка
								.flats-card__val от 8,10%
							.flats-card__bloc
								.flats-card__title Ежемесячный платеж
								.flats-card__val.flats-card__val--month 14 600 руб/мес
						.flats-card__promo Сумма ипотеки от 6 млн.
					a(href="javascript:void(0);").flats-card__item
						.flats-card__logo(style="background-image: url('./img/banks/b1.png')")
						.flats-card__info
							.flats-card__bloc
								.flats-card__title Ставка
								.flats-card__val от 8,10%
							.flats-card__bloc
								.flats-card__title Ежемесячный платеж
								.flats-card__val.flats-card__val--month 14 600 руб/мес
						.flats-card__promo Сумма ипотеки от 6 млн.
				//- .call-help // Обратный звонок
				//- 	.call-help__title.title-4 К сожалению, по вашему запросу ничего не найдено
				//- 	.call-help__bloc
				//- 		.call-help__container
				//- 				.call-help__article Помощь с подбором ипотечных условий
				//- 				form(method='get').form-project.form-project--call
				//- 					.form-project__wrapper
				//- 						.form-project__box
				//- 							.form-project__group
				//- 								.form-project__block
				//- 									input(placeholder="Ваше имя" type="text" required).form-project__field
				//- 								.form-project__block
				//- 									input(placeholder="Ваша почта" type="text" required).form-project__field
				//- 						.form-project__link Нажимая кнопку, Вы принимаете условия <a href="javascript:void(0)">пользовательского соглашения.</a>
				//- 					button(type='submit' disabled).form-project__btn
				//- 						.btn__txt жду звонка
		.flats-calc__about.flats-calc__about--hidden
				.flats-calc__unit
					a(href="").btn.btn--decor
						.btn__cover
							.btn__button
								.btn__line
									+svg('arr')
								.btn__figure
									+svg('figure')
									.btn__decor
										+svg('arr')
							.btn__button.btn__button--laptop 
								+svg('phone')
						.btn__txt заказать консультацию
				.flats-calc__unit 
					a(href="trade.html").link.link--underline Об ипотеке