.structure__note
    .structure__word Узнайте больше о проектах или запишитесь на экскурсию. Оставьте свой номер, и мы перезвоним вам в течение рабочего дня.	
    .btn.btn--decor.btn--black.btn--call
        .btn__cover
            .btn__button
                .btn__line
                    +svg('arr')
                .btn__figure
                    +svg('figure')
                    .btn__decor
                        +svg('arr')
            .btn__button.btn__button--laptop 
                +svg('phone')
        .btn__txt Заказать обратный звонок