form(method="get").building-filter
	.building-filter__row
		.building-filter__col.building-filter__col--project
			.building-filter__header Проект
			.building-filter__box
				.building-filter__case
					.building-filter__wrp
						.building-filter__text Все
						.building-filter__img
							<svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M1 5L5.24264 9.24264L9.48528 5" stroke="#1E202C" stroke-width="1.5"/>
							</svg>
					.building-filter__select
						.building-filter__unit
							<input id="type1" type="radio" name="type" value="Завенягина 1/2" checked>
							<label for="type1" title="Завенягина 1">Завенягина 1/2</label>
						.building-filter__unit
							<input id="type2" type="radio" name="type" value="улица имени Газеты Правда, 79">
							<label for="type2" title="улица имени Газеты Правда, 79">улица имени Газеты Правда, 79</label>
						.building-filter__unit
							<input id="type3" type="radio" name="type" value="Завенягина 1/2" checked>
							<label for="type3" title="Завенягина 1">Завенягина 1/2</label>
						.building-filter__unit
							<input id="type4" type="radio" name="type" value="улица имени Газеты Правда, 79">
							<label for="type4" title="улица имени Газеты Правда, 79">улица имени Газеты Правда, 79</label>
		.building-filter__col.building-filter__col--room
			.building-filter__header Кол-во комнат
			.building-filter__box
				.building-filter__list
					.building-filter__radio
						<input id="room1" type="radio" name="room" value="C" checked>
						<label for="room1">C</label>
					.building-filter__radio
						<input id="room2" type="radio" name="room" value="1">
						<label for="room2">1</label>
					.building-filter__radio
						<input id="room3" type="radio" name="room" value="2">
						<label for="room3">2</label>
					.building-filter__radio
						<input id="room4" type="radio" name="room" value="3+">
						<label for="room4">3+</label>
		.building-filter__col.building-filter__col--period
			.building-filter__header Срок сдачи
			.building-filter__box
				.building-filter__case
					.building-filter__wrp
						.building-filter__text Срок сдачи
						.building-filter__img
							<svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M1 5L5.24264 9.24264L9.48528 5" stroke="#1E202C" stroke-width="1.5"/>
							</svg>
					.building-filter__select
						.building-filter__unit
							<input id="period1" type="radio" name="period" value="2020" checked>
							<label for="period1" type="radio" title="2020">2020</label>
						.building-filter__unit
							<input id="period2" type="radio" name="period" value="2019">
							<label for="period2" title="2019">2019</label>
						.building-filter__unit
							<input id="period3" type="radio" name="period" value="2018">
							<label for="period3" title="2018">2018</label>
						.building-filter__unit
							<input id="period4" type="radio" name="period" value="2017">
							<label for="period4" title="2017">2017</label>
		.building-filter__col.building-filter__col--offer
			.building-filter__header Спецпредложения
			.building-filter__box
				.building-filter__case
					.building-filter__wrp
						.building-filter__text Спецпредложения
						.building-filter__img
							<svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M1 5L5.24264 9.24264L9.48528 5" stroke="#1E202C" stroke-width="1.5"/>
							</svg>
					.building-filter__select
						.building-filter__unit
							<input id="offer1" type="radio" name="offer" value="Все" checked>
							<label for="offer1">Все</label>
						.building-filter__unit
							<input id="offer2" type="radio" name="offer" value="Старт продаж">
							<label for="offer2">Старт продаж</label>
						.building-filter__unit
							<input id="offer3" type="radio" name="offer" value="Строительство">
							<label for="offer3">Строительство</label>
						.building-filter__unit
							<input id="offer4" type="radio" name="offer" value="Завершенные">
							<label for="offer4">Завершенные</label>
		.building-filter__col.building-filter__col--cost
			.building-filter__header Стоимость
			.building-filter__range(data-min="1500000" data-max="13500000")
				.building-filter__up
				.building-filter__low
			div#cost
			<input type="hidden" name="send-cost" id="send-result-сost" />

	.building-filter__row
		.building-filter__col.building-filter__col--cost
			.building-filter__header Площадь
			.building-filter__range(data-min="0" data-max="100")
				.building-filter__up
				.building-filter__low
			div#area
			<input type="hidden" name="send-area" id="send-result-area" />
		.building-filter__col.building-filter__col--area
			.building-filter__header Особенности планировки
			.building-filter__box
				.building-filter__case
					.building-filter__wrp
						.building-filter__text Особенности планировки
						.building-filter__img
							<svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M1 5L5.24264 9.24264L9.48528 5" stroke="#1E202C" stroke-width="1.5"/>
							</svg>
					.building-filter__select
						.building-filter__unit
							<input id="area1" type="radio" name="area" value="Все" checked>
							<label for="area1">Все</label>
						.building-filter__unit
							<input id="area2" type="radio" name="area" value="Старт продаж">
							<label for="area2">Старт продаж</label>
						.building-filter__unit
							<input id="area3" type="radio" name="area" value="Строительство">
							<label for="area3">Строительство</label>
						.building-filter__unit
							<input id="area4" type="radio" name="area"  value="Завершенные">
							<label for="area4">Завершенные</label>
		.building-filter__button
			.building-filter__txt Свободно <span>55</span> квартир
			a(href="").btn.btn--decor
				.btn__cover
					.btn__button
						.btn__line
							+svg('arr')
						.btn__figure
							+svg('figure')
							.btn__decor
								+svg('arr')
					.btn__button.btn__button--laptop 
						<svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M2 13.5C7.52298 6.83333 16.477 6.83333 22 13.5" stroke="#D8BB54" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
							<path class = "fill" d="M15.682 9.81802C17.4393 11.5754 17.4393 14.4246 15.682 16.182C13.9246 17.9393 11.0754 17.9393 9.31802 16.182C7.56066 14.4246 7.56066 11.5754 9.31802 9.81802C11.0754 8.06066 13.9246 8.06066 15.682 9.81802" stroke="#D8BB54" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
				.btn__txt подробнее