.second-flats
    .second-flats__Items
        a(href="javascript:void(0);").second-flats__item
            .second-flats__pic
                img(src="./img/card/pic5.jpg" alt="")
            .second-flats__content
                .second-flats__box
                    .second-flats__bloc
                        .second-flats__area.title-3 1-к квартира, 23,5 м<sup>2</sup>
                        .second-flats__adres г. Магнитогорск, ул. Завенягина 123/2 р-н Орджоникидзевский
                    .second-flats__bloc.second-flats__bloc--floor
                        .second-flats__num 8/9 эт.
                .second-flats__box.second-flats__box--price
                    .second-flats__price
                        .second-flats__unit.second-flats__unit--price 1 250 000 руб. 
                        .second-flats__unit 15 234 руб. за м<sup>2</sup>
                    .second-flats__wrp
                        .second-flats__publish дата публикации: <span>1 ч. назад</span>
                        .second-flats__num.second-flats__num--hide 8/9 эт
        div#insert
        a(href="javascript:void(0);").second-flats__item
            .second-flats__pic
                img(src="./img/card/pic5.jpg" alt="")
            .second-flats__content
                .second-flats__box
                    .second-flats__bloc
                        .second-flats__area.title-3 1-к квартира, 23,5 м<sup>2</sup>
                        .second-flats__adres г. Магнитогорск, ул. Завенягина 123/2 р-н Орджоникидзевский
                    .second-flats__bloc.second-flats__bloc--floor
                        .second-flats__num 8/9 эт.
                .second-flats__box.second-flats__box--price
                    .second-flats__price
                        .second-flats__unit.second-flats__unit--price 1 250 000 руб. 
                        .second-flats__unit 15 234 руб. за м<sup>2</sup>
                    .second-flats__wrp
                        .second-flats__publish дата публикации: <span>1 ч. назад</span>
                        .second-flats__num.second-flats__num--hide 8/9 эт
        a(href="javascript:void(0);").second-flats__item
            .second-flats__pic
                img(src="./img/card/pic5.jpg" alt="")
            .second-flats__content
                .second-flats__box
                    .second-flats__bloc
                        .second-flats__area.title-3 1-к квартира, 23,5 м<sup>2</sup>
                        .second-flats__adres г. Магнитогорск, ул. Завенягина 123/2 р-н Орджоникидзевский
                    .second-flats__bloc.second-flats__bloc--floor
                        .second-flats__num 8/9 эт.
                .second-flats__box.second-flats__box--price
                    .second-flats__price
                        .second-flats__unit.second-flats__unit--price 1 250 000 руб. 
                        .second-flats__unit 15 234 руб. за м<sup>2</sup>
                    .second-flats__wrp
                        .second-flats__publish дата публикации: <span>1 ч. назад</span>
                        .second-flats__num.second-flats__num--hide 8/9 эт