footer.footer
    <a id="btnUp">
        <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="0.749996" y="-0.747675" width="41.9004" height="41.9004" transform="matrix(-4.37114e-08 -1 0.999995 0.00310011 1.49767 43.405)" fill="#D8BB54" stroke="#D8BB54" stroke-width="1.5"/>
            <mask id="path-2-outside-1" maskUnits="userSpaceOnUse" x="8.2002" y="9.31372" width="27" height="25" fill="black">
            <rect fill="white" x="8.2002" y="9.31372" width="27" height="25"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M33.6516 23.354C33.9517 23.3534 34.1946 23.1097 34.194 22.8096C34.194 22.6658 34.1369 22.5279 34.0353 22.426L22.0821 10.4728C21.8699 10.2607 21.526 10.2607 21.3138 10.4728L9.36051 22.4261C9.15717 22.6366 9.15717 22.9704 9.36051 23.181C9.569 23.3968 9.91298 23.4028 10.1288 23.1943L21.6974 11.6246L33.266 23.1943C33.3682 23.2968 33.507 23.3542 33.6516 23.354ZM33.6517 33.1337C33.9518 33.1332 34.1947 32.8895 34.1941 32.5894C34.1941 32.4451 34.1366 32.3067 34.0344 32.2047L22.0811 20.2515C21.8689 20.0394 21.525 20.0394 21.3128 20.2515L9.35954 32.2047C9.14708 32.4172 9.14708 32.7616 9.35954 32.9741C9.572 33.1866 9.91644 33.1866 10.1289 32.9741L21.6975 21.4044L33.2661 32.9741C33.3682 33.0765 33.5071 33.134 33.6517 33.1337Z"/>
            </mask>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M33.6516 23.354C33.9517 23.3534 34.1946 23.1097 34.194 22.8096C34.194 22.6658 34.1369 22.5279 34.0353 22.426L22.0821 10.4728C21.8699 10.2607 21.526 10.2607 21.3138 10.4728L9.36051 22.4261C9.15717 22.6366 9.15717 22.9704 9.36051 23.181C9.569 23.3968 9.91298 23.4028 10.1288 23.1943L21.6974 11.6246L33.266 23.1943C33.3682 23.2968 33.507 23.3542 33.6516 23.354ZM33.6517 33.1337C33.9518 33.1332 34.1947 32.8895 34.1941 32.5894C34.1941 32.4451 34.1366 32.3067 34.0344 32.2047L22.0811 20.2515C21.8689 20.0394 21.525 20.0394 21.3128 20.2515L9.35954 32.2047C9.14708 32.4172 9.14708 32.7616 9.35954 32.9741C9.572 33.1866 9.91644 33.1866 10.1289 32.9741L21.6975 21.4044L33.2661 32.9741C33.3682 33.0765 33.5071 33.134 33.6517 33.1337Z" fill="#1E202C"/>
            <path d="M34.194 22.8096H33.894L33.894 22.8102L34.194 22.8096ZM33.6516 23.354L33.6521 23.654L33.6522 23.654L33.6516 23.354ZM34.0353 22.426L34.2477 22.2141L34.2475 22.2139L34.0353 22.426ZM22.0821 10.4728L22.2942 10.2607L22.2942 10.2606L22.0821 10.4728ZM21.3138 10.4728L21.1017 10.2606L21.1017 10.2607L21.3138 10.4728ZM9.36051 22.4261L9.14835 22.2139L9.14473 22.2177L9.36051 22.4261ZM9.36051 23.181L9.14471 23.3894L9.14475 23.3894L9.36051 23.181ZM10.1288 23.1943L10.3373 23.4101L10.3409 23.4064L10.1288 23.1943ZM21.6974 11.6246L21.9095 11.4125L21.6974 11.2004L21.4852 11.4125L21.6974 11.6246ZM33.266 23.1943L33.4784 22.9825L33.4781 22.9822L33.266 23.1943ZM34.1941 32.5894H33.8941L33.8941 32.59L34.1941 32.5894ZM33.6517 33.1337L33.6522 33.4337L33.6523 33.4337L33.6517 33.1337ZM34.0344 32.2047L33.8222 32.4169L33.8225 32.4172L34.0344 32.2047ZM22.0811 20.2515L22.2932 20.0393L22.2932 20.0393L22.0811 20.2515ZM21.3128 20.2515L21.1007 20.0393L21.1007 20.0393L21.3128 20.2515ZM9.35954 32.2047L9.14741 31.9926L9.14741 31.9926L9.35954 32.2047ZM9.35954 32.9741L9.14741 33.1862L9.14741 33.1862L9.35954 32.9741ZM10.1289 32.9741L10.341 33.1862L10.341 33.1862L10.1289 32.9741ZM21.6975 21.4044L21.9096 21.1923L21.6975 20.9801L21.4853 21.1923L21.6975 21.4044ZM33.2661 32.9741L33.4785 32.7622L33.4782 32.762L33.2661 32.9741ZM33.894 22.8102C33.8942 22.9445 33.7855 23.0537 33.6511 23.054L33.6522 23.654C34.1179 23.6531 34.4949 23.2749 34.494 22.8091L33.894 22.8102ZM33.823 22.638C33.8685 22.6835 33.894 22.7453 33.894 22.8096H34.494C34.494 22.5863 34.4054 22.3722 34.2477 22.2141L33.823 22.638ZM21.87 10.6849L33.8232 22.6382L34.2475 22.2139L22.2942 10.2607L21.87 10.6849ZM21.5259 10.685C21.6209 10.59 21.7749 10.59 21.87 10.685L22.2942 10.2606C21.9648 9.93144 21.431 9.9314 21.1017 10.2606L21.5259 10.685ZM9.57265 22.6382L21.5259 10.6849L21.1017 10.2607L9.14838 22.214L9.57265 22.6382ZM9.57632 22.9726C9.48522 22.8782 9.48526 22.7288 9.57629 22.6345L9.14473 22.2177C8.82909 22.5445 8.82912 23.0626 9.14471 23.3894L9.57632 22.9726ZM9.92037 22.9786C9.82376 23.0719 9.6697 23.0692 9.57628 22.9725L9.14475 23.3894C9.4683 23.7243 10.0022 23.7337 10.3372 23.4101L9.92037 22.9786ZM21.4852 11.4125L9.91666 22.9822L10.3409 23.4064L21.9095 11.8368L21.4852 11.4125ZM33.4781 22.9822L21.9095 11.4125L21.4852 11.8368L33.0538 23.4064L33.4781 22.9822ZM33.6511 23.054C33.5863 23.0541 33.5241 23.0283 33.4784 22.9825L33.0536 23.4062C33.2122 23.5652 33.4276 23.6544 33.6521 23.654L33.6511 23.054ZM33.8941 32.59C33.8943 32.7243 33.7856 32.8335 33.6512 32.8337L33.6523 33.4337C34.118 33.4329 34.495 33.0547 34.4941 32.5889L33.8941 32.59ZM33.8225 32.4172C33.8684 32.4629 33.8941 32.5249 33.8941 32.5894H34.4941C34.4941 32.3653 34.4048 32.1504 34.2462 31.9923L33.8225 32.4172ZM21.869 20.4636L33.8222 32.4169L34.2465 31.9926L22.2932 20.0393L21.869 20.4636ZM21.5249 20.4636C21.6199 20.3686 21.774 20.3686 21.869 20.4636L22.2932 20.0393C21.9639 19.7101 21.43 19.7101 21.1007 20.0393L21.5249 20.4636ZM9.57167 32.4169L21.525 20.4636L21.1007 20.0393L9.14741 31.9926L9.57167 32.4169ZM9.57167 32.762C9.47637 32.6667 9.47637 32.5122 9.57167 32.4169L9.14741 31.9926C8.81779 32.3222 8.81779 32.8566 9.14741 33.1862L9.57167 32.762ZM9.91676 32.762C9.82146 32.8573 9.66697 32.8573 9.57167 32.762L9.14741 33.1862C9.47702 33.5159 10.0114 33.5159 10.341 33.1862L9.91676 32.762ZM21.4853 21.1923L9.91675 32.762L10.341 33.1862L21.9096 21.6165L21.4853 21.1923ZM33.4782 32.762L21.9096 21.1923L21.4853 21.6165L33.0539 33.1862L33.4782 32.762ZM33.6512 32.8337C33.5864 32.8339 33.5242 32.8081 33.4785 32.7622L33.0537 33.186C33.2123 33.3449 33.4277 33.4341 33.6522 33.4337L33.6512 32.8337Z" fill="#1E202C" mask="url(#path-2-outside-1)"/>
        </svg>

    </a>
    .footer__container.b-container
        .footer__top
            .footer__data
                .footer__info
                    .footer__bloc.footer__bloc--logo
                        a(href="index.html").footer__logo
                            img(src="./img/logo-footer.png" alt="")
                    
                a(href="tel:+7 (900) 000-00-00").footer__phone +7 (900) 000-00-00 — Юридическая информация
                   
            .footer__box
                .footer__items
                    .footer__unit
                        a(href="contacts.html").footer__link.footer__link--active Контакты
                        a(href="about.html").footer__link Компания
                    .footer__unit
                        a(href="trade.html").footer__link Ипотека
                        a(href="news.html").footer__link Новости                       
                    .footer__unit
                        a(href="projects.html").footer__link Проекты
                        a(href="land-plot.html").footer__link Земельные участки
            .footer__bloc 
                .share-bloc.share-bloc--footer
                    .share-bloc__items
                        a(href="javascript:void(0);").share-bloc__soc
                            .share-bloc__item
                                +svg('vk')
                            .share-bloc__txt VKontakte
                        a(href="javascript:void(0);").share-bloc__soc
                            .share-bloc__item
                                +svg('inst')
                            .share-bloc__txt Instagram
        .footer__bottom
            .footer__ph +7 (900) 000-00-00 — Юридическая информация
            .footer__wrapper
                .footer__ref Синай-Групп (с). 2020
                a(href="javascript:void(0);").footer__ref.footer__ref--phone +7 (900) 000-00-00 — Юридическая информация
                a(href="agreement.html").footer__ref Пользовательское соглашение
                a(href="https://uralmedias.ru/").footer__ref  Разработано Uralmedias