footer.footer
    .footer__container.b-container
        .footer__top
            .footer__info
                .footer__bloc
                    a(href="javascript:void(0);").footer__logo
                        img(src="" alt="")
                .footer__bloc 
                     a(href="javascript:void(0);").footer__soc
                        .footer__pic
                        .footer__txt
                     a(href="javascript:void(0);").footer__soc
                        .footer__pic
                        .footer__txt
            .footer__box
                .footer__items
                    a(href="javascript:void(0);").footer__link Контакты
                    a(href="javascript:void(0);").footer__link Ипотека
                    a(href="javascript:void(0);").footer__link Новости
                    a(href="javascript:void(0);").footer__link Проекты
                    a(href="javascript:void(0);").footer__link Компания
                    a(href="javascript:void(0);").footer__link Обмен
                    a(href="javascript:void(0);").footer__link Способы оплаты
                    a(href="javascript:void(0);").footer__link Земельные участки
        .footer__bottom