footer.footer
    .footer__container.b-container
        .footer__top
            .footer__data
                .footer__info
                    .footer__bloc.footer__bloc--logo
                        a(href="javascript:void(0);").footer__logo
                            img(src="./img/logo-footer.png" alt="")
                    .footer__bloc 
                        .share-bloc.share-bloc--footer
                            .share-bloc__items
                                a(href="javascript:void(0);").share-bloc__soc
                                    .share-bloc__item
                                        +svg('vk')
                                    .share-bloc__txt VKontakte
                                a(href="javascript:void(0);").share-bloc__soc
                                    .share-bloc__item
                                        +svg('inst')
                                    .share-bloc__txt Instagram
                a(href="tel:+7 (900) 000-00-00").footer__phone +7 (900) 000-00-00 — Юридическая информация
                   
            .footer__box
                .footer__items
                    .footer__unit
                        a(href="javascript:void(0);").footer__link.footer__link--active Контакты
                        a(href="javascript:void(0);").footer__link Компания
                    .footer__unit
                        a(href="javascript:void(0);").footer__link Ипотека
                        a(href="javascript:void(0);").footer__link Обмен
                    .footer__unit
                        a(href="javascript:void(0);").footer__link Новости
                        a(href="javascript:void(0);").footer__link Способы оплаты
                    .footer__unit
                        a(href="javascript:void(0);").footer__link Проекты
                        a(href="javascript:void(0);").footer__link Земельные участки
        .footer__bottom
            a(href="javascript:void(0);").footer__ref Синай-Групп (с). 2020
            a(href="javascript:void(0);").footer__ref.footer__ref--phone +7 (900) 000-00-00 — Юридическая информация
            a(href="javascript:void(0);").footer__ref Пользовательское соглашение
            a(href="javascript:void(0);").footer__ref  Разработано Uralmedias