.module
    .module__inner
        .module__top 
            .module__info Этаж 16, секция 2
        .module__bottom    
            .module__row 
               .module__cell 1-комнатные
               .module__cell 4
               .module__cell от 2,5 млн 
            .module__row 
               .module__cell 1-комнатные
               .module__cell 4
               .module__cell от 2,5 млн
            .module__row 
               .module__cell 1-комнатные
               .module__cell 4
               .module__cell от 2,5 млн

