.module
    .module__inner
        .module__top 
            .module__info
              .module__floor 
              .module__section cекция 2
        .module__bottom    
            .module__row 
               a(href="flats-plan.html").module__cell 1-комнатные
               a(href="flats-plan.html").module__cell 4
               a(href="flats-plan.html").module__cell от 2,5 млн 
            .module__row 
               a(href="flats-plan.html").module__cell 1-комнатные
               a(href="flats-plan.html").module__cell 4
               a(href="flats-plan.html").module__cell от 2,5 млн
            .module__row 
               a(href="flats-plan.html").module__cell 1-комнатные
               a(href="flats-plan.html").module__cell 4
               a(href="flats-plan.html").module__cell от 2,5 млн

//-  Этаж 16, секция 2