.overlay
    .popup
        .call-help.call-help--popup
            .call-help__bloc
                .call-help__container
                        .call-help__box
                            .call-help__article Заказать обратный звонок
                            form(method='get').form-project
                                .form-project__wrapper
                                    .form-project__box
                                        .form-project__group
                                            .form-project__block
                                                input(placeholder="Ваше имя" type="text" required).form-project__field
                                            .form-project__block
                                                input(placeholder="Ваш телефон" type="text" required).form-project__field
                        .call-help__box
                            .call-help__link Нажимая кнопку, Вы принимаете условия <a href="javascript:void(0)">пользовательского соглашения.</a>
                            button(type='submit' disabled).call-help__btn
                                .call-help__txt жду звонка
