.index-news 
    .index-news__container.b-container
        .index-news__title.title-3 Новости
        .index-news__grid
            .index-news__left
                .index-news__article Почему у нас выгодно приобретать недвижимость?
                .index-news__block
                    .index-news__info Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas varius tortor nibh, sit amet tempor nibh finibus et. Aenean eu enim justo. Vestibulum aliquam hendrerit molestie. Mauris malesuada nisi sit amet augue accumsan tincidunt. 
                    .index-news__info Maecenas tincidunt, velit ac porttitor pulvinar, tortor eros facilisis libero, vitae commodo nunc quam et ligula. Ut nec ipsum sapien. Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer id nisi nec nulla luctus lacinia non eu turpis. Etiam in ex imperdiet justo tincidunt egestas. Ut porttitor urna ac augue cursus tincidunt sit amet sed orci.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas varius tortor nibh, sit amet tempor nibh finibus et. Aenean eu enim justo. Vestibulum aliquam hendrerit molestie.
                a(href="").btn.btn--decor
                    .btn__cover
                        .btn__line
                            +svg('arr')
                        .btn__figure
                            +svg('figure')
                            .btn__decor
                                +svg('arr')
                    .btn__txt Все новости
            .index-news__right
                .index-news__unique
                    .index-news__slider
                        .swiper-wrapper
                            //- <li class="item swiper-slide"><div class="content"><span>1</span></div></li>
                            //- <li class="item swiper-slide"><div class="content"><span>2</span></div></li>
                            //- <li class="item swiper-slide"><div class="content"><span>3</span></div></li>
                            //- <li class="item swiper-slide"><div class="content"><span>4</span></div></li>
                            //- <li class="item swiper-slide"><div class="content"><span>5</span></div></li>
                            //- <li class="item swiper-slide"><div class="content"><span>6</span></div></li>
                            a(href="javascript:void(0);").swiper-slide
                                .content
                                    .index-news__img
                                        img(src="./img/index/p10.jpg" alt="")
                                    .index-news__txt(title="Почему в наших домах нет мусоропровода?") 1 Почему в наших домах нет мусоропровода? 
                                    .index-news__date 14.10.19
                            a(href="javascript:void(0);").swiper-slide
                                .content
                                    .index-news__img
                                        img(src="./img/index/p10.jpg" alt="")
                                    .index-news__txt(title="Почему в наших домах нет мусоропровода?") 1 Почему в наших домах нет мусоропровода? 
                                    .index-news__date 14.10.19
                    .index-news__cover
                        .index-news__pagination
                        a(href="").btn.btn--decor
                            .btn__cover
                                .btn__news
                                    +svg('news')
                            .btn__txt Все новости