.plate-box {
    margin-top: 86px;
    // padding: 0 14px;

    @media(max-width: 768px) {
        padding: 0;
    }

    @media(max-width: 640px) {
        margin-top: 51px;
    }

    &__control {
        margin-left: auto;
    }

    &__txt {
        @media(max-width: 1024px) {
            font-size: 14px;
        }
    }

    &__top {
        display: flex;
        align-items: center;

        @media(max-width: 768px) {
            max-width: 700px;
            width: 100%;
            justify-content: space-between;
        }

        #control {
            margin-left: auto;
        }
    }

    &__list,
    &__status {
        display: flex;
        align-items: center;
        margin-left: 42px;

        @media(max-width: 768px) {
            margin: auto;
        }
    }

    &__list {
        margin-left: -42px;

        @media(max-width: 768px) {
            width: 100%;
            margin: auto;
            justify-content: space-between;
        }

        @media(max-width: 640px) {
            flex-direction: column;
        }
    }

    &__square {
        width: 30px;
        height: 30px;
        background-color: red;
        margin-right: 19px;

        @media(max-width: 1024px) {
            margin-right: 14px;
        }
    }

    &__status {

        @media(max-width: 768px) {
            margin-left: 0;
        }

        &:not(:first-child) {
            @media(max-width: 640px) {
                margin-top: 20px;
            }
        }

        &--booked {
            .plate-box__square {
                background-color: $gray-1;
            }
        }

        &--take {
            .plate-box__square {
                background-color: $basic;
            }
        }

        &--sold {
            .plate-box__square {
                background-color: $black-1;
            }
        }

        &--free {
            .plate-box__square {
                background-color: $ochre;
            }
        }
    }

    &__box {
        display: flex;
        align-items: center;
        margin-left: auto;
    }

    &__slider {
        margin-top: 40px;

        #control-laptop {
            margin-top: 40px;
        }
    }

    &__set {
        display: inline-block;
        margin-top: 48px;

        @media(max-width: 1024px) {
            margin-top: 24px;
        }
    }

    &__num {
        @media(max-width: 1024px) {
            font-size: 10px;
            line-height: 16px;
        }

        @media(max-width: 640px) {
            font-size: 5px;
            line-height: 8px;
        }

        &:not(:first-child) {
            margin-top: 22px;

            @media(max-width: 1024px) {
                margin-top: 17px;
            }

            @media(max-width: 640px) {
                margin-top: 6px;
            }
        }


    }

    &__wrapper {
        display: flex;
    }

    &__right {
        // width: 1108px !important;
        width: 100%;
        min-width: 200px;
        //margin: 0 auto;

        // @media(max-width: 640px) {
        //     min-width: initial;
        //     width: auto;
        // }


        .mCSB_container {
            height: 100%;

            @media(max-width: 992px) {
                width: 880px;
            }

            @media(max-width: 500px) {
                width: 100%;
            }
        }

        .mCustomScrollBox {
            padding-bottom: 35px;

            @media(max-width: 640px) {
                padding-bottom: 33px;
            }
        }

        .mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
            background-color: $ochre;
        }


    }

    &__arrow {
        height: 13px;
        width: 13px;
        cursor: pointer;

        .b-svg {
            display: block;
            height: 100%;
            width: 100%;
            fill: none;
            stroke: #000;
            stroke-width: 2px;
        }

        &--next {
            transform: scale(-1, 1);
        }
    }

    &__flat {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        background-color: black;
        cursor: pointer;
        box-shadow: none;
        transition: .4s ease;

        @media(max-width: 1024px) {
            width: 19px;
            height: 19px;
            font-size: 10px;
            line-height: 11px;
        }

        @media(max-width: 640px) {
            width: 8px;
            height: 8px;
            font-size: 5px;
            line-height: 8px;
        }

        &:hover {
            box-shadow: inset 0px 0px 0px 2px #000;
        }


        &:not(:last-child) {
            margin-right: 24px;

            @media(max-width: 1024px) {
                margin-right: 16px;
            }

            @media(max-width: 640px) {
                margin-right: 5px;
            }
        }

        &--free {
            background-color: $ochre;
            color: white;
        }

        &--booked {
            background-color: $gray-1;
            color: $basic;
        }

        &--sold {
            background-color: $black-1;
            color: white;

            &:hover {
                box-shadow: inset 0px 0px 0px 2px #D8BB54;
            }
        }

        &--take {
            background-color: $basic;
            color: white;

            &:hover {
                box-shadow: inset 0px 0px 0px 2px #D8BB54;
            }
        }

        .visible {
            position: absolute;
            max-width: 300px;
            width: 100%;
            height: 150px;

            &__in {
                background-color: red;
                padding-right: 100px;
                height: 100%;
                padding: 15px 29px 15px 16px;
                width: 84%;
            }
        }
    }

    &__case {
        display: flex;
        align-items: center;
        justify-content: center;

        &:not(:first-child) {
            margin-top: 22px;

            @media(max-width: 1024px) {
                margin-top: 15px;
            }

            @media(max-width: 640px) {
                margin-top: 5px;
            }
        }
    }

    &__canvas {
        position: relative;
        height: 100%;
        display: flex;
        width: auto;
        align-items: flex-end;
        // min-width: 700px;

        @media(max-width: 1235px) {
            justify-content: center;
        }

        @media(max-width: 640px) {
            justify-content: flex-start;
        }
    }

    &__item {
        &:not(:last-child) {
            margin-right: 37px;

            @media(max-width: 1024px) {
                margin-right: 23px;
            }

            @media(max-width: 640px) {
                margin-right: 8px;
            }
        }
    }

    &__left {
        padding-bottom: 50px;
        margin-right: 61px;

        @media(max-width: 640px) {
            padding-bottom: 39px;
            margin-right: 10px;
        }
    }

    &__label {
        margin-top: 21px;

        @media(max-width: 1024px) {
            font-size: 10px;
            line-height: 11px;
        }

        @media(max-width: 640px) {
            font-size: 5px;
            line-height: 8px;
            margin-top: 5px;
        }
    }

}