.certificate {
    margin-top: 70px;

    &__title {
        text-align: center;
    }

    &__quote {
        max-width: 784px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        margin-top: 8px;
    }


}