.certificate {
    margin-top: 70px;

    &__title {
        text-align: center;

        @media(max-width: 620px) {
            text-align: left;
        }
    }

    &__quote {
        max-width: 784px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        margin-top: 8px;

        @media(max-width: 620px) {
            text-align: left;
        }
    }

    &__slider {
        overflow: hidden;

        .swiper-wrapper {
            justify-content: center;

            @media(max-width: 620px) {
                justify-content: normal;
            }
        }
    }

    &__cover {
        position: relative;
        height: auto;
        margin-top: 40px;
    }

    .swiper-slide {
        display: block;
        height: auto;
        margin-right: 318px;

        img {
            height: auto;
            width: 100%;
        }
    }
}