.ad {
    display: block;
    width: 100%;
    height: 278px;

    @media(max-width: 1024px) {
        height: 195px;
    }

    @media(max-width: 992px) {
        height: 155px;
    }

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}