.btn {

    &__txt {
        @media(max-width: 1024px) {
            font-size: 14px;
            line-height: 21px;
        }
    }

    &__button {
        @media(max-width: 1024px) {
            display: none;
        }

        &--laptop {
            display: none;

            @media(max-width: 1024px) {
                display: flex;
            }
        }
    }

    &--slide {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 561px;
        width: 100%;
        height: 118px;
        background-color: $ochre;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        margin-left: 108px;

        @media(max-width: 1600px) {
            max-width: 475px;
        }

        @media(max-width: 1236px) {
            max-width: 420px;
            margin-left: 15px;
        }

        @media(max-width: 1024px) {
            display: none;
        }

        span {
            position: relative;
            display: block;
            font-size: 18px;
            line-height: 30px;
            color: white;
            text-transform: uppercase;
            padding-right: 27px;

            &:after {
                position: absolute;
                content: "";
                width: 18px;
                height: 10px;
                right: 0;
                top: 0;
                bottom: 0;
                margin: auto;
                background-image: url(../img/icon/arr_sm.png);
                background-repeat: no-repeat;
                transition: .3s;
            }
        }

        &:hover {
            span {
                &:after {
                    transform: translateX(22px);
                }
            }
        }
    }

    &--decor {
        position: relative;
        display: inline-flex;
        font-weight: bold;
        font-size: 18px;
        line-height: 30px;
        text-transform: uppercase;
        color: $ochre;

        @media(max-width: 1024px) {
            align-items: center;
        }

        .btn__cover {
            display: block;
            position: relative;
            width: 126px;
            margin-right: 15px;

            @media(max-width: 1024px) {
                width: 24px;
                margin-right: 9px;
            }
        }

        .btn__line {
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            width: 101px;
            height: 12px;

            .b-svg {
                position: absolute;
                height: 100%;
                width: 100%;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                margin: auto;
                fill: $ochre;
            }
        }

        .btn__figure {
            position: absolute;
            width: 60px;
            height: 60px;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            transition: .3s;

            .b-svg {
                stroke: $ochre;
                width: 100%;
                height: 100%;
                fill: transparent;
                transition: fill 400ms ease;
            }
        }

        .btn__decor {
            position: absolute;
            width: 60px;
            height: 60px;
            right: 126px;
            top: 0;
            bottom: 0;
            left: 1px;
            margin: auto;
            overflow: hidden;

            .b-svg {
                position: absolute;
                width: 101px;
                height: 12px;
                stroke: none;
                fill: $ochre;
                top: 0;
                bottom: 0;
                margin: auto;
                left: -66px;
                transition: fill 400ms ease;
            }
        }

        &:hover {
            .btn__figure {

                .b-svg {
                    fill: $ochre;
                }
            }

            .btn__decor {
                .b-svg {
                    fill: white;
                }
            }
        }
    }



    &--white {
        position: relative;
        display: inline-flex;
        font-weight: bold;
        font-size: 18px;
        line-height: 30px;
        text-transform: uppercase;
        margin-top: 55px;
        color: white;

        .btn__cover {
            display: block;
            position: relative;
            width: 126px;
            margin-right: 15px;

            @media(max-width: 1024px) {
                width: auto;
            }
        }

        .btn__line {
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            width: 101px;
            height: 12px;

            .b-svg {
                position: absolute;
                height: 100%;
                width: 100%;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                margin: auto;
                fill: white;
            }
        }

        .btn__figure {
            position: absolute;
            width: 60px;
            height: 60px;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            transition: .3s;

            .b-svg {
                stroke: white;
                width: 100%;
                height: 100%;
                fill: transparent;
                transition: fill 400ms ease;
            }
        }

        .btn__decor {
            position: absolute;
            width: 60px;
            height: 60px;
            right: 126px;
            top: 0;
            bottom: 0;
            left: 1px;
            margin: auto;
            overflow: hidden;

            .b-svg {
                position: absolute;
                width: 101px;
                height: 12px;
                stroke: none;
                fill: white;
                top: 0;
                bottom: 0;
                margin: auto;
                left: -66px;
                transition: fill 400ms ease;
            }
        }

        &:hover {
            .btn__figure {

                .b-svg {
                    fill: $ochre;
                }
            }

            .btn__decor {
                .b-svg {
                    fill: white;
                }
            }
        }
    }

}