.btn {

    &--slide {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 561px;
        width: 100%;
        height: 118px;
        background-color: $ochre;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        margin-left: 108px;


        span {
            position: relative;
            display: block;
            font-size: 18px;
            line-height: 30px;
            color: white;
            text-transform: uppercase;
            padding-right: 27px;

            &:after {
                position: absolute;
                content: "";
                width: 18px;
                height: 10px;
                right: 0;
                top: 0;
                bottom: 0;
                margin: auto;
                background-image: url(../img/icon/arr_sm.png);
                background-repeat: no-repeat;
                transition: .3s;
            }
        }

        &:hover {
            span {
                &:after {
                    transform: translateX(22px);
                }
            }
        }
    }

    &--decor {
        position: relative;
        display: inline-flex;
        font-weight: bold;
        font-size: 18px;
        line-height: 30px;
        text-transform: uppercase;
        margin-top: 55px;
        color: $ochre;
        padding-left: 140px;

        &:after {
            position: absolute;
            content: '';
            background-image: url('../img/icon/arr.svg');
            background-repeat: no-repeat;
            left: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            width: 101px;
            height: 12px;
        }

        .btn__decor {
            position: absolute;
            height: 43px;
            width: 43px;
            background-color: transparent;
            left: 74px;
            top: 0;
            bottom: 0;
            margin: auto;
            transform: rotate(45deg);
            border: 1.5px solid rgba(216, 187, 84, 0.5);
            overflow: hidden;
            z-index: 1;
            transition: .3s;

            .b-svg {
                position: absolute;
                height: 12px;
                width: 104px;
                transform: rotate(-45deg);
                fill: $ochre;
                top: 45.5px;
                left: -64px;
            }

            &--white {
                border-color: white;
            }
        }

        &:hover {
            .btn__decor {
                background-color: $ochre;

                .b-svg {
                    fill: white;
                }
            }
        }
    }

}