.content {
    max-width: 895px;
    margin: 0 auto;
    width: 100%;



    img,
    blockquote,
    & ol,
    & ul,
    & div,
    & p,
        {

        &:first-child {
            margin-top: 0 !important;
        }

    }

    blockquote {
        border-left: 6px solid #BFE2FF;
        font-size: 16px;
        font-style: italic;
        padding: 16px 24px;
        position: relative;

        &:before {
            content: "";
            position: absolute;
            top: 50%;
            left: -6px;
            height: 40px;
            background-color: #fff;
            width: 6px;
            margin-top: -1em;
        }

        &:after {
            content: "â€";
            position: absolute;
            top: 50%;
            left: -20px;
            color: #337AB7;
            font-size: 50px;
            font-weight: bold;
            line-height: 30px;
        }

        cite {
            color: #337AB7;
            font-size: 15px;
            padding-top: 10px;
            display: block;
            text-align: right;
        }
    }



    & h1,
    & h2,
    & h3,
    & h4 {
        margin-bottom: 30px;
    }

    & h1 {
        font-size: 28px;
        line-height: 34px;
    }

    & h2 {
        font-size: 22px;
        line-height: 30px;
        font-weight: normal;
        margin-bottom: 30px;
    }

    & h3 {
        font-size: 14px;
        line-height: 20px;
    }

    & h4 {
        font-size: 18px;
        line-height: 24px;
    }

    & a {
        font-weight: 600;
        transition: .3s;

        &:hover {
            color: $ochre;
        }
    }

    & blockquote,
    & ol,
    & ul,
    & div,
    & p,
    & img {
        margin-top: 24px;
    }

    & div>img {
        margin-top: 0;
    }

    & p {
        font-size: 16px;
        line-height: 28px;
        margin-top: 24px;

        & img {
            max-width: 100%;
            height: auto;
            margin: 5px 0;
        }

        &+p,
        &+ol,
        &+ul,
        &+div {
            margin-top: 30px;
        }
    }

    & ol,
    & ul {
        padding: 20px 30px 20px 16px;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
        font-size: 16px;
        line-height: 26px;

        & li {
            position: relative;
            padding-left: 10px;
        }
    }

    & ol {
        counter-reset: a;
        padding-left: 20px;

        & li {
            padding-left: 20px;

            & ol {
                & li {
                    font-size: 14px;
                    padding-left: 30px;
                }
            }

            &:before {
                content: counters(a, ".") ". ";
                counter-increment: a;
                position: absolute;
                left: 0;
            }
        }
    }

    & ul {

        li {
            position: relative;
            padding-left: 20px;

            &:after {
                position: absolute;
                content: "";
                width: 10px;
                height: 1px;
                //  background-color: $brown;
                left: 0;
                top: 14px;
            }
        }
    }

    iframe {
        display: block;
        max-width: 615px;
        width: 100%;
        margin: 0 auto;
        height: 320px;

        @media(max-width: 620px) {
            height: 180px;
        }
    }

    .quote {
        padding: 20px 30px 20px 16px;
        box-shadow: 0 0 4px rgba(0, 0, 0, .25);
        font-size: 14px;
        line-height: 28px;
        margin-top: 30px;
    }

    img {
        min-height: 460px;
        width: 100%;
        object-fit: cover;
    }

    &--prooject {
        margin-top: 70px;

        @media(max-width: 1024px) {
            margin-top: 50px;
        }

        @media(max-width: 640px) {
            margin-top: 24px;
        }
    }
}