.filter-menu {
    max-width: 407px;
    width: 100%;

    &__link {
        display: flex;
        padding: 5px 15px 10px;
        cursor: pointer;

        &:last-child {
            // padding-right: 0;
        }

        label {
            cursor: pointer;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 26px;

            @media(max-width: 768px) {
                font-size: 14px;
                line-height: 25px;
            }
        }

        input {
            display: none;
        }
    }
}