.footer {
    color     : white;
    background: $black-1;
    margin-top: 70px;

    &__wrapper {
        width          : 100%;
        display        : flex;
        justify-content: space-between;
        margin-top     : 18px;

        @media(max-width: 690px) {
            flex-direction: column;
        }
    }

    &__logo {
        display: block;
    }

    &__top {
        display        : flex;
        justify-content: space-between;
        padding        : 40px 0 36px;
        border-bottom  : 1px solid $gray-1;

        @media(max-width: 1300px) {
            // justify-content: space-between;
        }

        @media(max-width: 1024px) {
            // padding: 25px 0 20px;
        }

        @media(max-width: 768px) {
            // padding: 40px 0 20px;
        }

        @media(max-width: 640px) {
            flex-direction: column;
            padding       : 40px 0 25px;
        }
    }

    &__info {
        display: flex;
    }

    &__bloc {
        &--logo {
            @media(max-width: 640px) {
                margin-right: 23px;
            }
        }
    }

    &__phone {
        display: none;

        // @media(max-width: 768px) {
        //     display: block;
        //     max-width: 245px;
        //     line-height: 25px;
        //     margin-top: auto;
        // }

        // @media(max-width: 640px) {
        //     display: none;
        // }
    }

    &__data {


        @media(max-width: 1235px) {
            //margin-right: 65px;
        }

        @media(max-width: 992px) {
            //margin-right: 20px;
        }

        @media(max-width: 768px) {
            display       : flex;
            flex-direction: column;
            margin-right  : 25px;
        }
    }

    &__items {
        display        : flex;
        flex-wrap      : wrap;
        justify-content: space-between;

        @media(max-width: 380px) {
            flex-direction: column;
        }
    }

    &__unit {
        @media(max-width: 380px) {
            display: flex;
        }

        &:not(:first-child) {
            @media(max-width: 380px) {
                margin-top: 25px;
            }
        }
    }

    &__link {
        display   : block;
        width     : auto;
        transition: .3s linear;

        @media(max-width: 380px) {
            width      : 50%;
            white-space: nowrap;
        }


        &--active {
            color: $ochre;
        }

        &:hover {
            color: $ochre;
        }
    }

    &__ph {
        line-height: 28px;

        @media(max-width: 500px) {
            width: 222px;
        }
    }

    &__bottom {

        padding: 18px 0 15px;

        // @media(max-width: 700px) {
        //     flex-direction: column;
        // }
    }

    &__box {
        width    : 100%;
        max-width: 430px;

        @media(max-width: 768px) {
            margin-right: 25px;
        }

        @media(max-width: 640px) {
            margin-top: 20px;
        }

        @media(max-width: 380px) {
            max-width : 230px;
            margin-top: 43px;
        }
    }



    #btnUp {
        cursor          : pointer;
        background-color: #34558b;
        width           : 38px;
        height          : 38px;
        text-align      : center;
        border-radius   : 4px;
        position        : fixed;
        bottom          : 40px;
        right           : 58px;
        transition      : background-color .3s, opacity .5s, visibility .5s;
        opacity         : 0;
        visibility      : hidden;
        z-index         : 100;
        align-items     : center;
        justify-content : center;
        display         : flex;
        box-shadow      : 2px 2px 4px rgba(0, 0, 0, .15);

        @media(max-width: 768px) {
            right: 20px;
        }

        path {
            transition: fill 400ms ease;
        }

        rect {
            transition: 400ms ease;
        }

        &:hover {
            path {
                fill: $ochre;
            }

            rect {
                stroke      : $ochre;
                fill        : black;
                stroke-width: 1.5px;
            }
        }
    }

    .showBtn {
        opacity   : 1 !important;
        visibility: visible !important;
    }
}