.form-project {
    margin-top: 96px;
    display: flex;
    align-items: baseline;
    margin-top: 37px;
    flex-direction: column;

    @media(max-width: 1235px) {
        flex-direction: column;
    }

    @media(max-width: 640px) {
        margin-top: 25px;
    }

    &__agreement {
        position: relative;
        -ms-user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;

        @media(max-width: 640px) {
            margin-top: 30px;
        }

        .custom-checkbox+label {
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 15px;
            letter-spacing: 0.3px;
            display: inline-flex;
            cursor: pointer;
            position: absolute;
            width: 100%;
            left: 0;
            right: 0;
            bottom: 0;
        }

        .custom-checkbox+label::before {
            content: '';
            display: inline-block;
            margin-right: 11px;
            width: 15px;
            min-width: 15px;
            height: 15px;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
            -webkit-border-radius: 0 !important;
            border-radius: 0 !important;
            background-color: transparent;

            border: 1px solid $ochre;
            box-sizing: border-box;

            transition: 400ms ease;
        }

        .custom-checkbox:checked+label::before {
            background-color: $ochre;
        }

        /* стили при наведении курсора на checkbox */
        .custom-checkbox:not(:disabled):not(:checked)+label:hover::before {
            opacity: .5;
        }

        a {
            color: $gray-1;
            margin-left: 3px;

            &:hover {
                color: #bdb9b9;
            }
        }
    }

    &__cover {
        width: 100%;
        margin-top: 4px;

        @media(max-width: 1235px) {
            width: 100%;
            margin-top: 15px;
        }

        @media(max-width: 600px) {
            width: 100%;
            flex-direction: column-reverse;
            display: flex;
            margin-top: 0;
        }
    }

    &__box {
        align-items: baseline;
        margin-right: 0;
        width: 100%;

        display: flex;
        justify-content: space-between;

        @media(max-width: 922px) {
            max-width: 740px;
        }

        @media(max-width: 600px) {
            flex-direction: column;
            max-width: 100%;
        }
    }

    &__items {
        display: flex;
        justify-content: space-between;
        max-width: 695px;
        width: 100%;
        margin-top: 19px;
    }

    &__item {
        &:not(:last-child) {
            margin-right: 50px;
        }
    }

    &__group {
        display: flex;
        align-items: center;
        max-width: 530px;
        width: 100%;
        margin-right: 25px;

        @media(max-width: 600px) {
            flex-direction: column;
        }
    }




    .btn {
        align-items: center;
    }


    &__field {
        position: absolute;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.3px;
        color: $gray-1;
        cursor: pointer;
        height: 100%;
        background-color: transparent;

        &::placeholder {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 26px;
            letter-spacing: 0.3px;
            color: $gray-1;
        }

        &:focus,
        &:hover {
            color: $basic;

            &::placeholder {
                color: $basic;
            }
        }
    }

    &__block {
        position: relative;
        height: 41px;
        border-bottom: 1px solid $gray-1;



        &:after {
            position: absolute;
            content: '';
            width: 0%;
            height: 1px;
            background-color: $basic;
            bottom: 0;
            left: 0;
            right: 0;
            transition: 400ms ease;
        }

        &:first-child {
            max-width: 233px;
            width: 100%;
            margin-right: 24px;

            @media(max-width: 600px) {
                max-width: 100%;
                margin-right: 0;
            }
        }

        &:last-child {
            max-width: 272px;
            width: 100%;

            @media(max-width: 600px) {
                max-width: 100%;
                margin-top: 18px;
            }
        }

        &:hover:after {
            // width: 100%;
        }

        &:hover {
            &.project-department__field {
                color: $basic;
            }
        }

        &--active {
            &:after {
                width: 100%;
            }

            .form-project__field {
                color: $basic;
            }
        }
    }

    .btn {
        cursor: pointer;
        min-width: 334px;

        @media(max-width: 1235px) {
            margin-top: 30px;
        }

        @media(max-width: 1024px) {
            min-width: 187px;
        }

        @media(max-width: 600px) {
            margin-top: 0;
            padding: 0;
            margin-top: 28px;
        }

        &__button {
            &--laptop {
                fill: none;
                stroke: $ochre;
                height: 22px;
            }
        }
    }

    &--call {
        margin-top: 0;

        .form-project__box,
        .form-project__group {
            flex-direction: column;
        }

        .form-project__block {
            width: 100%;
            max-width: 100%;
            margin-right: 0;

            &:not(:first-child) {
                margin-top: 20px;
            }
        }

        .form-project__group {
            margin-right: 0;
        }

        .form-project__link {
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 160%;
            text-align: center;
            letter-spacing: 0.3px;
            color: $black-2;
            margin-top: 16px;

            a {
                color: $gray-5;
            }
        }

        .form-project__btn {
            width: 100%;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 30px;
            letter-spacing: 0.3px;
            text-transform: uppercase;
            padding: 30px 100px;
            cursor: pointer;
            text-transform: uppercase;
            background-color: $ochre;
            color: white;
            transition: 400ms ease;

            &:disabled {
                background-color: $gray-1;
                color: $basic;
            }

            &:hover:not(:disabled) {
                background-color: $ochre-2;
                color: $black-1;
            }
        }

        .form-project__wrapper {
            padding: 16px 62px 21px;
        }

        input {
            &::placeholder {
                text-align: center;
                color: $basic;
                font-size: 16px;
                line-height: 160%;
                letter-spacing: 0.3px;
            }
        }

    }

}