.mf-fixed {
    position: fixed;
    top: 0;
    transform: translateY(45px);
    z-index: 1;
    transition: 400ms ease;
    min-height: auto !important;

    width: 100%;
    max-width: inherit;

}

.map-fixed {
    position: fixed !important;
    top: 0;
    z-index: 1;
    transition: 400ms ease;
}

.map-end {
    position: absolute;
    right: 0;
    bottom: 0;
    top: auto;
}


.mf-margin {
    margin-top: 103px;

    @media(max-width: 1024px) {
        margin-top: 70px;
    }

    @media(max-width: 600px) {
        margin-top: 50px;
    }
}

.mf-bg {
    background-color: $gray-3;
}

.mf-element {
    margin-left: auto;
}

.mf-include {
    @media(max-width: 640px) {
        margin-top: 16px;
    }
}