.include-obj {

    &--flats {
        margin-top: 70px;

        .include-obj__title {
            margin-bottom: 40px;

            @media(max-width: 600px) {
                margin-bottom: 30px;
            }
        }
    }

    &--step-build {
        margin-top: 70px;
    }
}