.link {
    &--ochre {
        display: inline-block;
        color: $ochre;
        font-weight: bold;
        font-size: 18px;
        line-height: 30px;
        letter-spacing: 0.3px;
        text-transform: uppercase;
    }

    &--underline {
        position: relative;
        display: inline-block;
        line-height: 17px;

        &:after {
            position: absolute;
            content: "";
            width: 100%;
            height: 1px;
            background-color: #1e202c;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }
}