.plate-box {
    margin-top: 86px;
    padding: 0 14px;

    &__top {
        display: flex;
        align-items: center;
    }

    &__list,
    &__status {
        display: flex;
        align-items: center;
        margin-left: 42px;
    }

    &__list {
        margin-left: -42px;
    }

    &__square {
        width: 30px;
        height: 30px;
        background-color: red;
        margin-right: 19px;
    }

    &__status {
        &--booked {
            .plate-box__square {
                background-color: $gray-1;
            }
        }

        &--take {
            .plate-box__square {
                background-color: $basic;
            }
        }

        &--sold {
            .plate-box__square {
                background-color: $black-1;
            }
        }

        &--free {
            .plate-box__square {
                background-color: $ochre;
            }
        }
    }

    &__box {
        margin-left: auto;
    }

    &__slider {
        margin-top: 40px;
    }

    &__set {
        margin-top: 48px;
    }

    &__num {
        &:not(:first-child) {
            margin-top: 22px;
        }
    }

    &__wrapper {
        display: flex;
    }

    &__right {
        max-width: 1108px;
        width: 100%;
    }
}