.share-bloc {
    margin-top: 40px;

    &__box {
        display: flex;
        align-items: center;

        @media(max-width: 500px) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__text {
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 130%;
        color: $black-1;
        margin-right: 30px;
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        width: 100%;

        @media(max-width: 500px) {
            margin-top: 23px;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 48px;
        width: calc(25% - 24px);
        max-width: 48px;
        background-color: $black-1;
        transition: 400ms ease;
        cursor: pointer;

        // @media(max-width: 500px) {
        //     height: 52px;
        //     width: 52px;
        //     max-width: 52px;
        // }

        &:not(:first-child) {
            margin-left: 24px;
        }

        &:hover {
            background-color: $ochre;
        }

        .b-svg {
            height: 35px;
            width: 35px;
            fill: white;
        }
    }

    &--header {

        @media(max-width: 600px) {
            margin-top: 30px;
        }

        .share-bloc__item {
            height: 31px;
            width: calc(50% - 5px);
            max-width: 31px;
            opacity: 0;
            transition: .4s;

            &:not(:first-child) {
                margin-left: 6px;
            }

            .b-svg {
                height: 20px;
                width: 20px;
            }

        }

        .share-bloc__items {
            align-items: center;
            justify-content: center;

            @media(max-width: 500px) {
                justify-content: flex-start;
                margin-top: 0;
            }


            .share-bloc__item {
                opacity: 0;

                &:first-child {
                    transform: translateX(-285%);

                    @media(max-width: 500px) {
                        transform: translateX(0%);
                    }
                }

                &:last-child {
                    transform: translateX(285%);

                    @media(max-width: 500px) {
                        transform: translateX(0%);
                    }
                }
            }


            &--active {
                .share-bloc__item {
                    transform: translateX(0%) !important;
                    opacity: 1;
                }
            }

            &--mf {
                .share-bloc__item {
                    opacity: 0;

                    &:first-child {
                        transform: translateX(-285%) !important;

                        @media(max-width: 500px) {
                            transform: translateX(0%) !important;
                        }
                    }

                    &:last-child {
                        transform: translateX(285%) !important;

                        @media(max-width: 500px) {
                            transform: translateX(0%) !important;
                        }
                    }
                }
            }
        }
    }

    &--footer {
        margin-top: 0;
        height: 100%;
        margin-left: auto;

        .share-bloc__items {
            flex-direction: column;
            justify-content: space-between;
            margin-top: 0;
        }

        .share-bloc__item {
            width: initial;
            height: 18px;
            width: 18px;
            margin-right: 9px;
            background-color: white;

            .b-svg {
                height: 12px;
                width: 12px;
                fill: black;
            }
        }

        .share-bloc__soc {
            display: flex;
            align-items: center;

            &:hover {
                .share-bloc__txt {
                    color: $ochre;
                }
            }
        }

        .share-bloc__txt {
            line-height: inherit;
            transition: .3s linear;
        }

        // @media(max-width: 768px) {
        //     display: none;
        // }
    }
}