.wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;

    &__right {
        max-width: 895px;
        width: 100%;
        ;
    }

    &__left {
        max-width: 164px;
        width: 100%;
        margin-right: 140px;
    }
}