.contacts {
    &--about {
        margin-top: 70px;
    }

    &__row {
        display: flex;
    }

    &__ic {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 24px;
        height: 24px;
        margin-right: 8px;

        img {
            display: block;
        }
    }

    &__article {
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 26px;
    }

    &__wrapper {
        margin-top: 25px;

        @media(max-width: 640px) {
            margin-top: 33px;
        }
    }

    &__box {
        margin: 12px 0 40px;

        @media(max-width: 640px) {
            margin: 15px 0 30px;
        }
    }

    &__txt {
        font-size: 16px;
        line-height: 25px;
        letter-spacing: 0.3px;
    }

    &__row {
        &:not(:first-child) {
            margin-top: 7px;

            @media(max-width: 640px) {
                margin-top: 28px;
            }
        }
    }

    &__bloc {
        &:not(:first-child) {
            margin-top: 40px;
        }
    }
}