.structure {

    &__word {
        max-width: 562px;
        width: 100%;
        color: $black-1;
    }

    &__note {
        display: flex;
        align-items: center;
        padding: 51px 48px 51px 48px;
        background-color: $ochre-2;
        margin-top: 40px;

        .btn {
            margin-left: auto;
        }
    }

    &__info {
        font-weight: bold;
        font-size: 20px;
        line-height: 26px;
    }

    &__count {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 160%;
        margin-left: auto;
        letter-spacing: 0.3px;
        position: relative;

        &:hover {
            color: $ochre;
        }

        &:hover:after {
            background-color: $ochre;
        }

        &:after {
            position: absolute;
            content: '';
            height: 1px;
            width: 100%;
            background-color: $basic;
            bottom: 3px;
            left: 0;
            right: 0;
            margin: auto;
            transition: linear .3s;
        }
    }

    &__catalog {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 15px;
        padding: 48px 56px 48px 48px;
        background-color: $ochre-2;
    }

    &__status {
        position: absolute;
        width: auto;
        height: 58px;
        background-color: $black-1;
        top: 0;
        left: 0;
        padding: 16px 32px;
        color: white;
        letter-spacing: 0.3px;
        top: 28px;
    }

    &__ref {
        position: relative;

        &:hover {
            color: $ochre;
        }

        &:hover:after {
            background-color: $ochre;
        }

        &:after {
            position: absolute;
            content: '';
            height: 1px;
            width: 100%;
            background-color: $basic;
            bottom: 3px;
            left: 0;
            right: 0;
            margin: auto;
            transition: linear .3s;
        }
    }

    &__pic {
        position: relative;
    }

    &__items {
        margin-top: 30px;
    }

    &__item {
        padding-bottom: 20px;
        border-bottom: 0.5px solid $basic;

        &:not(:first-child) {
            margin-top: 70px;
        }

        &--special {
            .structure__status {
                background-color: $ochre;
            }
        }
    }

    &__quote {
        max-width: 692px;
        width: 100%;
        margin-top: 13px;
    }

    &__top {
        display: flex;
        justify-content: space-between;
    }

    &__article {
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 26px;
    }

    &__price {
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 130%;
    }

    &__left {
        max-width: 692px;
        width: 100%;
        margin-right: 20px;


        .nav-wrap {
            border-bottom: 2px solid white;
        }

        /* Clearfix */
        .group:after,
        .group:before {
            content: none;
        }

        .group:after {
            position: absolute;
            content: '';
            width: 100%;
            height: 2px;
            background-color: $gray-1;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }

        // *:first-child+html .group {
        //     zoom: 1;
        // }

        /* IE7 */





        /* Example One */
        #example-one {
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
            list-style: none;
            position: relative;
            width: 100%;
        }

        #example-one li {
            display: inline-block;

            &:last-child {
                a {
                    padding-right: 0;
                }
            }
        }

        #example-one a {
            color: $basic;
            float: left;
            text-decoration: none;

            &:hover {
                color: $black-1;
            }

        }

        #example-one a:hover {
            // color: white;
        }

        #magic-line {
            position: absolute;
            bottom: 0px;
            left: 0;
            width: 100px;
            height: 2px;
            background: $ochre;
            z-index: 1;
        }

        .current_page_item a {
            color: $black-1 !important;
        }

        .ie6 #example-one li,
        .ie7 #example-one li {
            display: inline;
        }

        .ie6 #magic-line {
            bottom: -3px;
        }
    }

    &__wrapper {
        display: flex;
        margin-top: 56px;
    }

    &__right {
        position: relative;
        margin-top: 77px;

        #map-projects {
            position: absolute;
            width: 848px;
            height: 100vh;
        }
    }

    &__pic {
        max-width: 692px;
        height: 333px;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    &__box {
        margin-top: 32px;
    }

    &__midle {
        margin-top: 22px;
    }

    &__bottom {
        display: flex;
        align-items: center;
        margin-top: 37px;
        justify-content: space-between;
    }

    &__floor {
        display: flex;
        align-items: center;
    }

    &__ic {
        width: 14px;
        height: 14px;
        background-color: $ochre;
        margin-right: 13px;
        transform: rotate(45deg);
    }

    &__qty {
        margin-right: 8px;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 26px;
    }

    &__date {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        text-align: right;
        letter-spacing: 0.3px;
        margin-left: auto;
        padding-top: 5px;

        span {
            font-weight: bold;
        }
    }

    &__menu {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .line {
            opacity: 0;
            transition: all .5s;
            position: absolute;
            bottom: 0;
            left: var(--left, calc(100% / var(--items) * (var(--index) - 1)));
            width: var(--width, calc(100% / var(--items)));
            --index: 0;
        }
    }

    &__link {
        display: flex;
        padding: 5px 25px 16px;
        cursor: pointer;

        &:last-child {
            // padding-right: 0;
        }

        label {
            cursor: pointer;
        }

        input {
            display: none;
        }
    }
}