extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page';

block content
	.notification
		.notification__container.b-container
			.notification__bloc
				.notification__box
					.notification__txt 404
					.notification__txt.notification__txt--small Страница не найдена :(
				a(href="").btn.btn--decor
					.btn__cover
						.btn__button
							.btn__line
								+svg('arr')
							.btn__figure
								+svg('figure')
								.btn__decor
									+svg('arr')
						.btn__button.btn__button--laptop 
							+svg("home")
					.btn__txt вернуться домой
		.notification__img(style="background-image: url(../img/card/404.png)")
block script
