extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page';

block content
	.agreement.mf-margin
		.agreement__container.b-container
			.agreement__title.title-1 Соглашение на обработку персональных данных
			.agreement__bloc
				.agreement__article Термины, применяемые в настоящем Соглашении:
				.agreement__list
					.agreement__li Сайт – это совокупность текстов, графических элементов, дизайна, изображений, программного кода, фото- и видео материалов и иных результатов интеллектуальной деятельности, содержащихся в сети Интернет.
					.agreement__li Администрация Сайта – это лицо, обладающее правами администрирования Сайта.
					.agreement__li Пользователь – это любое лицо, осуществившее вход на Сайт и принявшее условия настоящего Соглашения, независимо от факта прохождения процедур регистрации и авторизации.
			.agreement__bloc
				.agreement__article Использование персональных данных
				.agreement__text Присоединяясь к настоящему Соглашению и оставляя свои данные на Сайте «https://000000.ru», (далее – Сайт), путем заполнения полей формы обратной связи Пользователь:
				.agreement__list
					.agreement__li подтверждает, что все указанные им данные принадлежат лично ему;
					.agreement__li подтверждает и признает, что им внимательно в полном объеме прочитано Соглашение и условия обработки его персональных данных, указываемых им в полях формы обратной связи, текст соглашения и условия обработки персональных данных ему понятны;
					.agreement__li дает согласие на обработку Сайтом предоставляемых в составе информации персональных данных в целях заключения между ним и Сайтом настоящего Соглашения, а также его последующего исполнения;
					.agreement__li выражает согласие с условиями обработки персональных данных без каких-либо оговорок и ограничений.
				.agreement__text Владельцем всей информации на сайте является
				.agreement__list
					.agreement__li ООО «Зеленые дали»
					.agreement__li ИНН 0000000000
					.agreement__li Юр. адрес: 000000, Россия, Челябинская обл., г. Магнитогорск, Кирпичный проезд, д.8 Пользователь дает свое согласие на обработку его персональных данных, а именно совершение действий, предусмотренных п. 3 ч. 1 ст. 3 Федерального закона от 27.07.2006 N 152-ФЗ "О персональных данных", и подтверждает, что, давая такое согласие, он действует свободно, своей волей и в своем интересе.
				.agreement__text Согласие Пользователя на обработку персональных данных является конкретным, информированным и сознательным.
				.agreement__text Обработке подлежат следующие персональные данные:
				.agreement__list
					.agreement__li Фамилия, имя, отчество Пользователя;
					.agreement__li Электронный адрес Пользователя;
					.agreement__li Номер телефона Пользователя.
					.agreement__li Адрес
				.agreement__text Под обработкой персональных данных подразумевается следующий перечень действий с персональными данными: сбор, запись, систематизация, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передача (распространение, предоставление доступа), обезличивание, блокирование, удаление, уничтожение персональных данных.
				.agreement__text Данное согласие на обработку персональных данных действует бессрочно, но может быть отозвано субъектом персональных данных на основании распоряжения в форме подачи заявки на нашем Сайте.
				.agreement__text Под обработкой персональных данных подразумевается следующий перечень действий с персональными данными: сбор, запись, систематизация, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передача (распространение, предоставление доступа), обезличивание, блокирование, удаление, уничтожение персональных данных. Данное согласие на обработку персональных данных действует бессрочно, но может быть отозвано субъектом персональных данных на основании распоряжения в форме подачи заявки на нашем Сайте. Администрация Сайта обязуется использовать персональные данные Пользователя, полученные в результате использования Сайта, в соответствии с требованиями законодательства о защите персональных данных, в том числе федерального закона №152-ФЗ от 27.07.2006 «О персональных данных» в редакции, действующей на момент обработки таких персональных данных.
			.agreement__bloc.agreement__bloc--dop
				.agreement__article Дополнительные условия
				.agreement__text Пользователь проинформирован:
block script
