extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page';

block content
	.object(style="background-image:url(./img/card/object.jpg)")
		img(src='./img/card/object.jpg')
		.object__inner
			.floor.floor--15
		.object__container.b-container


		
								

block script