.contacts.contacts--about
		.contacts.b-container
			.contacts__title.title-2 Контакты
			.contacts__wrapper
				.contacts__bloc
					.contacts__article Адрес Корпоративного центра СИНАЙ-ГРУПП:
					.contacts__box
						.contacts__row
							.contacts__ic 
								img(src="./img/icon/location.png" alt="")
							.contacts__txt 455038, Челябинская область, г. Магнитогорск, пр. Ленина, д. 118, корп. 1
						.contacts__row
							.contacts__ic 
								img(src="./img/icon/www.png" alt="")
							.contacts__txt Сайт: www.sinai-group.ru
						.contacts__row
							.contacts__ic 
								img(src="./img/icon/phone.png" alt="")
							.contacts__txt Тел.: 8 (3519) 580-491, 580-492, 580-493
						.contacts__row
							.contacts__ic 
								img(src="./img/icon/mail.png" alt="")
							.contacts__txt E-mail: office@sinai-group.ru
				.contacts__bloc
					.contacts__article Адреса и телефоны компаний, входящих в группу компаний «СИНАЙ-ГРУПП»
					.contacts__box
						.contacts__row
							.contacts__ic 
								img(src="./img/icon/world.png" alt="")
							.contacts__txt ООО «ЧелябСтройКомплект» — строительство
						.contacts__row
							.contacts__ic 
								img(src="./img/icon/location.png" alt="")
							.contacts__txt 457100, Челябинская область, г. Троицк, ул. Еремеева, 53 «А»
						.contacts__row
							.contacts__ic 
								img(src="./img/icon/location.png" alt="")
							.contacts__txt 455000, Челябинская область, г. Магнитогорск, у. Труда, 4
						.contacts__row
							.contacts__ic 
								img(src="./img/icon/mail.png" alt="")
							.contacts__txt E-mail: chsk@sinai-group.ru
				.contacts__bloc
					.contacts__box
						.contacts__row
							.contacts__ic 
								img(src="./img/icon/world.png" alt="")
							.contacts__txt ООО «Синай» — девелопмент, проектирование, строительство
						.contacts__row
							.contacts__ic 
								img(src="./img/icon/location.png" alt="")
							.contacts__txt 455038 г. Магнитогорск, пр. Ленина, д. 118, корп. 1
						.contacts__row
							.contacts__ic 
								img(src="./img/icon/www.png" alt="")
							.contacts__txt Тел.: Сайт: www.sinai-group.ru
						.contacts__row
							.contacts__ic 
								img(src="./img/icon/phone.png" alt="")
							.contacts__txt Тел.: 8 (3519) 580-491, 580-492, 580-493
						.contacts__row
							.contacts__ic 
								img(src="./img/icon/mail.png" alt="")
							.contacts__txt E-mail: office@sinai-group.ru