extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page';

block content
	.flats-detailed.mf-margin
		.flats-detailed__container.b-container
			.flats-detailed__title.title-1 2к квартира на Завенягина 1/2

			.flats-detailed__bloc
				.flats-detailed___left
				.flats-detailed__right
			
block script