extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page';

block content
	.flats-filter.mf-margin
		.flats-filter__container.b-container
			.flats-filter__title.title-1 Квартиры Завенягина 1/2
			.flats-filter__date 2 квартал 2021
			.burger-filter
				span.line
				span.line
				span.line
				//- <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
				//- 	<path d="M16 3H19" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
				//- 	<path d="M1 3H12" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
				//- 	<path d="M8 10H19" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
				//- 	<path d="M1 10H4" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
				//- 	<path d="M16 17H19" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
				//- 	<path d="M1 17H12" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
				//- 	<path class="circle" d="M15.4142 1.58579C16.1953 2.36684 16.1953 3.63317 15.4142 4.41422C14.6332 5.19527 13.3668 5.19527 12.5858 4.41422C11.8047 3.63317 11.8047 2.36684 12.5858 1.58579C13.3668 0.804738 14.6332 0.804738 15.4142 1.58579" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
				//- 	<path class="circle" d="M7.41422 8.58579C8.19527 9.36684 8.19527 10.6332 7.41422 11.4142C6.63317 12.1953 5.36684 12.1953 4.58579 11.4142C3.80474 10.6332 3.80474 9.36684 4.58579 8.58579C5.36684 7.80474 6.63317 7.80474 7.41422 8.58579" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
				//- 	<path class="circle" d="M15.4142 15.5858C16.1953 16.3668 16.1953 17.6332 15.4142 18.4142C14.6332 19.1953 13.3668 19.1953 12.5858 18.4142C11.8047 17.6332 11.8047 16.3668 12.5858 15.5858C13.3668 14.8047 14.6332 14.8047 15.4142 15.5858" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
				//- </svg>
			form(method="get").building-filter
				.building-filter__row
					.building-filter__col.building-filter__col--project
						.building-filter__header Проект
						.building-filter__box
							.building-filter__case
								.building-filter__wrp
									.building-filter__text Все
									.building-filter__img
										<svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M1 5L5.24264 9.24264L9.48528 5" stroke="#1E202C" stroke-width="1.5"/>
										</svg>
								.building-filter__select
									.building-filter__unit
										<input id="type1" type="radio" name="type" value="Завенягина 1/2" checked>
										<label for="type1" title="Завенягина 1">Завенягина 1/2</label>
									.building-filter__unit
										<input id="type2" type="radio" name="type" value="улица имени Газеты Правда, 79">
										<label for="type2" title="улица имени Газеты Правда, 79">улица имени Газеты Правда, 79</label>
									.building-filter__unit
										<input id="type3" type="radio" name="type" value="Завенягина 1/2" checked>
										<label for="type3" title="Завенягина 1">Завенягина 1/2</label>
									.building-filter__unit
										<input id="type4" type="radio" name="type" value="улица имени Газеты Правда, 79">
										<label for="type4" title="улица имени Газеты Правда, 79">улица имени Газеты Правда, 79</label>
					.building-filter__col.building-filter__col--room
						.building-filter__header Кол-во комнат
						.building-filter__box
							.building-filter__list
								.building-filter__radio
									<input id="room1" type="radio" name="room" value="C" checked>
									<label for="room1">C</label>
								.building-filter__radio
									<input id="room2" type="radio" name="room" value="1">
									<label for="room2">1</label>
								.building-filter__radio
									<input id="room3" type="radio" name="room" value="2">
									<label for="room3">2</label>
								.building-filter__radio
									<input id="room4" type="radio" name="room" value="3+">
									<label for="room4">3+</label>
					.building-filter__col.building-filter__col--period
						.building-filter__header Срок сдачи
						.building-filter__box
							.building-filter__case
								.building-filter__wrp
									.building-filter__text Срок сдачи
									.building-filter__img
										<svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M1 5L5.24264 9.24264L9.48528 5" stroke="#1E202C" stroke-width="1.5"/>
										</svg>
								.building-filter__select
									.building-filter__unit
										<input id="period1" type="radio" name="period" value="2020" checked>
										<label for="period1" type="radio" title="2020">2020</label>
									.building-filter__unit
										<input id="period2" type="radio" name="period" value="2019">
										<label for="period2" title="2019">2019</label>
									.building-filter__unit
										<input id="period3" type="radio" name="period" value="2018">
										<label for="period3" title="2018">2018</label>
									.building-filter__unit
										<input id="period4" type="radio" name="period" value="2017">
										<label for="period4" title="2017">2017</label>
					.building-filter__col.building-filter__col--offer
						.building-filter__header Спецпредложения
						.building-filter__box
							.building-filter__case
								.building-filter__wrp
									.building-filter__text Спецпредложения
									.building-filter__img
										<svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M1 5L5.24264 9.24264L9.48528 5" stroke="#1E202C" stroke-width="1.5"/>
										</svg>
								.building-filter__select
									.building-filter__unit
										<input id="offer1" type="radio" name="offer" value="Все" checked>
										<label for="offer1">Все</label>
									.building-filter__unit
										<input id="offer2" type="radio" name="offer" value="Старт продаж">
										<label for="offer2">Старт продаж</label>
									.building-filter__unit
										<input id="offer3" type="radio" name="offer" value="Строительство">
										<label for="offer3">Строительство</label>
									.building-filter__unit
										<input id="offer4" type="radio" name="offer" value="Завершенные">
										<label for="offer4">Завершенные</label>
					.building-filter__col.building-filter__col--cost
						.building-filter__header Стоимость
						.building-filter__range
							.building-filter__up
							.building-filter__low
						div#cost
						<input type="hidden" name="send-cost" id="send-result-сost" />

				.building-filter__row
					.building-filter__col.building-filter__col--cost
						.building-filter__header Площадь
						.building-filter__range
							.building-filter__up
							.building-filter__low
						div#area
						<input type="hidden" name="send-area" id="send-result-area" />
					.building-filter__col.building-filter__col--area
						.building-filter__header Особенности планировки
						.building-filter__box
							.building-filter__case
								.building-filter__wrp
									.building-filter__text Особенности планировки
									.building-filter__img
										<svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M1 5L5.24264 9.24264L9.48528 5" stroke="#1E202C" stroke-width="1.5"/>
										</svg>
								.building-filter__select
									.building-filter__unit
										<input id="area1" type="radio" name="area" value="Все" checked>
										<label for="area1">Все</label>
									.building-filter__unit
										<input id="area2" type="radio" name="area" value="Старт продаж">
										<label for="area2">Старт продаж</label>
									.building-filter__unit
										<input id="area3" type="radio" name="area" value="Строительство">
										<label for="area3">Строительство</label>
									.building-filter__unit
										<input id="area4" type="radio" name="area"  value="Завершенные">
										<label for="area4">Завершенные</label>
					.building-filter__button
						.building-filter__txt Свободно <span>55</span> квартир
						a(href="").btn.btn--decor
							.btn__cover
								.btn__button
									.btn__line
										+svg('arr')
									.btn__figure
										+svg('figure')
										.btn__decor
											+svg('arr')
								.btn__button.btn__button--laptop 
									<svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M2 13.5C7.52298 6.83333 16.477 6.83333 22 13.5" stroke="#D8BB54" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
										<path class = "fill" d="M15.682 9.81802C17.4393 11.5754 17.4393 14.4246 15.682 16.182C13.9246 17.9393 11.0754 17.9393 9.31802 16.182C7.56066 14.4246 7.56066 11.5754 9.31802 9.81802C11.0754 8.06066 13.9246 8.06066 15.682 9.81802" stroke="#D8BB54" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
									</svg>
							.btn__txt подробнее
			.filter-sort
				.filter-sort__box
					.filter-sort__case
						.filter-sort__wrp
							.filter-sort__text Сортировка
							.filter-sort__img
								<svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M1 5L5.24264 9.24264L9.48528 5" stroke="#1E202C" stroke-width="1.5"/>
								</svg>
						.filter-sort__select
							.filter-sort__unit
								<input id="sorts1" type="radio" name="sorts" value="pay-min" checked>
								<label for="sorts1" title="Цена (минимальная)">Цена (минимальная)</label>
							.filter-sort__unit
								<input id="sorts2" type="radio" name="sorts" value="pay-max" checked>
								<label for="sorts2" title="Цена (максимальная)">Цена (максимальная)</label>
							.filter-sort__unit
								<input id="sorts3" type="radio" name="sorts" value="area-min" checked>
								<label for="sorts3" title="Площадь (минимальная)">Площадь (минимальная)</label>
							.filter-sort__unit
								<input id="sorts4" type="radio" name="sorts" value="area-max" checked>
								<label for="sorts4" title="Площадь (максимальная)">Площадь (максимальная)</label>
						

	.flats-basic
		.flats-basic__container.b-container
			.flats-basic__menu
				<nav class="filter-menu nav-wrap">
						<ul class="group" id="example-one">
							<li class="current_page_item">
								<a class="filter-menu__link ">
									<input id="view1" type="radio" name="radio" value="1" checked>
									<label for="view1">Планировка</label>
								</a>
							</li>
							<li>
								<a class="filter-menu__link ">
									<input id="view2" type="radio" name="radio" value="2">
									<label for="view2">Плитка</label>
								</a>
							</li>
							<li>
								<a class="filter-menu__link ">
									<input id="view3" type="radio" name="radio" value="3">
									<label for="view3">Этажи</label>
								</a>
							</li>							
						</ul>
				</nav>
				form(method="get").flats-basic__filter
					.flats-basic__word Сортировать по
					.flats-basic__group
						.flats-basic__module
							.flats-basic__text Цене
							.flats-basic__switch
								.flats-basic__sort
									<input id="sort1" type="radio" name="sort1" value="1">
									<label for="sort1">
										+svg('arr_list')
									</label>
								.flats-basic__sort
									<input id="sort2" type="radio" name="sort1" value="2">
									<label for="sort2">
										+svg('arr_list')
									</label>
						.flats-basic__module
							.flats-basic__text Площади
							.flats-basic__switch
								.flats-basic__sort
									<input id="sort3" type="radio" name="sort2" value="3">
									<label for="sort3">
										+svg('arr_list')
									</label>
								.flats-basic__sort
									<input id="sort4" type="radio" name="sort2" value="4">
									<label for="sort4">
										+svg('arr_list')
									</label>
					button(type="reset").flats-basic__close
						.flats-basic__ic 
						.flats-basic__text Сбросить фильтр
			.flats-basic__box
				.flats-basic__items
					.flats-basic__item
						.flats-basic__plan
							.flats-basic__qty <span>4<span> квартиры
							.flats-basic__inner
								.flats-basic__img
									img(src='./img/flats/plan/plan.png' alt='')
						.flats-basic__cover
							.flats-basic__info 1 комнатная квартира 23,0м <sup><small>2</small></sup>
							.flats-basic__price от <span>1 250 000</span> руб.
							.flats-basic__adres Завенягина 123/2
							.flats-basic__bottom
								.flats-basic__bloc
									.flats-basic__txt Срок сдачи:
									.flats-basic__period 1 квартал 2021
								a(href="javascript:void(0);").flats-basic__link Подробнее
					.flats-basic__item
						.flats-basic__plan
							.flats-basic__qty <span>4<span> квартиры
							.flats-basic__inner
								.flats-basic__img
									img(src='./img/flats/plan/plan.png' alt='')
						.flats-basic__cover
							.flats-basic__info 1 комнатная квартира 23,0м <sup><small>2</small></sup>
							.flats-basic__price от <span>1 250 000</span> руб.
							.flats-basic__adres Завенягина 123/2
							.flats-basic__bottom
								.flats-basic__bloc
									.flats-basic__txt Срок сдачи:
									.flats-basic__period 1 квартал 2021
								a(href="javascript:void(0);").flats-basic__link Подробнее
					.flats-basic__item
						.flats-basic__plan
							.flats-basic__qty <span>4<span> квартиры
							.flats-basic__inner
								.flats-basic__img
									img(src='./img/flats/plan/plan.png' alt='')
						.flats-basic__cover
							.flats-basic__info 1 комнатная квартира 23,0м <sup><small>2</small></sup>
							.flats-basic__price от <span>1 250 000</span> руб.
							.flats-basic__adres Завенягина 123/2
							.flats-basic__bottom
								.flats-basic__bloc
									.flats-basic__txt Срок сдачи:
									.flats-basic__period 1 квартал 2021
								a(href="javascript:void(0);").flats-basic__link Подробнее
					.flats-basic__item
						.flats-basic__plan
							.flats-basic__qty <span>4<span> квартиры
							.flats-basic__inner
								.flats-basic__img
									img(src='./img/flats/plan/plan.png' alt='')
						.flats-basic__cover
							.flats-basic__info 1 комнатная квартира 23,0м <sup><small>2</small></sup>
							.flats-basic__price от <span>1 250 000</span> руб.
							.flats-basic__adres Завенягина 123/2
							.flats-basic__bottom
								.flats-basic__bloc
									.flats-basic__txt Срок сдачи:
									.flats-basic__period 1 квартал 2021
								a(href="javascript:void(0);").flats-basic__link Подробнее
					.flats-basic__item
						.flats-basic__plan
							.flats-basic__qty <span>4<span> квартиры
							.flats-basic__inner
								.flats-basic__img
									img(src='./img/flats/plan/plan.png' alt='')
						.flats-basic__cover
							.flats-basic__info 1 комнатная квартира 23,0м <sup><small>2</small></sup>
							.flats-basic__price от <span>1 250 000</span> руб.
							.flats-basic__adres Завенягина 123/2
							.flats-basic__bottom
								.flats-basic__bloc
									.flats-basic__txt Срок сдачи:
									.flats-basic__period 1 квартал 2021
								a(href="javascript:void(0);").flats-basic__link Подробнее
					.flats-basic__item
						.flats-basic__plan
							.flats-basic__qty <span>4<span> квартиры
							.flats-basic__inner
								.flats-basic__img
									img(src='./img/flats/plan/plan.png' alt='')
						.flats-basic__cover
							.flats-basic__info 1 комнатная квартира 23,0м <sup><small>2</small></sup>
							.flats-basic__price от <span>1 250 000</span> руб.
							.flats-basic__adres Завенягина 123/2
							.flats-basic__bottom
								.flats-basic__bloc
									.flats-basic__txt Срок сдачи:
									.flats-basic__period 1 квартал 2021
								a(href="javascript:void(0);").flats-basic__link Подробнее
					.flats-basic__item
						.flats-basic__plan
							.flats-basic__qty <span>4<span> квартиры
							.flats-basic__inner
								.flats-basic__img
									img(src='./img/flats/plan/plan.png' alt='')
						.flats-basic__cover
							.flats-basic__info 1 комнатная квартира 23,0м <sup><small>2</small></sup>
							.flats-basic__price от <span>1 250 000</span> руб.
							.flats-basic__adres Завенягина 123/2
							.flats-basic__bottom
								.flats-basic__bloc
									.flats-basic__txt Срок сдачи:
									.flats-basic__period 1 квартал 2021
								a(href="javascript:void(0);").flats-basic__link Подробнее
					.flats-basic__item
						.flats-basic__plan
							.flats-basic__qty <span>4<span> квартиры
							.flats-basic__inner
								.flats-basic__img
									img(src='./img/flats/plan/plan.png' alt='')
						.flats-basic__cover
							.flats-basic__info 1 комнатная квартира 23,0м <sup><small>2</small></sup>
							.flats-basic__price от <span>1 250 000</span> руб.
							.flats-basic__adres Завенягина 123/2
							.flats-basic__bottom
								.flats-basic__bloc
									.flats-basic__txt Срок сдачи:
									.flats-basic__period 1 квартал 2021
								a(href="javascript:void(0);").flats-basic__link Подробнее
					.flats-basic__item
						.flats-basic__plan
							.flats-basic__qty <span>4<span> квартиры
							.flats-basic__inner
								.flats-basic__img
									img(src='./img/flats/plan/plan.png' alt='')
						.flats-basic__cover
							.flats-basic__info 1 комнатная квартира 23,0м <sup><small>2</small></sup>
							.flats-basic__price от <span>1 250 000</span> руб.
							.flats-basic__adres Завенягина 123/2
							.flats-basic__bottom
								.flats-basic__bloc
									.flats-basic__txt Срок сдачи:
									.flats-basic__period 1 квартал 2021
								a(href="javascript:void(0);").flats-basic__link Подробнее
					
					
	div(style = "height: 200px")
block script