extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page';

block content
	.flats-filter.mf-margin
		.flats-filter__container.b-container
			.flats-filter__title.title-1 Квартиры Завенягина 1/2
			.flats-filter__date 2 квартал 2021
			.burger-filter
				span.line
				span.line
				span.line
			include ../modules/filter-flats
			.filter-sort
				.filter-sort__box
					.filter-sort__case
						.filter-sort__wrp
							.filter-sort__text Сортировка
							.filter-sort__img
								<svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M1 5L5.24264 9.24264L9.48528 5" stroke="#1E202C" stroke-width="1.5"/>
								</svg>
						.filter-sort__select
							.filter-sort__unit
								<input id="sorts1" type="radio" name="sorts" value="pay-min" checked>
								<label for="sorts1" title="Цена (минимальная)">Цена (минимальная)</label>
							.filter-sort__unit
								<input id="sorts2" type="radio" name="sorts" value="pay-max" checked>
								<label for="sorts2" title="Цена (максимальная)">Цена (максимальная)</label>
							.filter-sort__unit
								<input id="sorts3" type="radio" name="sorts" value="area-min" checked>
								<label for="sorts3" title="Площадь (минимальная)">Площадь (минимальная)</label>
							.filter-sort__unit
								<input id="sorts4" type="radio" name="sorts" value="area-max" checked>
								<label for="sorts4" title="Площадь (максимальная)">Площадь (максимальная)</label>
						

	.flats-basic
		.flats-basic__container.b-container
			.flats-basic__menu
				<nav class="filter-menu nav-wrap">
						<ul class="group" id="example-one">
							<li>
								<a class="filter-menu__link ">
									<input id="view1" type="radio" name="radio" value="1" checked>
									<label for="view1">Планировка</label>
								</a>
							</li>
							<li>
								<a class="filter-menu__link ">
									<input id="view2" type="radio" name="radio" value="2">
									<label for="view2">Плитка</label>
								</a>
							</li>
							<li class="current_page_item">
								<a class="filter-menu__link ">
									<input id="view3" type="radio" name="radio" value="3">
									<label for="view3">Этажи</label>
								</a>
							</li>							
						</ul>
				</nav>
				form(method="get").flats-basic__filter
					.flats-basic__word Сортировать по
					.flats-basic__group
						.flats-basic__module
							.flats-basic__text Цене
							.flats-basic__switch
								.flats-basic__sort
									<input id="sort1" type="radio" name="sort1" value="1">
									<label for="sort1">
										+svg('arr_list')
									</label>
								.flats-basic__sort
									<input id="sort2" type="radio" name="sort1" value="2">
									<label for="sort2">
										+svg('arr_list')
									</label>
						.flats-basic__module
							.flats-basic__text Площади
							.flats-basic__switch
								.flats-basic__sort
									<input id="sort3" type="radio" name="sort2" value="3">
									<label for="sort3">
										+svg('arr_list')
									</label>
								.flats-basic__sort
									<input id="sort4" type="radio" name="sort2" value="4">
									<label for="sort4">
										+svg('arr_list')
									</label>
					button(type="reset").flats-basic__close
						.flats-basic__ic 
						.flats-basic__text Сбросить фильтр
			.flats-basic__box.flats-basic__box--plate
				#placeholder
				.plate-box
					.plate-box__top
						.plate-box__list
							.plate-box__status.plate-box__status--booked
								.plate-box__square
								.plate-box__txt Забронировано
							.plate-box__status.plate-box__status--take
								.plate-box__square
								.plate-box__txt На рассмотрении
							.plate-box__status.plate-box__status--sold
								.plate-box__square
								.plate-box__txt Продано
							.plate-box__status.plate-box__status--free
								.plate-box__square
								.plate-box__txt Свободно
							
						.plate-box__box
							.plate-box__arrow.plate-box__arrow--prev
								+svg('arr_flats')
							.plate-box__text Завенягина 1/2
							.plate-box__arrow.plate-box__arrow--next
								+svg('arr_flats')
					.plate-box__slider
						.swiper-wrapper
							.plate-box__wrapper.swiper-slide(data-name="LEVEL1")
								.plate-box__left
									.plate-box__word Этажи
									.plate-box__set
										.plate-box__num 12
										.plate-box__num 11
										.plate-box__num 10
										.plate-box__num 9
										.plate-box__num 8
										.plate-box__num 7
										.plate-box__num 6
										.plate-box__num 5
										.plate-box__num 4
										.plate-box__num 3
										.plate-box__num 2
										.plate-box__num 1 
								.plate-box__right
									#plate.plate-box__canvas
							.plate-box__wrapper.swiper-slide(data-name="LEVEL2")
								.plate-box__left
									.plate-box__word Этажи
									.plate-box__set
										.plate-box__num 12
										.plate-box__num 11
										.plate-box__num 10
										.plate-box__num 9
										.plate-box__num 8
										.plate-box__num 7
										.plate-box__num 6
										.plate-box__num 5
										.plate-box__num 4
										.plate-box__num 3
										.plate-box__num 2
										.plate-box__num 1 
								.plate-box__right
									#plate.plate-box__canvas
										//- .plate-popup
										//- 	.plate-popup__inner
										//- 		.plate-popup__top
										//- 			.plate-popup__unit.plate-popup__unit--qty 2к квартира
										//- 			.plate-popup__unit.plate-popup__unit--price от 2,5 млн
										//- 		.plate-popup__bottom 
										//- 			.plate-popup__status Свободно
										//- 			.plate-popup__func
										//- 				a(href="javascript:void(0);").plate-popup__link.plate-popup__link--about Подробнее
										//- 				a(href="javascript:void(0);").plate-popup__link.plate-popup__link--scheme Планировка
						<div class="swiper-pagination pag-shoes"></div>	

											



				
					
						
						


block script