extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page';

block content
	.flats-detailed.mf-margin
		.flats-detailed__container.b-container
			.flats-detailed__title.title-1 Таунхаус ЖК Ближний

			.flats-detailed__wrapper
				.flats-detailed__left
					.slider-flats
						.slider-flats__wrapp.js-slider-flat
							.slider-flats__pagination 
									.arr.arr--next 
										+svg('arr_flats')
									.pagination
									.arr.arr--prev
										+svg('arr_flats')
							.swiper-wrapper
								.swiper-slide.slider-flats__box
									.slider-flats__left
										img(src="./img/flats/plan/plan.svg" alt="")
									.slider-flats__right
										.slider-flats__ic(style="background-image: url(./img/flats/plan/weather.svg)")
								.swiper-slide.slider-flats__box
									.slider-flats__left
										img(src="./img/flats/plan/plan.svg" alt="")
									.slider-flats__right
										.slider-flats__ic(style="background-image: url(./img/flats/plan/weather.svg)")
				.flats-detailed__right.js-slider-flat-info
						.swiper-wrapper
							.swiper-slide
								.flats-info__top
									.flats-info__items
										.flats-info__item
											.flats-info__txt Адрес 1:
											.flats-info__txt Завенягина 1/2
										.flats-info__item
											.flats-info__txt Срок сдачи:
											.flats-info__txt 1 квартал 2021 
										.flats-info__item
											.flats-info__txt Этаж:
											.flats-info__txt 4 из 10
										.flats-info__item
											.flats-info__txt Пощадь:
											.flats-info__txt 23,0 м
								.flats-info__content
									.flats-info__blocs
										.flats-info__bloc
											.flats-info__ic(style="background-image: url(./img/flats/plan/benefit1.svg)")
											.flats-info__txt Гардероб в спальне
										.flats-info__bloc
											.flats-info__ic(style="background-image: url(./img/flats/plan/benefit2.svg)")
											.flats-info__txt Второй санузел
										.flats-info__bloc
											.flats-info__ic(style="background-image: url(./img/flats/plan/benefit3.svg)")
											.flats-info__txt Вид на 2 стороны
										.flats-info__bloc
											.flats-info__ic(style="background-image: url(./img/flats/plan/benefit4.svg)")
											.flats-info__txt Постирочная
								.flats-info__price
									.flats-info__unit
										.flats-info__num 1 250 000 руб.
										.flats-info__word купить в ипотеку от 9 400 руб/мес.
									a(href="javascript:void(0);").link.link--underline.btn--call Купите квартиру в ипотеку без первоначального взноса
								.flats-info__func
									a(href="javascript:void(0);").flats-info__module
										.flats-info__pic
											<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M28.3333 36.6667C23.7317 36.6667 20 32.935 20 28.3333C20 23.7317 23.7317 20 28.3333 20C32.9367 20 36.6667 23.7317 36.6667 28.3333C36.6667 32.935 32.9367 36.6667 28.3333 36.6667" stroke="#323232" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
												<path d="M28.3333 25V31.6667" stroke="#323232" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
												<path d="M25 28.3333L28.3333 31.6666L31.6667 28.3333" stroke="#323232" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
												<path d="M31.6667 20.695V13.0467C31.6667 12.1633 31.315 11.315 30.69 10.69L25.9767 5.97667C25.3517 5.35167 24.5033 5 23.62 5H8.33333C6.49167 5 5 6.49167 5 8.33333V31.6667C5 33.5083 6.49167 35 8.33333 35H23.3333" stroke="#323232" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
												<path d="M31.6663 13.3333H24.9997C24.0797 13.3333 23.333 12.5867 23.333 11.6667V5" stroke="#323232" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
											</svg>

										.flats-info__char Скачать PDF
									a(href="javascript:void(0);").flats-info__module.btn--share
										.flats-info__pic
											<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M16.4099 18.0354C17.4949 19.1204 17.4949 20.8796 16.4099 21.9646C15.3249 23.0496 13.5657 23.0496 12.4807 21.9646C11.3957 20.8796 11.3957 19.1204 12.4807 18.0354C13.5658 16.9504 15.3249 16.9504 16.4099 18.0354" stroke="#323232" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
												<path d="M16.917 21.2334L23.0837 24.3167" stroke="#323232" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
												<path d="M23.0837 15.6833L16.917 18.7667" stroke="#323232" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
												<path d="M27.5193 12.4805C28.6043 13.5655 28.6043 15.3247 27.5193 16.4097C26.4343 17.4947 24.6751 17.4947 23.5901 16.4097C22.5051 15.3246 22.5051 13.5655 23.5901 12.4805C24.6751 11.3955 26.4343 11.3955 27.5193 12.4805" stroke="#323232" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
												<path d="M27.5193 23.5904C28.6043 24.6754 28.6043 26.4345 27.5193 27.5195C26.4343 28.6045 24.6751 28.6045 23.5901 27.5195C22.5051 26.4345 22.5051 24.6754 23.5901 23.5904C24.6751 22.5054 26.4343 22.5054 27.5193 23.5904" stroke="#323232" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
												<path fill-rule="evenodd" clip-rule="evenodd" d="M31.6667 35H8.33333C6.49167 35 5 33.5083 5 31.6667V8.33333C5 6.49167 6.49167 5 8.33333 5H31.6667C33.5083 5 35 6.49167 35 8.33333V31.6667C35 33.5083 33.5083 35 31.6667 35Z" stroke="#323232" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
											</svg>
										.flats-info__char Поделиться
								.btn.btn--decor.btn--call
									.btn__cover
										.btn__button
											.btn__line
												+svg('arr')
											.btn__figure
												+svg('figure')
												.btn__decor
													+svg('arr')
										.btn__button.btn__button--laptop 
											<svg width="24" height="23" viewBox="0 0 24 23" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M19.8284 10.6855C21.3905 12.2476 21.3905 14.7803 19.8284 16.3423C18.2663 17.9044 15.7337 17.9044 14.1716 16.3423C12.6095 14.7802 12.6095 12.2476 14.1716 10.6855C15.7337 9.12339 18.2663 9.12339 19.8284 10.6855" stroke="#D8BB54" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
												<path d="M17 12.1799V14.8499" stroke="#D8BB54" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
												<path d="M18.3299 13.51H15.6699" stroke="#D8BB54" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
												<path d="M14.507 16.6361C12.887 17.8101 11.513 18.5141 11.453 18.5141C11.303 18.5141 3 14.1841 3 8.89608C3 6.28508 5.001 3.48608 7.978 3.48608C9.687 3.48608 10.805 4.34108 11.453 5.09208C12.101 4.34108 13.219 3.48608 14.928 3.48608C17.905 3.48608 19.906 6.28508 19.906 8.89608C19.906 9.44608 19.799 9.98208 19.637 10.5071" stroke="#D8BB54" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
											</svg>
									.btn__txt забронировать квартиру
							.swiper-slide
								.flats-info__top
									.flats-info__items
										.flats-info__item
											.flats-info__txt Адрес 2:
											.flats-info__txt Завенягина 1/2
										.flats-info__item
											.flats-info__txt Срок сдачи:
											.flats-info__txt 1 квартал 2021 
										.flats-info__item
											.flats-info__txt Этаж:
											.flats-info__txt 4 из 10
										.flats-info__item
											.flats-info__txt Пощадь:
											.flats-info__txt 23,0 м
								.flats-info__content
									.flats-info__blocs
										.flats-info__bloc
											.flats-info__ic(style="background-image: url(./img/flats/plan/benefit1.svg)")
											.flats-info__txt Гардероб в спальне
										.flats-info__bloc
											.flats-info__ic(style="background-image: url(./img/flats/plan/benefit2.svg)")
											.flats-info__txt Второй санузел
										.flats-info__bloc
											.flats-info__ic(style="background-image: url(./img/flats/plan/benefit3.svg)")
											.flats-info__txt Вид на 2 стороны
										.flats-info__bloc
											.flats-info__ic(style="background-image: url(./img/flats/plan/benefit4.svg)")
											.flats-info__txt Постирочная
								.flats-info__price
									.flats-info__unit
										.flats-info__num 1 250 000 руб.
										.flats-info__word купить в ипотеку от 9 400 руб/мес.
									a(href="javascript:void(0);").link.link--underline.btn--call Купите квартиру в ипотеку без первоначального взноса
								.flats-info__func
									a(href="javascript:void(0);").flats-info__module
										.flats-info__pic
											<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M28.3333 36.6667C23.7317 36.6667 20 32.935 20 28.3333C20 23.7317 23.7317 20 28.3333 20C32.9367 20 36.6667 23.7317 36.6667 28.3333C36.6667 32.935 32.9367 36.6667 28.3333 36.6667" stroke="#323232" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
												<path d="M28.3333 25V31.6667" stroke="#323232" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
												<path d="M25 28.3333L28.3333 31.6666L31.6667 28.3333" stroke="#323232" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
												<path d="M31.6667 20.695V13.0467C31.6667 12.1633 31.315 11.315 30.69 10.69L25.9767 5.97667C25.3517 5.35167 24.5033 5 23.62 5H8.33333C6.49167 5 5 6.49167 5 8.33333V31.6667C5 33.5083 6.49167 35 8.33333 35H23.3333" stroke="#323232" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
												<path d="M31.6663 13.3333H24.9997C24.0797 13.3333 23.333 12.5867 23.333 11.6667V5" stroke="#323232" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
											</svg>

										.flats-info__char Скачать PDF
									a(href="javascript:void(0);").flats-info__module.btn--share
										.flats-info__pic
											<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M16.4099 18.0354C17.4949 19.1204 17.4949 20.8796 16.4099 21.9646C15.3249 23.0496 13.5657 23.0496 12.4807 21.9646C11.3957 20.8796 11.3957 19.1204 12.4807 18.0354C13.5658 16.9504 15.3249 16.9504 16.4099 18.0354" stroke="#323232" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
												<path d="M16.917 21.2334L23.0837 24.3167" stroke="#323232" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
												<path d="M23.0837 15.6833L16.917 18.7667" stroke="#323232" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
												<path d="M27.5193 12.4805C28.6043 13.5655 28.6043 15.3247 27.5193 16.4097C26.4343 17.4947 24.6751 17.4947 23.5901 16.4097C22.5051 15.3246 22.5051 13.5655 23.5901 12.4805C24.6751 11.3955 26.4343 11.3955 27.5193 12.4805" stroke="#323232" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
												<path d="M27.5193 23.5904C28.6043 24.6754 28.6043 26.4345 27.5193 27.5195C26.4343 28.6045 24.6751 28.6045 23.5901 27.5195C22.5051 26.4345 22.5051 24.6754 23.5901 23.5904C24.6751 22.5054 26.4343 22.5054 27.5193 23.5904" stroke="#323232" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
												<path fill-rule="evenodd" clip-rule="evenodd" d="M31.6667 35H8.33333C6.49167 35 5 33.5083 5 31.6667V8.33333C5 6.49167 6.49167 5 8.33333 5H31.6667C33.5083 5 35 6.49167 35 8.33333V31.6667C35 33.5083 33.5083 35 31.6667 35Z" stroke="#323232" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
											</svg>
										.flats-info__char Поделиться
								.btn.btn--decor.btn--call
									.btn__cover
										.btn__button
											.btn__line
												+svg('arr')
											.btn__figure
												+svg('figure')
												.btn__decor
													+svg('arr')
										.btn__button.btn__button--laptop 
											<svg width="24" height="23" viewBox="0 0 24 23" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M19.8284 10.6855C21.3905 12.2476 21.3905 14.7803 19.8284 16.3423C18.2663 17.9044 15.7337 17.9044 14.1716 16.3423C12.6095 14.7802 12.6095 12.2476 14.1716 10.6855C15.7337 9.12339 18.2663 9.12339 19.8284 10.6855" stroke="#D8BB54" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
												<path d="M17 12.1799V14.8499" stroke="#D8BB54" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
												<path d="M18.3299 13.51H15.6699" stroke="#D8BB54" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
												<path d="M14.507 16.6361C12.887 17.8101 11.513 18.5141 11.453 18.5141C11.303 18.5141 3 14.1841 3 8.89608C3 6.28508 5.001 3.48608 7.978 3.48608C9.687 3.48608 10.805 4.34108 11.453 5.09208C12.101 4.34108 13.219 3.48608 14.928 3.48608C17.905 3.48608 19.906 6.28508 19.906 8.89608C19.906 9.44608 19.799 9.98208 19.637 10.5071" stroke="#D8BB54" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
											</svg>
									.btn__txt забронировать квартиру

	.flats-special
		.flats-special__container.b-container
			.flats-special__grid
				.flats-special__left
					.flats-special__title.title-3 Рекомендуем квартиры
					.flats-special__bloc
						.flats-special__txt с дополнительными функциями
						.flats-special__txt с Увеличив ипотечный платёж вы можете купить квартиру большей площади с дополнительными функциями, такими как например терраса, гардеробная, постирочная.
					.index-project__wrapper.button
						.inner-slider__in
							.index-project__link.index-project__link--pf_prev
							.index-project__link.index-project__link--pf_next
				.flats-special__right
					.flats-special__inner#plan-slider
						.flats-special__wrapper.swiper-wrapper
							a(href="javascript:void(0);").flats-special__slide.swiper-slide
								.flats-special__pic
									img(src="./img/flats/plan/plan.svg" alt="")
								.flats-special__content
									.flats-special__block 
										.flats-special__area +16,4м <sup>2</sup>
										.flats-special__text к площади
									.flats-special__tags
										.flats-special__tag Гардероб в спальне
										.flats-special__tag Второй санузел
										.flats-special__tag Ещё 4
									.flats-special__pay
										.flats-special__word Ипотечный платеж
										.flats-special__price <span>+6 200</span> р/мес.
						.project-period__pagination
			include ../modules/calc
	.b-container
		.wrapper.wrapper--basic
			.wrapper__left
				.menu-content
					.menu-content__inner
						a(href="#about").menu-content__li.menu-content__li--active О проекте
						a(href="#flat").menu-content__li Квартира
			.wrapper__right
				.project
					.project__start#about
					.content.content--project
						h1 Test
						h2 Test 2
						h3 Test 3

						a(href='./img/card/pic.jpg').project__img
							img(src='./img/card/pic.jpg' alt='')

						a(href='./img/card/pic.jpg').project__img
							img(src='./img/card/pic.jpg' alt='')

						p Для удобства жильцов каждый подъезд оборудован 2 лифтами - пассажирским и грузовым, большая входная группа позволяет свободно разместить в коридоре велосипеды и коляски. В нашем доме нет мусоропровода. В нашем доме нет газового оборудования. Установка электрических плит позволяет использовать специальные тарифные планы по оплате за элетроэнергию.

						a(href='./img/card/pic.jpg').project__img
							img(src='./img/card/pic.jpg' alt='')

						p Для удобства жильцов каждый подъезд оборудован 2 лифтами - пассажирским и грузовым, большая входная группа позволяет свободно разместить в коридоре велосипеды и коляски. В нашем доме нет мусоропровода. В нашем доме нет газового оборудования. Установка электрических плит позволяет использовать специальные тарифные планы по оплате за элетроэнергию.
						
						a(href='./img/card/pic3.jpg').project__img
							img(src='./img/card/pic3.jpg' alt='')

						p Для удобства жильцов каждый подъезд оборудован 2 лифтами - пассажирским и грузовым, большая входная группа позволяет свободно разместить в коридоре велосипеды и коляски. В нашем доме нет мусоропровода. В нашем доме нет газового оборудования. Установка электрических плит позволяет использовать специальные тарифные планы по оплате за элетроэнергию.
						
						ul
							li Tet 1
							li Test 2
							li Test 3

						ul 
							li Tet 1
							li Test 2
							li Test 3

						div 
							p Lorem <a href="#">ipsum dolor sit amet</a> consectetur adipisicing elit. Ab nisi at repellendus, et corporis enim eius labore a explicabo. Est modi voluptate rem possimus beatae praesentium fugiat vero dignissimos commodi?

						ol
							li Tet 1
							li Test 2
							li Test 3
					.project-period.project-period--simple(id="flat")
						.project-period__slider
							.swiper-wrapper
								.swiper-slide(data-slide='1')
									img(src='./img/card/pic4.jpg' alt='')
								.swiper-slide(data-slide='2')
									img(src='./img/card/pic2.jpg' alt='' )
								.swiper-slide(data-slide='3')
									img(src='./img/card/pic3.jpg' alt='' )
							.inner-slider__inner
								.inner-slider__num
								.inner-slider__wrapper.inner-slider__wrapper--build
									.inner-slider__pagination.button
										.inner-slider__in
											.inner-slider__link.inner-slider__link--prev
											.inner-slider__link.inner-slider__link--next
							.project-period__pagination
							.swiper-menu

										
block script