extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page';

block content
	.index
		.index__container.b-container
			.index-slider
				.swiper-wrapper
					.swiper-slide.index-slider__special
						.index__items
							.index-slider__grid
								.index-slider__mf
									.index-slider__img
										img(src="./img/index/p1.jpg" alt="")
										a(href="").btn.btn--slide 
											span Выбрать квартиру в этом доме
								.index-content
									.index-content__inner
										.index-content__title.title-1 Счастливая аллея
										.index-content__txt Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
										.index-content__func
											.index-content__button 
												.index-content__icon
													+svg('key')
												.index-content__text Выбрать квартиру
											a(href="").btn.btn--decor
												.btn__cover
													.btn__button
														.btn__line
															+svg('arr')
														.btn__figure
															+svg('figure')
															.btn__decor
																+svg('arr')
													.btn__button.btn__button--laptop 
														<svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
															<path d="M2 13.5C7.52298 6.83333 16.477 6.83333 22 13.5" stroke="#D8BB54" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
															<path class = "fill" d="M15.682 9.81802C17.4393 11.5754 17.4393 14.4246 15.682 16.182C13.9246 17.9393 11.0754 17.9393 9.31802 16.182C7.56066 14.4246 7.56066 11.5754 9.31802 9.81802C11.0754 8.06066 13.9246 8.06066 15.682 9.81802" stroke="#D8BB54" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
														</svg>
												.btn__txt подробнее
											.swiper-pagination
					.swiper-slide.index-slider__special
						.index__items
							.index-slider__grid
								.index-slider__mf
									.index-slider__img
										img(src="./img/index/p1.jpg" alt="")
										a(href="").btn.btn--slide 
											span Выбрать квартиру в этом доме
								.index-content
									.index-content__inner
										.index-content__title.title-1 Счастливая аллея 2
										.index-content__txt Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
										.index-content__func
											.index-content__button 
												.index-content__icon
													+svg('key')
												.index-content__text Выбрать квартиру
											a(href="").btn.btn--decor
												.btn__cover
													.btn__button
														.btn__line
															+svg('arr')
														.btn__figure
															+svg('figure')
															.btn__decor
																+svg('arr')
													.btn__button.btn__button--laptop 
														<svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
															<path d="M2 13.5C7.52298 6.83333 16.477 6.83333 22 13.5" stroke="#D8BB54" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
															<path class = "fill" d="M15.682 9.81802C17.4393 11.5754 17.4393 14.4246 15.682 16.182C13.9246 17.9393 11.0754 17.9393 9.31802 16.182C7.56066 14.4246 7.56066 11.5754 9.31802 9.81802C11.0754 8.06066 13.9246 8.06066 15.682 9.81802" stroke="#D8BB54" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
														</svg>
												.btn__txt подробнее
											.swiper-pagination
						
			.index__slider 			
				.swiper-wrapper.index__box
					.swiper-slide.index__special
						.index__block
							.index__items
								.index__left
									img(src="./img/index/p1.jpg" alt="")
									.index__info 
										.index__part
											.index__num 13
											.index__txt свободных квартир
										.index__part
											.index__num 2020
											.index__txt завершение проекта
										.index__btn
											a(href="").index__func
												<svg class="b-svg" width="30" height="18" viewBox="0 0 30 18" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M29.25 8.89344C29.25 10.9779 27.8204 12.9976 25.2241 14.5369C22.6442 16.0666 19.0311 17.0369 15 17.0369C10.9689 17.0369 7.35584 16.0666 4.7759 14.5369C2.17959 12.9976 0.75 10.9779 0.75 8.89344C0.75 6.80897 2.17959 4.7893 4.7759 3.24996C7.35584 1.72032 10.9689 0.75 15 0.75C19.0311 0.75 22.6442 1.72032 25.2241 3.24996C27.8204 4.7893 29.25 6.80897 29.25 8.89344Z" stroke="#D8BB54" stroke-width="1.5"/>
													<path class="fill" d="M19.9055 8.89328C19.9055 12.2359 17.6048 14.7416 14.9997 14.7416C12.3947 14.7416 10.094 12.2359 10.094 8.89328C10.094 5.55069 12.3947 3.04492 14.9997 3.04492C17.6048 3.04492 19.9055 5.55069 19.9055 8.89328Z" stroke="#D8BB54" stroke-width="1.5"/>
												</svg>
												.index__word О комплексе
								.index__right
									.index__inner
										.index__status
											.index__grid
												img(src="./img/icon/ok.png" alt="")
												.index__st Сдаётся
											.index__wrp
												.index__itm <span>13</span> свободных квартир
												.index__itm <span>2020</span> завершение проекта
										.index__bloc
											.title-2 Счастливая аллея
											.index-content__txt Комплекс расположен на экологически чистом районе города Магнитогорска, пересечение ул. Жукова и 50 лет Магнитки. Большое количество детских дошкольных, общеобразовательных и досуговых учреждений, школы по изучению иностранных языков.
											.index-content__func
												.index-content__button 
													.index-content__icon
														+svg('key')
													.index-content__text Выбрать квартиру
												a(href="").btn.btn--decor
													.btn__cover
														.btn__button
															.btn__line
																+svg('arr')
															.btn__figure
																+svg('figure')
																.btn__decor
																	+svg('arr')
														.btn__button.btn__button--laptop 
															<svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path d="M2 13.5C7.52298 6.83333 16.477 6.83333 22 13.5" stroke="#D8BB54" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
																<path class = "fill" d="M15.682 9.81802C17.4393 11.5754 17.4393 14.4246 15.682 16.182C13.9246 17.9393 11.0754 17.9393 9.31802 16.182C7.56066 14.4246 7.56066 11.5754 9.31802 9.81802C11.0754 8.06066 13.9246 8.06066 15.682 9.81802" stroke="#D8BB54" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
															</svg>
													.btn__txt Выбрать квартиру
					.swiper-slide.index__special
						.index__block
							.index__items
								.index__left
									img(src="./img/index/p2.jpg" alt="")
									.index__info 
										.index__part
											.index__num 13
											.index__txt свободных квартир
										.index__part
											.index__num 2020
											.index__txt завершение проекта
										.index__btn
											a(href="").index__func
												<svg class="b-svg" width="30" height="18" viewBox="0 0 30 18" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M29.25 8.89344C29.25 10.9779 27.8204 12.9976 25.2241 14.5369C22.6442 16.0666 19.0311 17.0369 15 17.0369C10.9689 17.0369 7.35584 16.0666 4.7759 14.5369C2.17959 12.9976 0.75 10.9779 0.75 8.89344C0.75 6.80897 2.17959 4.7893 4.7759 3.24996C7.35584 1.72032 10.9689 0.75 15 0.75C19.0311 0.75 22.6442 1.72032 25.2241 3.24996C27.8204 4.7893 29.25 6.80897 29.25 8.89344Z" stroke="#D8BB54" stroke-width="1.5"/>
													<path class="fill" d="M19.9055 8.89328C19.9055 12.2359 17.6048 14.7416 14.9997 14.7416C12.3947 14.7416 10.094 12.2359 10.094 8.89328C10.094 5.55069 12.3947 3.04492 14.9997 3.04492C17.6048 3.04492 19.9055 5.55069 19.9055 8.89328Z" stroke="#D8BB54" stroke-width="1.5"/>
												</svg>
												.index__word О комплексе
								.index__right
									.index__inner
										.index__status
											.index__grid
												img(src="./img/icon/el.png" alt="")
												.index__st Сдаётся
											.index__wrp
												.index__itm <span>13</span> свободных квартир
												.index__itm <span>2020</span> завершение проекта
										.index__bloc
											.title-2 ЖК «Яблоневый сад»
											.index-content__txt На прилегающей к комплексу территории расположена удобная детская и спортивная площадка, на которой вы и ваши ваши дети могут с удовольствием проводить свободное время. В нашем доме нет мусоропровода!
											.index-content__func
												.index-content__button 
													.index-content__icon
														+svg('key')
													.index-content__text Выбрать квартиру
												a(href="").btn.btn--decor
													.btn__cover
														.btn__button
															.btn__line
																+svg('arr')
															.btn__figure
																+svg('figure')
																.btn__decor
																	+svg('arr')
														.btn__button.btn__button--laptop 
															<svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path d="M2 13.5C7.52298 6.83333 16.477 6.83333 22 13.5" stroke="#D8BB54" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
																<path class = "fill" d="M15.682 9.81802C17.4393 11.5754 17.4393 14.4246 15.682 16.182C13.9246 17.9393 11.0754 17.9393 9.31802 16.182C7.56066 14.4246 7.56066 11.5754 9.31802 9.81802C11.0754 8.06066 13.9246 8.06066 15.682 9.81802" stroke="#D8BB54" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
															</svg>
													.btn__txt Выбрать квартиру
					.swiper-slide.index__special
						.index__block
							.index__items
								.index__left
									img(src="./img/index/p3.jpg" alt="")

									.index__info 
										.index__part
											.index__num 13
											.index__txt свободных квартир
										.index__part
											.index__num 2020
											.index__txt завершение проекта
										.index__btn
											a(href="").index__func
												<svg class="b-svg" width="30" height="18" viewBox="0 0 30 18" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M29.25 8.89344C29.25 10.9779 27.8204 12.9976 25.2241 14.5369C22.6442 16.0666 19.0311 17.0369 15 17.0369C10.9689 17.0369 7.35584 16.0666 4.7759 14.5369C2.17959 12.9976 0.75 10.9779 0.75 8.89344C0.75 6.80897 2.17959 4.7893 4.7759 3.24996C7.35584 1.72032 10.9689 0.75 15 0.75C19.0311 0.75 22.6442 1.72032 25.2241 3.24996C27.8204 4.7893 29.25 6.80897 29.25 8.89344Z" stroke="#D8BB54" stroke-width="1.5"/>
													<path class="fill" d="M19.9055 8.89328C19.9055 12.2359 17.6048 14.7416 14.9997 14.7416C12.3947 14.7416 10.094 12.2359 10.094 8.89328C10.094 5.55069 12.3947 3.04492 14.9997 3.04492C17.6048 3.04492 19.9055 5.55069 19.9055 8.89328Z" stroke="#D8BB54" stroke-width="1.5"/>
												</svg>
												.index__word О комплексе
								.index__right
									.index__inner
										.index__status
											.index__grid
												img(src="./img/icon/ok.png" alt="")
												.index__st Сдаётся
											.index__wrp
												.index__itm <span>13</span> свободных квартир
												.index__itm <span>2020</span> завершение проекта
										.index__bloc
											.title-2 ЖК «Спортивный»
											.index-content__txt Не будем забывать и про основную проблему 21 века — парковочные места. Жильцы нашего дома имеют возможность припарковать свое транспортное средство по всему периметру дома. Парковочные места — асфальтированы, в зимнее время ведется уборка придомовой территории.
											.index-content__func
												.index-content__button 
													.index-content__icon
														+svg('key')
													.index-content__text Выбрать квартиру
												a(href="").btn.btn--decor
													.btn__cover
														.btn__button
															.btn__line
																+svg('arr')
															.btn__figure
																+svg('figure')
																.btn__decor
																	+svg('arr')
														.btn__button.btn__button--laptop 
															<svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path d="M2 13.5C7.52298 6.83333 16.477 6.83333 22 13.5" stroke="#D8BB54" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
																<path class = "fill" d="M15.682 9.81802C17.4393 11.5754 17.4393 14.4246 15.682 16.182C13.9246 17.9393 11.0754 17.9393 9.31802 16.182C7.56066 14.4246 7.56066 11.5754 9.31802 9.81802C11.0754 8.06066 13.9246 8.06066 15.682 9.81802" stroke="#D8BB54" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
															</svg>
													.btn__txt Выбрать квартиру
				.index__pag
	.index-project
		.b-container
			.index-project__title.title-2 Реализованные проекты Синай-групп
		.index-project__inner
			.index-project__container.b-container
				.index-project__special
						.index-project__block
							.index-project__wrp
								.index-project__img
									.swiper-wrapper
										.swiper-slide
											.index-project__pic
												img(src="./img/index/p1.jpg" alt="")
										.swiper-slide
											.index-project__pic
												img(src="./img/index/p1.jpg" alt="")
									.index-project__wrapper.button
										.inner-slider__in
											.index-project__link.index-project__link--prev
											.index-project__link.index-project__link--next
								.index-project__content
									.swiper-wrapper
										.swiper-slide
											.index-content__inner
												.title-2 ЖК «Спортивный»
												.index-content__txt Наш дом выгодно отличается от типовой застройки данного района. В первую очередь – это уникальный архитектурный облик. Во – вторых – переменная этажность. Наш дом имеет 3 подъезда – 10/14/16 этажей.Наш дом выгодно отличается от типовой застройки данного района. В первую очередь это уникальный архитектурный облик. Во-вторых – переменная этажность. Наш дом имеет 3 подъезда – 10/14/16 этажей.
												.index-project__btn
													a(href="").btn.btn--decor
														.btn__cover
															.btn__button
																.btn__line
																	+svg('arr')
																.btn__figure
																	+svg('figure')
																	.btn__decor
																		+svg('arr')
															.btn__button.btn__button--laptop 
																<svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
																	<path d="M2 13.5C7.52298 6.83333 16.477 6.83333 22 13.5" stroke="#D8BB54" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
																	<path class = "fill" d="M15.682 9.81802C17.4393 11.5754 17.4393 14.4246 15.682 16.182C13.9246 17.9393 11.0754 17.9393 9.31802 16.182C7.56066 14.4246 7.56066 11.5754 9.31802 9.81802C11.0754 8.06066 13.9246 8.06066 15.682 9.81802" stroke="#D8BB54" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
																</svg>
														.btn__txt Выбрать квартиру
											.index-content__func
												.index-content__button 
													.index-content__icon
														+svg('key')
													.index-content__text Выбрать квартиру
												a(href="").btn.btn--decor
													.btn__cover
														.btn__button
															.btn__line
																+svg('arr')
															.btn__figure
																+svg('figure')
																.btn__decor
																	+svg('arr')
														.btn__button.btn__button--laptop 
															<svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path d="M2 13.5C7.52298 6.83333 16.477 6.83333 22 13.5" stroke="#D8BB54" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
																<path class = "fill" d="M15.682 9.81802C17.4393 11.5754 17.4393 14.4246 15.682 16.182C13.9246 17.9393 11.0754 17.9393 9.31802 16.182C7.56066 14.4246 7.56066 11.5754 9.31802 9.81802C11.0754 8.06066 13.9246 8.06066 15.682 9.81802" stroke="#D8BB54" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
															</svg>
													.btn__txt подробнее
												.project-pagination
										.swiper-slide
											.index-content__inner
												.title-2 ЖК «Спортивный»
												.index-content__txt Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod teLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod teLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
												.index-project__btn
													a(href="").btn.btn--decor
														.btn__cover
															.btn__button
																.btn__line
																	+svg('arr')
																.btn__figure
																	+svg('figure')
																	.btn__decor
																		+svg('arr')
															.btn__button.btn__button--laptop 
																<svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
																	<path d="M2 13.5C7.52298 6.83333 16.477 6.83333 22 13.5" stroke="#D8BB54" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
																	<path class = "fill" d="M15.682 9.81802C17.4393 11.5754 17.4393 14.4246 15.682 16.182C13.9246 17.9393 11.0754 17.9393 9.31802 16.182C7.56066 14.4246 7.56066 11.5754 9.31802 9.81802C11.0754 8.06066 13.9246 8.06066 15.682 9.81802" stroke="#D8BB54" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
																</svg>
														.btn__txt Выбрать квартиру
											.index-content__func
												.index-content__button 
													.index-content__icon
														+svg('key')
													.index-content__text Выбрать квартиру
												a(href="").btn.btn--decor
													.btn__cover
														.btn__button
															.btn__line
																+svg('arr')
															.btn__figure
																+svg('figure')
																.btn__decor
																	+svg('arr')
														.btn__button.btn__button--laptop 
															<svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path d="M2 13.5C7.52298 6.83333 16.477 6.83333 22 13.5" stroke="#D8BB54" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
																<path class = "fill" d="M15.682 9.81802C17.4393 11.5754 17.4393 14.4246 15.682 16.182C13.9246 17.9393 11.0754 17.9393 9.31802 16.182C7.56066 14.4246 7.56066 11.5754 9.31802 9.81802C11.0754 8.06066 13.9246 8.06066 15.682 9.81802" stroke="#D8BB54" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
															</svg>
													.btn__txt подробнее
												.project-pagination
				.index-project__about
						.index-project__grid
							.index-project__left
								.index-project__unit.index-project__unit--laptop
									.title-2 Мы не просто застройщики
									.index-project__module
										.index-project__paragraph But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful.
										.index-project__paragraph Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself.
								.index-project__items
									.index-project__item 
										.index-project__num 26
										.index-project__bloc
											.index-project__article.title-4 возведенных объектов
											.index-project__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
									.index-project__item 
										.index-project__num 9
										.index-project__bloc
											.index-project__article.title-4 лет опыта
											.index-project__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. 
									.index-project__item 
										.index-project__num 11
										.index-project__bloc
											.index-project__article.title-4 земельных участков
											.index-project__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
									.index-project__item.index-project__item--laptop
										a(href="").btn.btn--decor
														.btn__cover
															.btn__button
																.btn__line
																	+svg('arr')
																.btn__figure
																	+svg('figure')
																	.btn__decor
																		+svg('arr')
															.btn__button.btn__button--laptop 
																<svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
																	<path d="M2 13.5C7.52298 6.83333 16.477 6.83333 22 13.5" stroke="#D8BB54" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
																	<path class = "fill" d="M15.682 9.81802C17.4393 11.5754 17.4393 14.4246 15.682 16.182C13.9246 17.9393 11.0754 17.9393 9.31802 16.182C7.56066 14.4246 7.56066 11.5754 9.31802 9.81802C11.0754 8.06066 13.9246 8.06066 15.682 9.81802" stroke="#D8BB54" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
																</svg>
														.btn__txt О компании

							.index-project__right
								.index-project__unit
									.title-2 Мы не просто застройщики
									.index-project__module
										.index-project__paragraph But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful.
										.index-project__paragraph Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself.
								.index-project__unique
									.index-project__wrap
										.index-project__cover
											.index-project__example
												.swiper-wrapper
													.swiper-slide(style="background-image: url(./img/index/p5.jpg)")
													.swiper-slide(style="background-image: url(./img/index/p6.jpg)")
													.swiper-slide(style="background-image: url(./img/index/p1.jpg)")
													.swiper-slide(style="background-image: url(./img/index/p6.jpg)")
									.index-project__case
										.index-content__func
											a(href="").btn.btn--decor
												.btn__cover
													.btn__button
														.btn__line
															+svg('arr')
														.btn__figure
															+svg('figure')
															.btn__decor
																+svg('arr')
													.btn__button.btn__button--laptop 
														<svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
															<path d="M2 13.5C7.52298 6.83333 16.477 6.83333 22 13.5" stroke="#D8BB54" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
															<path class = "fill" d="M15.682 9.81802C17.4393 11.5754 17.4393 14.4246 15.682 16.182C13.9246 17.9393 11.0754 17.9393 9.31802 16.182C7.56066 14.4246 7.56066 11.5754 9.31802 9.81802C11.0754 8.06066 13.9246 8.06066 15.682 9.81802" stroke="#D8BB54" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
														</svg>
												.btn__txt подробнее
										.index-project__wrapper.button
											.inner-slider__in
												.index-project__arr.index-project__arr--prev
												.index-project__arr.index-project__arr--next
							.index-project__items.index-project__items--mobile
									.index-project__item 
										.index-project__num 26
										.index-project__bloc
											.index-project__article.title-4 возведенных объектов
											.index-project__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
									.index-project__item 
										.index-project__num 9
										.index-project__bloc
											.index-project__article.title-4 лет опыта
											.index-project__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. 
									.index-project__item 
										.index-project__num 11
										.index-project__bloc
											.index-project__article.title-4 земельных участков
											.index-project__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
				.index-certificate
						.index-certificate__grid
							.index-certificate__left
								.title-2 Наши сертификаты
								.index-certificate__txt Чтобы доказать нашу компетенцию и вы смогли доверить нам вашу жизнь и жизни родных — ознакомьтесь с документами. Сертификаты выдаются гос. структурами за соблюдение общепринятых норм в строительстве и проектировании, что делает наши возводимые объекты гарантом надежности и безопасности. 
							.index-certificate__right
								.index-certificate__unique
									.index-certificate__cer
										#lightgallery-cer.swiper-wrapper
											a(href="./img/index/p8.png").swiper-slide
												img(src="./img/index/p8.png" alt="letter")
											a(href="./img/index/p8.png").swiper-slide
												img(src="./img/index/p8.png" alt="letter")
											a(href="./img/index/p8.png").swiper-slide
												img(src="./img/index/p8.png" alt="letter")
											a(href="./img/index/p8.png").swiper-slide
												img(src="./img/index/p8.png" alt="letter")
											a(href="./img/index/p8.png").swiper-slide
												img(src="./img/index/p8.png" alt="letter")
								.index-project__wrapper.button
									.inner-slider__in
										.index-project__arr.index-project__arr--sprev
										.index-project__arr.index-project__arr--snext

	.index-inner
		.index-inner__container.b-container.b-container
			.index-project__title.title-3 Внутренняя атмосфера наших квартир
		.inner-slider
			.swiper-wrapper
				.swiper-slide
					.inner-slider__container.b-container
						.inner-slider__pic(style="background-image: url(./img/index/p4.jpg)")
						.inner-slider__box
							.inner-slider__cover
								.inner-slider__act
									.inner-slider__title.title-2 Аппартаменты на 50 лет Магнитки
									a(href="").btn.btn--white
										.btn__cover
											.btn__line
												+svg('arr')
											.btn__figure
												+svg('figure')
												.btn__decor
													+svg('arr')
										.btn__txt Выбрать планировку в этом доме	
								.inner-slider__inner
									.inner-slider__num
									.inner-slider__wrapper.inner-slider__wrapper--build
										.inner-slider__pagination.button
											.inner-slider__in
												.inner-slider__link.inner-slider__link--prev
												.inner-slider__link.inner-slider__link--next
						.inner-slider__bottom
							a(href="#").inner-slider__ref
								img(src="./img/icon/plane.svg" alt="")
								.inner-slider__word Выбрать планировку
							.inner-slider__pagination
							.swiper-menu
				.swiper-slide
					.inner-slider__container.b-container
						.inner-slider__pic(style="background-image: url(./img/index/p3.jpg)")
						.inner-slider__box
							.inner-slider__cover
								.inner-slider__act
									.inner-slider__title.title-2 Аппартаменты на 50 лет Магнитки
									a(href="").btn.btn--white
										.btn__cover
											.btn__line
												+svg('arr')
											.btn__figure
												+svg('figure')
												.btn__decor
													+svg('arr')
										.btn__txt Выбрать планировку в этом доме	
								.inner-slider__inner
									.inner-slider__num
									.inner-slider__wrapper.inner-slider__wrapper--build
										.inner-slider__pagination.button
											.inner-slider__in
												.inner-slider__link.inner-slider__link--prev
												.inner-slider__link.inner-slider__link--next
						.inner-slider__bottom
							.inner-slider__ref
								img(src="./img/icon/plane.svg" alt="")
								.inner-slider__word Выбрать планировку
							.inner-slider__pagination
							.swiper-menu
		

				
	.index-example
		.index-example__container.b-container
			.index-example__title.title-3 Примеры планировок
			.index-example__slider
				.swiper-wrapper
					.swiper-slide
						.index-example__grid
							.index-example__left
								img(src="./img/index/p9.png" alt="")
							.index-example__right
								.index-example__items
									.index-example__item
										.index-example__header Улица:
										.index-example__info Жукова 29
									.index-example__item
										.index-example__header Подъезд:
										.index-example__info 1
									.index-example__item
										.index-example__header Этаж:
										.index-example__info 9
								.index-example__txt Комплекс расположен на экологически чистом районе города Магнитогорска, пересечение ул. Жукова и 50 лет Магнитки. Большое количество детских дошкольных, общеобразовательных и досуговых учреждений.
								a(href="").btn.btn--white
										.btn__cover
											.btn__button
												.btn__line
													+svg('arr')
												.btn__figure
													+svg('figure')
													.btn__decor
														+svg('arr')
											.btn__button.btn__button--laptop 
												<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path fill-rule="evenodd" clip-rule="evenodd" d="M18 21H6C4.343 21 3 19.657 3 18V6C3 4.343 4.343 3 6 3H18C19.657 3 21 4.343 21 6V18C21 19.657 19.657 21 18 21Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
													<path d="M11 8V21" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
													<path d="M3 8H14C15.105 8 16 8.895 16 10V21" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
												</svg>
										.btn__txt Выбрать свою планировку
						.index-example__pagination
							.swiper-menu 
							a(href="").btn.btn--white
									.btn__cover
										.btn__button
											.btn__line
												+svg('arr')
											.btn__figure
												+svg('figure')
												.btn__decor
													+svg('arr')
										.btn__button.btn__button--laptop 
											<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path fill-rule="evenodd" clip-rule="evenodd" d="M18 21H6C4.343 21 3 19.657 3 18V6C3 4.343 4.343 3 6 3H18C19.657 3 21 4.343 21 6V18C21 19.657 19.657 21 18 21Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
												<path d="M11 8V21" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
												<path d="M3 8H14C15.105 8 16 8.895 16 10V21" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
											</svg>
									.btn__txt Выбрать свою планировку
					.swiper-slide
						.index-example__grid
							.index-example__left
								img(src="./img/index/p9.png" alt="")
							.index-example__right
								.index-example__items
									.index-example__item
										.index-example__header Улица:
										.index-example__info Жукова 29
									.index-example__item
										.index-example__header Подъезд:
										.index-example__info 2
									.index-example__item
										.index-example__header Этаж:
										.index-example__info 9
								.index-example__txt Комплекс расположен на экологически чистом районе города Магнитогорска, пересечение ул. Жукова и 50 лет Магнитки. Большое количество детских дошкольных, общеобразовательных и досуговых учреждений.	
								a(href="").btn.btn--white
									.btn__cover
										.btn__button
											.btn__line
												+svg('arr')
											.btn__figure
												+svg('figure')
												.btn__decor
													+svg('arr')
										.btn__button.btn__button--laptop 
											<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path fill-rule="evenodd" clip-rule="evenodd" d="M18 21H6C4.343 21 3 19.657 3 18V6C3 4.343 4.343 3 6 3H18C19.657 3 21 4.343 21 6V18C21 19.657 19.657 21 18 21Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
												<path d="M11 8V21" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
												<path d="M3 8H14C15.105 8 16 8.895 16 10V21" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
											</svg>
									.btn__txt Выбрать свою планировку
						.index-example__pagination
							.swiper-menu 
							a(href="").btn.btn--white
									.btn__cover
										.btn__button
											.btn__line
												+svg('arr')
											.btn__figure
												+svg('figure')
												.btn__decor
													+svg('arr')
										.btn__button.btn__button--laptop 
											<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path fill-rule="evenodd" clip-rule="evenodd" d="M18 21H6C4.343 21 3 19.657 3 18V6C3 4.343 4.343 3 6 3H18C19.657 3 21 4.343 21 6V18C21 19.657 19.657 21 18 21Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
												<path d="M11 8V21" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
												<path d="M3 8H14C15.105 8 16 8.895 16 10V21" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
											</svg>
									.btn__txt Выбрать свою планировку
				.index-project__wrapper.index-project__wrapper--example
					.inner-slider__inner
						.inner-slider__num.inner-slider__num--example
						.inner-slider__wrapper.inner-slider__wrapper--example
							.inner-slider__pagination.button
								.inner-slider__in
									.index-project__arr.index-project__arr--ex_prev
									.index-project__arr.index-project__arr--ex_next
				
					
	.index-news 
		.index-news__container.b-container
			.index-news__title.title-3 Новости
			.index-news__grid
				.index-news__left
					.index-news__article Почему у нас выгодно приобретать недвижимость?
					.index-news__block
						.index-news__info Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas varius tortor nibh, sit amet tempor nibh finibus et. Aenean eu enim justo. Vestibulum aliquam hendrerit molestie. Mauris malesuada nisi sit amet augue accumsan tincidunt. 
						.index-news__info Maecenas tincidunt, velit ac porttitor pulvinar, tortor eros facilisis libero, vitae commodo nunc quam et ligula. Ut nec ipsum sapien. Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer id nisi nec nulla luctus lacinia non eu turpis. Etiam in ex imperdiet justo tincidunt egestas. Ut porttitor urna ac augue cursus tincidunt sit amet sed orci.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas varius tortor nibh, sit amet tempor nibh finibus et. Aenean eu enim justo. Vestibulum aliquam hendrerit molestie.
					a(href="").btn.btn--decor
						.btn__cover
							.btn__line
								+svg('arr')
							.btn__figure
								+svg('figure')
								.btn__decor
									+svg('arr')
						.btn__txt Все новости
				.index-news__right
					.index-news__unique
						.index-news__slider
							.swiper-wrapper
								a(href="javascript:void(0);").swiper-slide
									.index-news__img
										img(src="./img/index/p10.jpg" alt="")
									.index-news__txt(title="Почему в наших домах нет мусоропровода?") Почему в наших домах нет мусоропровода?
									.index-news__date 14.10.19
								a(href="javascript:void(0);").swiper-slide
									.index-news__img
										img(src="./img/index/p10.jpg" alt="")
									.index-news__txt(title="Почему в наших домах нет мусоропровода?") Почему в наших домах нет мусоропровода?
									.index-news__date 14.10.19
								a(href="javascript:void(0);").swiper-slide
									.index-news__img
										img(src="./img/index/p10.jpg" alt="")
									.index-news__txt(title="Почему в наших домах нет мусоропровода?") Почему в наших домах нет мусоропровода?
									.index-news__date 14.10.19
								a(href="javascript:void(0);").swiper-slide
									.index-news__img
										img(src="./img/index/p10.jpg" alt="")
									.index-news__txt(title="Почему в наших домах нет мусоропровода?") Почему в наших домах нет мусоропровода?
									.index-news__date 14.10.19
							.index-news__cover
								.index-news__pagination
								a(href="").btn.btn--decor
									.btn__cover
										.btn__news
											+svg('news')
									.btn__txt Все новости



	div(style="height: 150px")

		
								

block script