extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page';

block content
	.structure.mf-margin
		.structure__container.b-container
			.structure__title.title-1 Проекты домов
			.structure__quote Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
			.structure__wrapper
				.structure__left
					.structure__menu
						.structure__link 
					.structure__items
						.structure__item
							.structure__pic
								img(src="" alt="")
							.structure__box
								.structure__top
									.structure__bloc
										.structure__article Современный дом в центре города
										.structure__adres по Завенягина, рядом с парком
									.structure__price от 1,5 млн руб.
								.structure__midle
								.structure__bottom
				.structure__right
					
block script