extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page';

block content
	.structure.mf-margin
		.structure__container.b-container
			.structure__title.title-1 Проекты домов
			.structure__quote Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
			<nav class="structure__menu filter-menu nav-wrap">
				<ul class="group" id="example-one">
					<li class="current_page_item">
						<a class="structure__link ">
							<input id="radio-1" type="radio" name="radio" value="1" checked>
							<label for="radio-1">Все</label>
						</a>
					</li>
					<li>
						<a class="structure__link ">
							<input id="radio-2" type="radio" name="radio" value="1">
							<label for="radio-2">Старт продаж</label>
						</a>
					</li>
					<li>
						<a class="structure__link ">
							<input id="radio-3" type="radio" name="radio" value="1">
							<label for="radio-3">Строительство</label>
						</a>
					</li>
					<li>
						<a class="structure__link ">
							<input id="radio-4" type="radio" name="radio" value="1">
							<label for="radio-4">Завершенные</label>
						</a>
					</li>
				</ul>
			</nav>
			.filter-sort
				.filter-sort__box
					.filter-sort__case
						.filter-sort__wrp
							.filter-sort__text Сортировка
							.filter-sort__img
								<svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M1 5L5.24264 9.24264L9.48528 5" stroke="#1E202C" stroke-width="1.5"/>
								</svg>
						.filter-sort__select
							.filter-sort__unit
								<input id="type1" type="radio" name="period" value="Все" checked>
								<label for="type1">Все</label>
							.filter-sort__unit
								<input id="type2" type="radio" name="period" value="Старт продаж">
								<label for="type2">Старт продаж</label>
							.filter-sort__unit
								<input id="type3" type="radio" name="period" value="Строительство">
								<label for="type3">Строительство</label>
							.filter-sort__unit
								<input id="type4" type="radio" name="period" value="Завершенные">
								<label for="type4">Завершенные</label>
			.structure__wrapper
				.structure__left
					.structure__items.structure__items--projects
						.structure__item(data-coordinates = "[58.988547, 53.376635]" data-href="project.html")
							a(href="flats-plan.html")
								.structure__pic
									img(src="./img/index/p1.jpg" alt="")
									.structure__status Старт продаж
								.structure__box
									.structure__top
										.structure__bloc
											.structure__article Современный дом в центре города
											.structure__adres по Завенягина, рядом с парком
										.structure__price от 1,5 млн руб.
									.structure__midle
										.structure_info Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas varius tortor nibh, sit amet tempor nibh finibus et. Aenean eu enim justo. Vestibulum aliquam hendrerit molestie. Mauris malesuada nisi sit amet augue accumsan tincidunt. Maecenas tincidunt, velit ac porttitor pulvinar.
							.structure__bottom
								.structure__floor
									.structure__ic
									.structure__qty 132
									a(href="javascript:void(0)").structure__ref свободные квартиры
								.structure__date срок сдачи: <span>1 апреля 2020</span>
						.structure__item(data-coordinates = "[59.089068, 53.379590]" data-href="project.html")
							a(href="flats-plan.html")
								.structure__pic
									img(src="./img/index/p1.jpg" alt="")
									.structure__status Старт продаж
								.structure__box
									.structure__top
										.structure__bloc
											.structure__article Современный дом в центре города
											.structure__adres по Завенягина, рядом с парком
										.structure__price от 1,5 млн руб.
									.structure__midle
										.structure_info Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas varius tortor nibh, sit amet tempor nibh finibus et. Aenean eu enim justo. Vestibulum aliquam hendrerit molestie. Mauris malesuada nisi sit amet augue accumsan tincidunt. Maecenas tincidunt, velit ac porttitor pulvinar.
							.structure__bottom
								.structure__floor
									.structure__ic
									.structure__qty 132
									a(href="javascript:void(0)").structure__ref свободные квартиры
								.structure__date срок сдачи: <span>1 апреля 2020</span>
						.structure__item(data-coordinates = "[58.986499, 53.376883]" data-href="project.html")
							a(href="flats-plan.html")
								.structure__pic
									img(src="./img/index/p1.jpg" alt="")
									.structure__status Старт продаж
								.structure__box
									.structure__top
										.structure__bloc
											.structure__article Современный дом в центре города
											.structure__adres по Завенягина, рядом с парком
										.structure__price от 1,5 млн руб.
									.structure__midle
										.structure_info Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas varius tortor nibh, sit amet tempor nibh finibus et. Aenean eu enim justo. Vestibulum aliquam hendrerit molestie. Mauris malesuada nisi sit amet augue accumsan tincidunt. Maecenas tincidunt, velit ac porttitor pulvinar.
							.structure__bottom
								.structure__floor
									.structure__ic
									.structure__qty 132
									a(href="javascript:void(0)").structure__ref свободные квартиры
								.structure__date срок сдачи: <span>1 апреля 2020</span>
						.structure__item.structure__item--special(data-coordinates = "[58.986310, 53.375217]" data-href="project.html")
							a(href="flats-plan.html")
								.structure__pic
									img(src="./img/index/p1.jpg" alt="")
									.structure__status Старт продаж
								.structure__box
									.structure__top
										.structure__bloc
											.structure__article Современный дом в центре города
											.structure__adres по Завенягина, рядом с парком
										.structure__price от 1,5 млн руб.
									.structure__midle
										.structure_info Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas varius tortor nibh, sit amet tempor nibh finibus et. Aenean eu enim justo. Vestibulum aliquam hendrerit molestie. Mauris malesuada nisi sit amet augue accumsan tincidunt. Maecenas tincidunt, velit ac porttitor pulvinar.
							.structure__bottom
								.structure__floor
									.structure__ic
									.structure__qty 132
									a(href="javascript:void(0)").structure__ref свободные квартиры
								.structure__date срок сдачи: <span>1 апреля 2020</span>
						.structure__item.structure__item--special(data-coordinates = "[58.987253, 53.376125]" data-href="project.html")
							a(href="flats-plan.html")
								.structure__pic
									img(src="./img/index/p1.jpg" alt="")
									.structure__status Старт продаж
								.structure__box
									.structure__top
										.structure__bloc
											.structure__article Современный дом в центре города
											.structure__adres по Завенягина, рядом с парком
										.structure__price от 1,5 млн руб.
									.structure__midle
										.structure_info Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas varius tortor nibh, sit amet tempor nibh finibus et. Aenean eu enim justo. Vestibulum aliquam hendrerit molestie. Mauris malesuada nisi sit amet augue accumsan tincidunt. Maecenas tincidunt, velit ac porttitor pulvinar.
							.structure__bottom
								.structure__floor
									.structure__ic
									.structure__qty 132
									a(href="javascript:void(0)").structure__ref свободные квартиры
								.structure__date срок сдачи: <span>1 апреля 2020</span>
						include ../modules/preloader
					.structure__catalog
						.structure__info Каталог квартир на обмен
						a(href="flats-plan.html").structure__count 64 квартиры 
				.structure__right
					.structure__map.structure__map--projects
						.structure__inner
							#map-projects(data-center="[58.985550, 53.377120]")
			.structure__note
				.structure__word Узнайте больше о проектах или запишитесь на экскурсию. Оставьте свой номер, и мы перезвоним вам в течение рабочего дня.	
				a(href="").btn.btn--decor.btn--black
					.btn__cover
						.btn__button
							.btn__line
								+svg('arr')
							.btn__figure
								+svg('figure')
								.btn__decor
									+svg('arr')
						.btn__button.btn__button--laptop 
							+svg('phone')
					.btn__txt Заказать обратный звонок
block script