extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page';

block content
	.b-container
		.wrapper
			.wrapper__left
				.menu-content
					.menu-content__inner
						a(href="#trade").menu-content__li.menu-content__li--active Ипотека
						a(href="#due").menu-content__li Рассрочка
						a(href="#swap").menu-content__li Обмен
			.wrapper__right
				.trade
					#trade.trade__bloc
						.trade__tiitle.title-1 Ипотека
						.trade__txt But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. 
						.trade__txt Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?
					.trade__calc
						.trade__inner
							include ../modules/calc
					#due.trade__bloc
						.trade__tiitle.title-2 Рассрочка
						.trade__txt But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. 
						.trade__txt Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?
					#swap.trade__bloc
						.trade__tiitle.title-2 Обмен
						.trade__txt But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. 
						.trade__txt Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?
		.structure__note.structure__note--mf40
			.structure__word Узнайте больше о проектах или запишитесь на экскурсию. Оставьте свой номер, и мы перезвоним вам в течение рабочего дня.	
			a(href="").btn.btn--decor.btn--black
				.btn__cover
					.btn__button
						.btn__line
							+svg('arr')
						.btn__figure
							+svg('figure')
							.btn__decor
								+svg('arr')
					.btn__button.btn__button--laptop 
						+svg('phone')
				.btn__txt Заказать обратный звонок
block script
