.flats-detailed {
    &__wrapper {
        display: flex;
        margin-top: 90px;
        justify-content: space-between;

        @media(max-width: 992px) {
            flex-direction: column;
            align-items: center;
            margin-top: 45px;
        }
    }

    &__left {
        width: 626px;
        margin-right: 84px;
        padding-top: 56px;

        @media(max-width: 1300px) {
            width: 540px;
            margin-right: 60px;
        }

        @media(max-width: 1235px) {
            margin-right: 35px;
            width: 495px;
        }

        @media(max-width: 1024px) {
            width: 480px;
        }

        @media(max-width: 992px) {
            width: 348px;
            margin-right: 0;
            padding-top: 0;
        }

        @media(max-width: 768px) {
            margin-right: 0;
        }

        @media(max-width: 600px) {
            width: 321px;
        }
    }

    &__right {
        padding-top: 11px;
        width: calc(100% - 513px - 97px);
        overflow: hidden;
        padding-bottom: 15px;

        @media(max-width: 1300px) {
            width: calc(100% - 540px - 60px);
        }

        @media(max-width: 1235px) {
            width: calc(100% - 495px - 35px);
            width: 100%;
        }

        @media(max-width: 1024px) {
            width: calc(100% - 480px - 35px);
        }

        @media(max-width: 992px) {
            width: 100%;
            max-width: 520px;
            padding-bottom: 0;
        }

        @media(max-width: 768px) {
            padding-top: 0;
            margin-top: 40px;
        }

        @media(max-width: 500px) {
            margin-top: 30px;
        }

        .btn {
            margin-top: 40px;
        }
    }
}