.flats-info {
    height: 100%;

    &__items {
        display: flex;
        flex-wrap: wrap;
        margin-left: -80px;
        max-width: 407px;
        width: 100%;
        margin-top: -16px;
    }

    &__item {
        width: calc(50% - 80px);
        margin-left: 80px;
        margin-top: 18px;
        line-height: 26px;
    }

    &__content {
        margin-top: 32px;

        .flats-info {
            &__txt {
                padding-top: 8px;
            }
        }
    }

    &__blocs {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-left: -40px;
        margin-top: -19px;
        max-width: 503px;
        width: 100%;
    }

    &__bloc {
        display: flex;
        align-items: center;
        width: calc(50% - 40px);
        margin-left: 40px;
        margin-top: 19px;
    }

    &__ic {
        width: 40px;
        height: 40px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        margin-right: 9px;
    }

    &__unit {
        display: flex;
        align-items: center;
    }

    &__num {
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 48px;
        letter-spacing: 1px;
        margin-right: 32px;
    }

    &__price {
        margin-top: 82px;
    }

    &__word {
        max-width: 148px;
        width: 100%;
        line-height: 26px;
    }

    &__link {
        position: relative;
        display: inline-block;
        margin-top: 16px;
        line-height: 17px;

        &:after {
            position: absolute;
            content: "";
            width: 100%;
            height: 1px;
            background-color: $black-1;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }

    &__char {
        transition: 400ms ease;
    }

    &__module {
        display: flex;
        align-items: center;

        &:first-child {
            margin-right: 52px;
        }

        &:hover .flats-info__char {
            color: $ochre;
        }

        &:hover path {
            fill: none;
            stroke: $ochre;
        }
    }

    &__pic {
        height: 40px;
        margin-right: 8px;

        path {
            transition: 400ms ease;
        }
    }

    &__func {
        display: flex;
        align-items: center;
        margin-top: 40px;
    }

    .btn {
        margin-top: 39px;
        margin-left: 4px;
    }
}