.flats-calc {
    margin-top: 76px;

    &__row {
        &:not(:first-child) {
            margin-top: 38px;
        }

        &--savings {
            max-height: 0;
            overflow: hidden;
            transition: .3s;
            padding-right: 10px;
            transform: translateX(10px);
        }

        &--active {
            opacity: 1;
            display: block;
            max-height: 88px;
            padding-bottom: 6px;
            margin-bottom: 27px;
        }
    }

    &__bloc {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    &__grid {
        display: flex;
    }

    &__left {
        max-width: 545px;
        width: 100%;
        margin-right: 68px;
    }

    &__box {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        margin-top: 20px;
    }

    &__wrapper {
        margin-top: 37px;
    }

    &__block {
        display: flex;
        justify-content: space-between;
    }

    &__article {
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.3px;
    }

    &__start,
    &__end {
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.3px;
    }

    &__input {
        color: $gray-1;
        transition: .3s;

        &:focus,
        &:active {
            color: $black-1;
        }

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }
    }

    &__special {
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 11px
    }

    &__check {
        -ms-user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;

        &:first-child {
            margin-right: 60px;
        }

        input {
            display: none;

            &:checked+label:before {
                content: "";
                background-image: url('../img/icon/ok.svg');
                text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
                font-size: 15px;
                text-align: center;
                line-height: 15px;
                border-color: $ochre;
            }
        }

        label {
            cursor: pointer;
            position: relative;
            padding-left: 31px;
        }

        label:before {
            content: "";
            display: inline-block;
            width: 26px;
            height: 24px;
            margin-right: 10px;
            position: absolute;
            left: 0;
            bottom: 0;
            top: -2px;
            background-color: none;
            box-shadow: none;
            border: 2px solid #E1E1E1;
            box-sizing: border-box;
            border-radius: 7px;
            transition: 400ms ease;
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    &__item {
        height: 37px;

        &:first-child {
            max-width: 230px;
            width: 100%;
            padding-bottom: 20px;
            border-bottom: 1px solid $gray-1;
        }

        &:last-child {
            max-width: 280px;
            width: 100%;
        }

        input {
            height: 25px;
            background-color: transparent;

            &::placeholder {
                color: $gray-1;
            }
        }
    }

    &__range {
        margin-top: 5px;
        height: 1px;

        .noUi-handle-upper {
            display: none;
        }

        .noUi-base {
            background-color: $gray-1;
            height: 1px;
        }

        .noUi-connect {
            background-color: $gray-1;
        }

        .noUi-handle {
            top: 0;
            bottom: 0;
            margin: auto;
            width: 11px;
            height: 11px;
            border-radius: 50%;
            right: 0;
            background-color: $basic;
            box-shadow: none;
            cursor: pointer;

            &:before,
            &:after {
                content: none;
            }
        }

        .noUi-handle-lower {
            right: -9px;
        }

        .noUi-handle-upper {
            right: -2px;
        }
    }

    &__right {
        max-width: 610px;
        width: 100%;
    }

    &__about {
        margin-top: 54px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 545px;
        width: 100%;
    }

    &__link {
        position: relative;

    }
}