.flats-basic {
    padding-top: 54px;
    background-color: $gray-3;
    margin-top: 51px;
    padding-bottom: 70px;

    &__ic {
        position: relative;
        width: 15px;
        height: 15px;
        margin-right: 13px;

        &:after,
        &:before {
            position: absolute;
            content: "";
            width: 1.5px;
            background-color: $black-1;
            height: 100%;
            bottom: 0;
            left: 0;
            right: 0;
            top: 0;
            margin: auto;
            transition: .4s ease;
        }

        &:after {
            transform: rotate(45deg);
        }

        &:before {
            transform: rotate(-45deg);
        }
    }

    &__close {
        display: inline-flex;
        align-items: center;
        background-color: transparent;
        padding: 0;
        cursor: pointer;
        transition: .4s ease;

        &:hover {
            color: $ochre;

            .flats-basic__ic:after {
                background-color: $ochre;
            }

            .flats-basic__ic:before {
                background-color: $ochre;
            }
        }

        .flats-basic__text {
            margin-right: 0;
        }
    }

    &__text {
        margin-right: 7px;
    }

    &__module {
        display: flex;
        align-items: center;

        &:not(:last-child) {
            margin-right: 24px;
        }
    }

    &__word {
        margin-right: 32px;
    }

    &__sort {

        &:first-child {
            label {
                transform: scale(1, -1);
            }
        }

        & label {
            display: flex;
            cursor: pointer;
            position: relative;
            transition: 400ms ease;
            width: 10px;
            height: 10px;

            &:hover {
                .b-svg {
                    stroke: $ochre;
                }
            }

            .b-svg {
                height: 100%;
                width: 100%;
                fill: transparent;
                stroke: $black-1;
                stroke-width: 2px;
                transition: .4s ease;
            }
        }

        & input[type=radio]:checked+label {
            .b-svg {
                stroke: $ochre;
            }
        }

        & input {
            display: none;
        }
    }

    &__filter,
    &__group {
        display: flex;
    }

    &__filter {
        @media(max-width: 992px) {
            display: none;
        }
    }

    &__group {
        margin-right: 40px;
    }

    &__inner {
        padding: 0 0 0 30px;

        @media(max-width: 768px) {
            padding: 0;
        }
    }

    &__bloc {
        letter-spacing: 0.3px;
        line-height: 26px;
        margin-right: 30px;

        @media(max-width: 1235px) {
            margin-right: 17px;
        }

        @media(max-width: 1024px) {
            font-size: 14px;
            line-height: 24px;
        }

        @media(max-width: 768px) {
            font-size: 12px;
            line-height: 22px;
        }
    }

    &__link {
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0.3px;
        text-transform: uppercase;
        color: $black-1;
        margin-left: auto;
        transition: 400ms ease;

        @media(max-width: 1024px) {
            font-size: 16px;
            line-height: 22px;
        }

        @media(max-width: 768px) {
            font-size: 14px;
            line-height: 21px;
        }

        &:hover {
            color: $ochre;
        }
    }

    &__info {
        @media(max-width: 1024px) {
            font-size: 14px;
            line-height: 24px;
        }

        @media(max-width: 768px) {
            font-size: 12px;
            line-height: 22px;
        }

        sup {
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 19px;
            letter-spacing: 0.3px;
        }
    }

    &__bottom {
        display: flex;
        align-items: flex-end;
        margin-top: 24px;

        @media(max-width: 768px) {
            margin-top: 20px;
        }
    }

    &__adres {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.3px;

        @media(max-width: 1024px) {
            font-size: 14px;
            line-height: 24px;
            margin-top: 3px;
        }

        @media(max-width: 640px) {
            margin-top: 10px;
        }
    }

    &__price {
        font-style: normal;
        font-weight: bold;
        font-size: 26px;
        line-height: 28px;
        letter-spacing: 1px;
        color: $black-1;
        margin-top: 16px;

        @media(max-width: 1024px) {
            font-size: 24px;
            line-height: 26px;
        }

        @media(max-width: 768px) {
            font-size: 23px;
            line-height: 24px;
        }

        @media(max-width: 600px) {
            font-size: 22px;
            line-height: 23px;
        }


    }

    &__cover {
        background-color: white;
        padding: 37px 61px 42px 32px;
        transition: 400ms ease;

        @media(max-width: 1235px) {
            padding: 30px 30px 30px 30px;
        }

        @media(max-width: 620px) {
            padding: 30px 15px;
        }
    }

    &__qty {
        margin-right: auto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.3px;

        @media(max-width: 1024px) {
            font-size: 14px;
            line-height: 24px;
        }
    }

    &__img {
        width: 186px;
        height: 215px;
        margin-top: 48px;

        @media(max-width: 1235px) {
            margin-top: 30px;
        }

        @media(max-width: 1024px) {
            width: 150px;
            height: 172px;
        }

        @media(max-width: 640px) {
            width: 138px;
            height: 160px;
            margin-top: 22px;
        }


        img {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }

    &__box {
        margin-top: 32px;

        @media(max-width: 540px) {
            max-width: 320px;
            margin: 0 auto;
        }
    }

    &__menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__item {
        display: flex;
        flex-direction: column;
        width: calc(33.333% - 20px);
        margin-left: 20px;
        background-color: white;
        cursor: pointer;
        transition: 400ms ease;
        margin-top: 20px;

        @media(max-width: 992px) {
            width: calc(50% - 20px);
            margin-left: 20px;
        }

        @media(max-width: 540px) {
            width: 100%;
            margin-left: 0;
        }

        &:hover {
            //filter: drop-shadow(0px 0px 30px rgba(0, 0, 0, 0.1));
            box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
        }

        &:hover {
            .flats-basic__cover {
                background-color: $ochre-2;
            }
        }
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        margin-left: -20px;
        margin-top: -20px;

        @media(max-width: 540px) {
            width: 100%;
            margin-left: 0;
        }
    }

    &__plan {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 22px 61px 57px 32px;

        @media(max-width: 1235px) {
            padding: 22px 30px 25px;
        }

        @media(max-width: 1024px) {
            padding: 16px 30px 20px;
        }

        @media(max-width: 620px) {
            padding: 16px 15px 20px;
        }
    }

    // .current_page_item label {
    //     font-size: 18px;
    // }

    label {
        transition: .4s;
    }
}