.thank {
    $strokeColor: #B8B8B8;
    $heartColor: #E21737;
    $size: 180px; // change this to manipulate overall size
    $totalAnim: 7s;
    $delay: 1s;
    $squareLen: 240;
    $circleLen: 188.522;
    $heartLen: 308.522;
    $svgSize: 90px;
    $circleW: 60px;

    &__bloc {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 66px;
        text-align: center;

        @media(max-width: 1024px) {
            margin-top: 40px;
        }
    }

    &__text {
        max-width: 515px;
        width: 100%;
        letter-spacing: 0.5px;
        line-height: 25px;
        margin: 19px auto 0;
    }

    .btn {
        margin-bottom: 15px;
        margin-top: 40px;
        padding-right: 27px;

        @media(max-width: 1024px) {
            margin-top: 30px;
            padding-right: 0;
        }

        @media(max-width: 600px) {
            margin-top: 25px
        }
    }




    .heart-loader {
        position: relative;
        display: block;
        margin-top: $size/-2;
        width: 180px;
        height: 180px;
        overflow: visible;
        margin: 0 auto;
        left: 84px;

        @media(max-width: 1024px) {
            width: 140px;
            height: 140px;
            left: 70px;
        }

        @media(max-width: 768px) {
            width: 110px;
            height: 110px;
            left: 55px;
        }

        @media(max-width: 500px) {
            width: 90px;
            height: 90px;
            left: 45px;
        }

        &__group {
            transform-origin: 0 $svgSize;
            animation: group-anim $totalAnim $delay infinite;
        }

        &__square {
            stroke: $strokeColor;
            stroke-dasharray: $squareLen, $squareLen;
            stroke-dashoffset: $squareLen;
            animation: square-anim $totalAnim $delay infinite;
        }

        &__circle {
            stroke: $strokeColor;
            stroke-dasharray: $circleLen, $circleLen;
            stroke-dashoffset: $circleLen;
            transform-origin: $circleW $circleW/2;

            &.m--left {
                animation: left-circle-anim $totalAnim $delay infinite;
            }

            &.m--right {
                animation: right-circle-anim $totalAnim $delay infinite;
            }
        }

        &__heartPath {
            stroke: $heartColor;
            fill: transparent;
            stroke-dasharray: $heartLen, $heartLen;
            stroke-dashoffset: $heartLen;
            animation: heart-anim $totalAnim $delay infinite;
        }
    }

    @keyframes square-anim {
        12% {
            stroke-dashoffset: 0;
        }

        43% {
            stroke-dashoffset: 0;
            opacity: 1;
        }

        85% {
            stroke-dashoffset: 0;
            opacity: 0;
        }

        100% {
            stroke-dashoffset: 0;
            opacity: 0;
        }
    }

    @keyframes left-circle-anim {
        12% {
            stroke-dashoffset: $circleLen;
        }

        31% {
            stroke-dashoffset: 0;
            transform: translateY(0);
        }

        41% {
            stroke-dashoffset: 0;
            transform: translateY($circleW/-2);
        }

        43% {
            stroke-dashoffset: 0;
            transform: translateY($circleW/-2);
            opacity: 1;
        }

        85% {
            stroke-dashoffset: 0;
            transform: translateY($circleW/-2);
            opacity: 0;
        }

        100% {
            stroke-dashoffset: 0;
            transform: translateY($circleW/-2);
            opacity: 0;
        }
    }

    @keyframes right-circle-anim {
        12% {
            stroke-dashoffset: $circleLen;
        }

        31% {
            stroke-dashoffset: 0;
            transform: translateX(0);
        }

        41% {
            stroke-dashoffset: 0;
            transform: translateX($circleW/2);
        }

        43% {
            stroke-dashoffset: 0;
            transform: translateX($circleW/2);
            opacity: 1;
        }

        85% {
            stroke-dashoffset: 0;
            transform: translateX($circleW/2);
            opacity: 0;
        }

        100% {
            stroke-dashoffset: 0;
            transform: translateX($circleW/2);
            opacity: 0;
        }
    }

    @keyframes group-anim {
        43% {
            transform: rotate(0);
        }

        54% {
            transform: rotate(-45deg);
        }

        90% {
            transform: rotate(-45deg);
            opacity: 1;
        }

        97% {
            transform: rotate(-45deg);
            opacity: 0;
        }

        100% {
            transform: rotate(-45deg);
            opacity: 0;
        }
    }

    @keyframes heart-anim {
        55% {
            stroke-dashoffset: $heartLen;
            fill: transparent;
        }

        70% {
            stroke-dashoffset: 0;
            fill: transparent;
        }

        87% {
            stroke-dashoffset: 0;
            fill: $heartColor;
        }

        100% {
            stroke-dashoffset: 0;
            fill: $heartColor;
        }
    }

}