include ../mixins
block variables

doctype html
html(lang="ru-RU")
	head
		meta(charset="utf-8")
		title #{title}
		<!--[if IE]>
		meta(http-equiv='X-UA-Compatible', content="IE = edge")
		<![endif]-->
		meta(name="viewport" content="width=device-width,initial-scale=1")
		meta(name="keywords" content="")
		link(rel="stylesheet" type='text/css' href="css/main.css")
		<script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
		<script src='https://api.mapbox.com/mapbox-gl-js/v1.8.0/mapbox-gl.js'></script>
		<link href='https://api.mapbox.com/mapbox-gl-js/v1.8.0/mapbox-gl.css' rel='stylesheet' />
		<script src='https://api.mapbox.com/mapbox.js/v3.3.1/mapbox.js'></script>
		<link href='https://api.mapbox.com/mapbox.js/v3.3.1/mapbox.css' rel='stylesheet' />

		<!--[if lt IE 9]>
		script(src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
		//- script
		//- 	document.createElement('header');
		//- 	document.createElement('nav');
		//- 	document.createElement('section');
		//- 	document.createElement('article');
		//- 	document.createElement('aside');
		//- 	document.createElement('footer');
		<![endif]-->
	body
		.b-page
			include ../modules/header
			block content
			include ../modules/footer
		script(src="js/libs-min.js")
		script(src="js/main-min.js")
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Clamp.js/0.5.1/clamp.min.js"></script>
		script(src="js/jquery-ui.min.js")
		block script
		